{% set routeName = 'modules:view' %}
{% if isTrash %}
    {% set routeName = 'trash:view' %}
{% endif %}

{% set buttonClasses = 'button button-text-white is-width-auto' %}

<a {% if Perms.canRead(object.type) %}href="{{ Url.build({'_name': routeName, 'object_type': object.type, 'id': object.id}) }}"{% endif %}
    class="table-row object-status-{{ object.attributes.status }} {{ Layout.publishStatus(object | default({})) }}">

        <div class="select-cell narrow" @click="selectRow">
            {{ Form.unlockField('oneItem') }}
            <input type="checkbox" name="oneItem" value="{{ object.id }}" v-model="selectedRows" {% if not Perms.canRead(object.type) %}disabled="disabled"{% endif %}>
        </div>

        <div class="thumb-cell narrow">
            {%- if not isTrash %}
                {% element 'Modules/thumb' { 'object': object } %}
            {% endif -%}
        </div>

        {% for prop in properties %}
            {% if (prop == 'date_ranges') %}
                <div class="{{ prop }}-cell">
                    {% element 'Modules/index_properties_date_ranges' { dateRanges: object.attributes[prop] } %}
                </div>
            {% else %}
                <div class="{{ prop }}-cell" untitled-label="{{ __('Untitled') }}">
                    {{ Property.value(object, prop)|striptags|truncate(100) }}
                </div>
            {% endif %}
        {% endfor %}

        {% if currentModule.hints.multiple_types %}
            <div class="type-cell"><span class="tag has-background-module-{{ object.type }}">{{ Layout.typeLabel(object.type) }}</span></div>
        {% endif %}

        {% if object.attributes.status %}
            <div class="narrow">{{ object.attributes.status }}</div>
        {% endif %}

        {% if object.meta.modified %}
            <div class="narrow">{{ Time.format(object.meta.modified, 'd MMM YYYY') }} &nbsp; {{ Time.format(object.meta.modified, 'HH:mm') }}</div>
        {% endif %}

        <div class="narrow">{{ object.id }}</div>

        {# COMMANDS #}
        <div class="buttons-cell narrow">
        {% if isTrash %}

            {% if Perms.canSave(object.type) %}
                {{ Form.postButton(__('Restore'),
                    {'_name': 'trash:restore'},
                    {
                        'data': {'ids': object.id, 'query': q},
                        'title': __('Restore') ~ ' ' ~ object.attributes.title|escape,
                        'class': buttonClasses,
                    }
                )|raw }}
            {% endif %}

            {% if Perms.canDelete(object) %}
                {{ Form.postButton(__('Delete'),
                    {'_name': 'trash:delete'},
                    {
                        'data': {'ids': object.id, 'query': q},
                        'class': buttonClasses,
                        'title': __('Permanently delete') ~ ' ' ~ object.attributes.title|escape,
                        'onclick': confirm,
                    }
                )|raw }}
            {% endif %}

        {% else %}

            {% if Perms.canRead(object.type) %}
            <button
                title="{{ __('Edit') }} {{ object.attributes.title }}"
                class="{{ buttonClasses }}">{{ __('Edit') }}</button>
            {% endif %}

            {% if Perms.canDelete(object) %}
                {{ Form.postButton(__('Trash-verb'),
                    {'_name': 'modules:delete', 'object_type': object.type},
                    {
                        'data': {'id': object.id},
                        'title': __('Move to trash') ~ ' ' ~ object.attributes.title|escape,
                        'class': buttonClasses,
                    }
                )|raw}}
            {% endif %}

        {% endif %}
        </div>
</a>
