<nav class="table-header has-border-module-{{ currentModule.name }}">
    <div class="select-cell narrow" @click="toggleAll">
        <input type="checkbox" ref="checkAllCB">
    </div>

    <div></div> {# thumb column #}

    {% for prop in properties %}
        <div class="{{ Link.sortClass(prop) }}">
            {{ Link.sort(prop) }}
        </div>
    {% endfor %}

    {% if currentModule.hints.multiple_types %}
        <div>{{ __('type') }}</div>
    {% endif %}

    <div class="narrow">{{ __('status') }}</div>

    <div class="{{ Link.sortClass('modified') }}">
        {{ Link.sort('modified')}}
    </div>

    <div class="narrow {{ Link.sortClass('id') }}">
        {{ Link.sort('id')}}
    </div>

    <div></div>
</nav>
