{% do _view.assign('title', __('Login')) %}
{% do _view.setLayout('simple') %}

<div class="login">
    {{ Form.create(null, {
        'url': {'_name': 'login'},
    })|raw }}

    <fieldset>
        {{ Form.control('username', {
            'autocomplete': 'username',
            'autocorrect': 'off',
            'autocapitalize': 'off',
            'spellcheck': 'false',
            'label': {'text': __('Username')}
        })|raw }}
        {{ Form.control('password', {
            'autocomplete': 'current-password',
            'label': {'text': __('Password')}
        })|raw }}

        {{ Form.submit(__('Sign in'))|raw }}
    </fieldset>

    {{ Form.end()|raw }}
</div>
