{{ _view.assign('title', __('Login')) }}

<div class="login">
    {{ Form.create(null, {
        'url': {'_name': 'login'},
    })|raw }}
    <fieldset>
        {{ Form.label('username', __('Username'))|raw }}
        {{ Form.text('username')|raw }}
        {{ Form.label('password', __('Password'))|raw }}
        {{ Form.password('password')|raw }}

        {{ Form.submit('Enter')|raw }}
    </fieldset>
    {{ Form.end()|raw }}
</div>
