{% do _view.assign('title', __('Login')) %}

<div class="tpl-login">
    {{ Form.create(null, {
        'url': {'_name': 'login'},
    })|raw }}

    {{ Form.control('username', {
        'autocomplete': 'username',
        'autocorrect': 'off',
        'autocapitalize': 'off',
        'spellcheck': 'false',
        'placeholder': 'e.g. john@example.com',
        'label': false,
    })|raw }}
    <label>{{ __('Username') }}</label>
    {{ Form.control('password', {
        'autocomplete': 'current-password',
        'placeholder': '••••••',
        'label': false,
    })|raw }}
    <label>{{ __('Password') }}</label>

    {{ Form.submit(__('Sign in'))|raw }}

    {{ Form.end()|raw }}
</div>
