{% do _view.assign('title', __('Translations')) %}
{% set languages = config('I18n.languages') %}

{{ element('Modules/index_header', { 'meta': meta, 'filter': filter, 'Schema': Schema }) }}

{% set ids = Array.extract(objects, '{*}.id') %}
<modules-index inline-template ids='{{ ids|json_encode }}'>

    <div class="module-index">

        <div class="table-container">

            <div class="list-objects">

                {% if objects %}
                    <nav class="table-header has-border-module-translations">
                        <div class="select-cell narrow" @click="toggleAll">
                            <input type="checkbox" ref="checkAllCB">
                        </div>
                        <div>{{ __('Translation') }}</div>
                        <div>{{ __('From') }}</div>
                        <div>{{ __('To') }}</div>
                        <div>{{ __('Status') }}</div>
                        <div>{{ __('Modified') }}</div>
                        <div>{{ __('Translated object') }}</div>
                        <div></div>
                    </nav>
                {% endif %}
                {% for object in objects %}
                    {% set translated = object.relationships.object.data %}
                    {% set url = Url.build({
                        '_name': 'translations:edit',
                        'object_type': translated.type,
                        'id': object.attributes.object_id,
                        'lang': object.attributes.lang
                    }, {'fullBase': true}) %}
                    {% set objectUrl = Url.build({
                            '_name': 'modules:view',
                            'id': translated.id,
                            'object_type': translated.type,
                    }, {'fullBase': true}) %}

                    <a data-id="{{ object.id }}"
                        class="table-row object-status-{{ object.attributes.status }} {{ Layout.publishStatus(object | default({})) }}"
                        {% if Perms.canRead(object.type) %}href="{{ url }}"{% endif %}>
                        <div class="select-cell narrow" @click="selectRow">
                            <input type="checkbox" name="oneItem" value="{{ object.id }}" v-model="selectedRows" {% if not Perms.canRead(object.type) %}disabled="disabled"{% endif %}>
                        </div>
                        <div class="narrow">
                            {{ object.attributes.translated_fields.title|truncate(80)|default('no title') }}
                        </div>
                        <div class="narrow">
                            {% if translated.attributes.lang %}
                                {{ languages[translated.attributes.lang] }}
                            {% endif %}
                        </div>
                        <div class="narrow">
                            {% if object.attributes.lang %}
                                {{ languages[object.attributes.lang] }}
                            {% endif %}
                        </div>
                        <div class="narrow">{{ object.attributes.status }}</div>
                        <div class="narrow">{{ Time.format(object.meta.modified, 'd MMM YYYY') }} &nbsp; {{ Time.format(object.meta.modified, 'HH:mm') }}</div>
                        <div class="narrow">
                            <span class="tag has-background-module-{{ translated.type }}">{{ translated.type }}</span>
                        </div>
                        <div class="buttons-cell narrow">
                            <button @click.prevent="goto('{{ url }}')" title="{{ __('Edit') }} {{ object.attributes.title }}" class="button button-text-white is-width-auto">
                                <icon-launch></icon-launch>
                                <span class="ml-05">{{ __('Edit') }}</span>
                            </button>
                            {% if Perms.canRead(object.type) %}
                                <button @click.prevent="goto('{{ objectUrl }}')" title="{{ __('Edit') }} {{ object.attributes.title }}" class="button button-text-white is-width-auto">
                                    <icon-launch></icon-launch>
                                    <span class="ml-05">{{ __('Original') }}</span>
                                </button>
                            {% endif %}
                        </div>
                    </a>
                {% else %}
                    {{ __('No items found') }}
                {% endfor %}

            </div>

        </div>

        <div class="module-footer">
            {# bulk actions #}
            {% if objects %}
            <div class="bulk-actions">
                <div>
                    {{ element('Form/bulk_export') }}
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</modules-index>
