{% do _view.assign('title', __('Translations')) %}
{% set languages = config('I18n.languages') %}

{{ element('Modules/index_header', { 'meta': meta, 'filter': filter, 'Schema': Schema }) }}

{% set ids = Array.extract(objects, '{*}.id') %}
<modules-index inline-template ids='{{ ids|json_encode }}'>

    <div class="module-index">

        <div class="table-container">

            <div class="list-objects">

                {% if objects %}
                    <nav class="table-header has-border-module-translations">
                        <div>{{ __('Translation') }}</div>
                        <div>{{ __('From') }}</div>
                        <div>{{ __('To') }}</div>
                        <div>{{ __('Status') }}</div>
                        <div>{{ __('Modified') }}</div>
                        <div>{{ __('Translated object') }}</div>
                        <div></div>
                    </nav>
                {% endif %}
                {% for object in objects %}
                    {% set translated = object.relationships.object.data %}
                    {% set url = Url.build({
                        '_name': 'translations:edit',
                        'object_type': translated.type,
                        'id': object.attributes.object_id,
                        'lang': object.attributes.lang
                    }, {'fullBase': true}) %}
                    {% set objectUrl = Url.build({
                            '_name': 'modules:view',
                            'id': translated.id,
                            'object_type': translated.type,
                    }, {'fullBase': true}) %}

                    <div class="table-row object-status-{{ object.attributes.status }}">
                        <div class="narrow">
                            <a {% if Perms.canRead(object.type) %}href="{{ url }}"{% endif %}>
                                    {{ object.attributes.translated_fields.title|default('no title') }}
                            </a>
                        </div>
                        <div class="narrow">
                            {% if translated.attributes.lang %}
                                {{ languages[translated.attributes.lang] }}
                            {% endif %}
                        </div>
                        <div class="narrow">
                            {% if object.attributes.lang %}
                                {{ languages[object.attributes.lang] }}
                            {% endif %}
                        </div>
                        <div class="narrow">{{ __(object.attributes.status) }}</div>
                        <div class="narrow">{{ Time.format(object.meta.modified, 'd MMM YYYY') }} &nbsp; {{ Time.format(object.meta.modified, 'HH:mm') }}</div>
                        <div class="narrow">
                            <span class="tag has-background-module-{{ translated.type }}">{{ translated.type }}</span>
                        </div>
                        <div class="buttons-cell narrow">
                                <a href="{{ url }}" title="{{ __('Edit') }} {{ object.attributes.title }}" class="button button-text-white is-width-auto">
                                {{ __('Edit') }}</a>
                            {% if Perms.canRead(object.type) %}
                                <a href="{{ objectUrl }}" title="{{ __('Edit') }} {{ object.attributes.title }}" class="button button-text-white is-width-auto">
                                    {{ __('Original') }}</a>
                            {% endif %}
                        </div>

                    </div>
                {% else %}
                    {{ __('No items found') }}
                {% endfor %}

            </div>

        </div>

    </div>
</modules-index>
