<div class="filters-container" :class="{ 'filters-container-active': filterActive }">
    <div class="basic-filters">

        <div class="filter-container filter-search input">
            <input type="text"
                form="_filters"
                :placeholder="placeholder"
                v-model.trim="queryFilter.q"
                @keydown.enter.prevent="applyFilter"
            />

            <label v-if="showAdvanced">
                <input type="checkbox" form="_filters" v-model="queryFilter.filter['history_editor']" :initvalue="initHistoryEditor">{{ __('Only my contents') }}</input>
            </label>
        </div>

        <div class="filter-buttons">
            <button class="button button-secondary button-primary-hover-module-{{ currentModule.name }} icon-search"
                @click.prevent="applyFilter"
                type="button"
            >
                {{ __('Search') }}
            </button>

            <button class="button button-outlined icon-cancel" type="button" @click="resetFilter">
                {{ __('Reset filters') }}
            </button>

            <button class="toggle-filters button button-outlined"
                type="button"
                @click="moreFilters = !moreFilters"
                v-if="canShowAdvanced"
            >
                <span v-show="!moreFilters" class="icon-plus">{{ __('More filters') }}</span>
                <span v-show="moreFilters" class="icon-minus">{{ __('Less filters') }}</span>
            </button>
        </div>
    </div>

    <div class="more-filters" v-show="moreFilters">
        {# object type filter #}
        <div class="filter-container search-types" v-if="rightTypes.length > 1">
            <label>{{ __('Type') }}</label>
            <select v-model="selectedType"
                form="_filters"
                class="has-background-gray-700 has-border-gray-700 has-font-weight-light has-text-gray-200 has-text-size-smallest"
            >
                <option selected value="" label="{{ __('All Types') }}"></option>
                <option v-for="type in rightTypes" :value="type"><: t(capitalize(type)) :></option>
            </select>
        </div>

        {# status filter #}
        <div class="filter-container" v-if="statusFilter.options">
            <label>{{ __('Status') }}</label>
            <label v-for="s in statusFilter.options">
                <input type="checkbox" form="_filters" :id="s.value" :name="statusFilter.name" :value="s.value" v-model="selectedStatuses">
                <: s.text :>
            </label>
        </div>

        {# other dynamic filters #}
        <div v-for="filter in dynamicFilters" class="filter-container" :class="[filter.name, filter.type, filter.date ? 'date' : '']">
            <input type="hidden" form="_filters" :name="filter.name" :value="filter.value">
            <label class="filter-label"><: filter.name | humanize :></label>

            <span v-if="filter.name === 'categories'">
                <label>{{ __('Categories') }}</label>

                {% if schemasByType %}
                    {% for type, typeSchema in schemasByType %}
                        <category-picker
                            v-if="queryFilter.filter.type == '{{ type }}'"
                            :categories="{{ typeSchema.categories|json_encode }}"
                            :initial-categories="initCategories"
                            id="category-filter"
                            form="_filters"
                            label=""
                            @change="onCategoryChange"
                        ></category-picker>
                    {% endfor %}
                {% elseif schema %}
                    <category-picker
                        :categories="{{ schema.categories|json_encode }}"
                        :initial-categories="initCategories"
                        id="category-filter"
                        form="_filters"
                        label=""
                        @change="onCategoryChange"
                    ></category-picker>
                {% endif %}
            </span>

            <span v-else-if="filter.name === 'tags'">
                <tag-picker
                    id="tag-filter"
                    form="_filters"
                    :initial-tags="initTags"
                    :searchonly="true"
                    @change="onTagChange"></tag-picker>
            </span>

            <span v-else-if="filter.name === 'parent'" class="position-filter">
                <label>{{ __('Folder') }}</label>

                <folder-picker form="_filters" label="" :initial-folder="initFolder" @change="onFolderChange"></folder-picker>

                <span class="descendants-filter">
                    <label for="descendants">{{ __('Descendants') }}</label>
                    <input
                        id="descendants"
                        form="_filters"
                        type="checkbox"
                        v-model="filterByDescendants"
                        @change="onPositionFilterChange"
                    />
                </span>
            </span>

            <span v-else-if="filter.name === 'date_ranges'" class="date-filter date-ranges-item">
                <div>
                    <input-dynamic-attributes form="_filters" :value.sync="queryFilter.filter['date_ranges']['from_date']" :attrs="filter" />
                </div>
                <div>
                    <input-dynamic-attributes form="_filters" :value.sync="queryFilter.filter['date_ranges']['to_date']" :attrs="filter" />
                </div>
            </span>

            <span v-else-if="filter.type === 'select' || filter.type === 'radio'">
                <select form="_filters" v-model="queryFilter.filter[filter.name]" :id="filter.name">
                    <option value="">
                        {{ __('All') }}
                    </option>
                    <option v-for="option in filter.options" v-if="option.text" :name="option.name" :value="option.value">
                        <: t(option.text) :>
                    </option>
                </select>
            </span>

            <span v-else-if="filter.type === 'checkbox'">
                <label>
                    <input type="radio" form="_filters" v-model="queryFilter.filter[filter.name]" value="">
                    {{ __('Any') }}
                </label>
                <label>
                    <input type="radio" form="_filters" v-model="queryFilter.filter[filter.name]" value="true">
                    {{ __('Yes') }}
                </label>
                <label>
                    <input type="radio" form="_filters" v-model="queryFilter.filter[filter.name]" value="false">
                    {{ __('No') }}
                </label>
            </span>

            <span v-else-if="filter.date">
                <label>{{ __('From') }}
                    <input-dynamic-attributes form="_filters" :value.sync="queryFilter.filter[filter.name]['gte']" :attrs="filter" />
                </label>
                <label>{{ __('To') }}
                    <input-dynamic-attributes form="_filters" :value.sync="queryFilter.filter[filter.name]['lte']" :attrs="filter" />
                </label>
            </span>

            <span v-else-if="filter.type === 'text' || filter.type === 'number'">
                <input-dynamic-attributes form="_filters" :value.sync="queryFilter.filter[filter.name]" :attrs="filter"/>
            </span>
        </div>
    </div>
</div>

<div v-if="filterActive">
    <p class="is-expanded tag icon-filter mt-1">
        {{ __('Data is filtered') }}
    </p>
</div>
