{% do _view.assign('title', currentModule.name|humanize) %}

{% set ids = Array.extract(objects, '{*}.id') %}

<modules-index inline-template ids='{{ ids|json_encode }}'>
    <div class="module-index">
        <div class="list-objects">

            {# list objects : table header #}
            {% if objects %}
            <nav class="table-header">
                <div>
                    {{ Form.checkbox('allItems', { 'v-bind:checked': 'isAllChecked', '@click': 'checkAll' })|raw }}
                </div>

                <div class="thumb-cell"></div>

                {% for prop in properties %}
                    <div>{{ Link.sort(prop) }}</div>
                {% endfor %}
                <div>{{ Link.sort('id')}}</div>
                {% if currentModule.hints.multiple_types %}
                    <div>{{ __('type') }}</div>
                {% endif %}

                <div>{{ __('status') }}</div>
                <div>{{ Link.sort('modified')}}</div>
                <div></div>
            </nav>
            {% endif %}

            {# list objects : rows #}
            {% for object in objects %}
                <a
                    href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id}) }}"
                    title="{{ object.attributes.title }}"
                    class="object-status-{{ object.attributes.status }}">

                        <div class="{{ prop }}-cell">
                            {{ Form.checkbox('oneItem', { 'v-bind:value': object.id, 'v-model': 'checked' })|raw }}
                        </div>

                        <div class="thumb-cell">{% element 'Modules/thumb' { 'object': object } %}</div>

                        {% for prop in properties %}
                            <div class="{{ prop }}-cell">{{ object.attributes[prop] }}</div>
                        {% endfor %}

                        <div>{{ object.id }}</div>

                        {% if currentModule.hints.multiple_types %}
                            <div>{{ object.type }}</div>
                        {% endif %}

                        <div>{{ object.attributes.status }}</div>

                        <div>{{ Time.format(object.meta.modified) }}</div>

                        <div class="buttons">
                        {% if in_array('DELETE', currentModule.hints.allow) %}
                            {{ Form.postButton(__('Delete'), {'_name': 'modules:delete', 'object_type': object.type}, {'class': '', 'data': {'id': object.id}})|raw }}
                        {% endif %}
                        </div>
                </a>
            {% else %}
                {{ __('No items found') }}
            {% endfor %}

        </div> {# end list-objects #}


        {# bulk actions #}
        {% if objects %}
            <div class="bulk-actions">
                <header>
                    <h3>{{ __('Actions on selected items') }}</h3>
                </header>
                <nav>
                    {% if not currentModule.hints.multiple_types %}
                    {{ Form.create(null, {'id': 'form-export', 'url': {'_name': 'export:export', 'object_type': objectType}})|raw }}
                        {{ Form.hidden('ids', {'v-model': 'exportids'})|raw }}
                        {{ Form.hidden('objectType', {'value': objectType})|raw }}
                        {{ Form.unlockField('ids') }}
                        <button @click.prevent="exportSelected">{{ __('Export') }}</button>
                    {{ Form.end()|raw }}
                    {% endif %}

                    {{ Form.create(null, {'id': 'form-status', 'url': {'_name': 'modules:changeStatus', 'object_type': objectType}})|raw }}
                        {{ Form.hidden('ids', {'v-model': 'statusids'})|raw }}
                        <button @click.prevent="changeStatus">{{ __('Set status') }}</button>
                        {{ Form.select('status', { 'on': __('On'), 'draft': __('Draft'), 'off': __('Off') }, { 'v-model': 'status' }) | raw }}
                    {{ Form.end()|raw }}

                    {% if (objects) and in_array('DELETE', currentModule.hints.allow) %}
                        {{ Form.create(null, {'id': 'form-delete', 'url': {'_name': 'modules:delete', 'object_type': objectType}})|raw }}
                            {{ Form.hidden('ids', {'v-model': 'trashids'})|raw }}
                            <button @click.prevent="trash">{{ __('Move to trash') }}</button>
                        {{ Form.end()|raw }}
                    {% endif %}
                </nav>
            </div>
        {% endif %}


        {# commands to append in side bar (commands menu) #}
        {% if in_array('POST', currentModule.hints.allow) %}
            {% do _view.append('commands',
                Html.link(__('Create new'), {'_name': 'modules:create', 'object_type': objectType})|raw
            ) %}
        {% endif %}

        {% do _view.append('commands',
            Html.link(__(''),
                {'_name': 'trash:list', 'filter': {'type': objectType}},
                {'class': 'trashcan icon-trash-2'}
            )
        )%}

    </div> {# end module-content #}
</modules-index>
