<div class="upload-result">
    {% if object.type == 'images' %}
    <div class="image">
        <img src="{{ included.meta.url }}"/>
    </div>
    {% endif %}
    <ul>
        <li>{{ __('Id') }}: {{ object.id}}</li>
        <li>{{ __('Type') }}: {{ object.type}}</li>
        {% if (object.attributes.title) %}
        <li>{{ __('Title') }}: {{ object.attributes.title}}</li>
        {% endif %}
        <li>{{ __('File size') }}: {{ included.meta.file_size }}</li>
    </ul>
</div>
