<div class="bulk-actions">
    <div>
        {{ element('Form/bulk_export') }}
    </div>

    <div class="bulk-header">{{ __('Actions on selected items') }}</div>

    <div :class="[!selectedRows.length ? 'disabled' : '', 'is-flex', 'is-flex-column']">
        {{ element('Form/bulk_properties') }}

        {{ element('Form/bulk_custom') }}

        {{ element('Form/bulk_category') }}

        {{ element('Form/bulk_position') }}

        {{ element('Form/bulk_trash') }}
    </div>
</div>
