<date-ranges-list inline-template>
    <div class="index-date-ranges" :class="showAll? 'show-all' : ''">
        <div>
            {{ Calendar.list(dateRanges)|raw }}
        </div>

        {% if dateRanges|length > 1 %}
            <button class="show-toggle icon icon-only-icon" title="{{ __('More') }}" v-on:click.stop.prevent="showAll = !showAll" v-if="showAll">
                <Icon icon="carbon:subtract"></Icon>
                <span class="is-sr-only">{{ __('More') }}</span>
            </button>
            <button class="show-toggle icon icon-only-icon" title="{{ __('More') }}" v-on:click.stop.prevent="showAll = !showAll" v-else>
                <Icon icon="carbon:add"></Icon>
                <span class="is-sr-only">{{ __('More') }}</span>
            </button>
        {% endif %}
    </div>
</date-ranges-list>
