{% if schema|json_encode == '[false]' %}
    {% set bulkOptions = {
        'schema': {
            'properties': {
                'status': {
                    'type': 'string',
                    'enum': [
                        'on',
                        'off',
                        'draft',
                    ],
                    '$id': '/properties/status',
                    'title': 'Status',
                    'description': 'object status: on, draft, off',
                    'default': 'draft',
                },
            },
        }
    } %}
{% else %}
    {% set bulkOptions = { 'schema': schema } %}
{% endif %}

<div class="bulk-actions">
    <div>
        {{ element('Form/bulk_export') }}
    </div>

    <div class="bulk-header">{{ __('Actions on selected items') }}</div>

    <div :class="[!selectedRows.length ? 'disabled' : '', 'is-flex', 'is-flex-column']">
        {{ element('Form/bulk_properties', bulkOptions) }}

        {{ element('Form/bulk_custom', bulkOptions) }}

        {{ element('Form/bulk_category', bulkOptions) }}

        {{ element('Form/bulk_position', bulkOptions) }}

        {{ element('Form/bulk_trash', bulkOptions) }}
    </div>
</div>
