{% set routeName = 'modules:view' %}
{% if isTrash %}
    {% set routeName = 'trash:view' %}
{% endif %}

<a data-id="{{ object.id }}" {% if Perms.canRead(object.type) %}href="{{ Url.build({'_name': routeName, 'object_type': object.type, 'id': object.id}) }}"{% endif %}
    class="table-row object-status-{{ object.attributes.status }} {{ Layout.publishStatus(object | default({})) }}">

        <div class="select-cell narrow" @click="selectRow">
            <input type="checkbox" name="oneItem" value="{{ object.id }}" v-model="selectedRows" {% if not Perms.canRead(object.type) %}disabled="disabled"{% endif %}>
        </div>

        <div class="thumb-cell narrow">
            {%- if not isTrash %}
                {{ element('Modules/thumb', { 'object': object }) }}
            {% endif -%}
        </div>

        {% for prop in properties %}
            {% if (prop == 'date_ranges') %}
                <div class="{{ prop }}-cell">
                    {{ element('Modules/index_properties_date_ranges', { dateRanges: object.attributes[prop] }) }}
                </div>
            {% else %}
                <index-cell :settings="{{ config('UI.index')|default({'copy2clipboard': false})|json_encode }}" :prop="{{ prop|json_encode }}" :text="{{ Property.value(object, prop)|striptags|json_encode }}">
                </index-cell>
            {% endif %}
        {% endfor %}

        {% if currentModule.hints.multiple_types %}
            <div class="type-cell"><span class="tag has-background-module-{{ object.type }}">{{ Layout.tr(object.type) }}</span></div>
        {% endif %}

        {% if object.attributes.status %}
            <div class="narrow">{{ object.attributes.status }}</div>
        {% endif %}

        {% if object.meta.modified %}
            <div class="narrow">{{ Time.format(object.meta.modified, 'd MMM YYYY') }} &nbsp; {{ Time.format(object.meta.modified, 'HH:mm') }}</div>
        {% endif %}

        <div class="narrow">{{ object.id }}</div>

        {# COMMANDS #}
        <div class="buttons-cell narrow">
        {% if isTrash %}

            {% if Perms.canSave(object.type) %}
                {{ Form.create(null, {'id': 'form-restore-' ~ object.id, 'url': {'_name': 'trash:restore'}})|raw }}
                    {{ Form.hidden('ids', {'value': object.id})|raw }}
                    {{ Form.hidden('query', {'value': q})|raw }}
                    <button class="button button-text-white is-width-auto" form="form-restore-{{ object.id }}" title="{{ __('Restore') ~ ' ' ~ object.attributes.title|escape }}">
                        <app-icon icon="carbon:redo"></app-icon>
                        <span class="ml-05">{{ __('Restore') }}</span>
                    </button>
                {{ Form.end()|raw }}
            {% endif %}

            {% if Perms.canDelete(object) %}
                {{ Form.create(null, {'id': 'form-delete-' ~ object.id, 'url': {'_name': 'trash:delete'}})|raw }}
                    {{ Form.hidden('ids', {'value': object.id})|raw }}
                    {{ Form.hidden('query', {'value': q})|raw }}
                    <button class="button button-text-white is-width-auto" form="form-restore-{{ object.id }}" title="{{ __('Permanently delete') ~ ' ' ~ object.attributes.title|escape }}" onclick="confirm">
                        <app-icon icon="carbon:trash-can"></app-icon>
                        <span class="ml-05">{{ __('Delete') }}</span>
                    </button>
                {{ Form.end()|raw }}
            {% endif %}

        {% else %}

            {% if Perms.canRead(object.type) %}
                <button title="{{ __('Edit') }} {{ object.attributes.title }}" class="button button-text-white is-width-auto">
                    <app-icon icon="carbon:launch"></app-icon>
                    <span class="ml-05">{{ __('Edit') }}</span>
                </button>
            {% endif %}

            {% if Perms.canDelete(object) %}
                {{ Form.create(null, {'url': {'_name': 'modules:delete', 'object_type': object.type}})|raw }}
                    {{ Form.hidden('id', {'value': object.id})|raw }}
                    <button title="{{ __('Move to trash') ~ ' ' ~ object.attributes.title|escape }}" class="button button-text-white is-width-auto">
                        <app-icon icon="carbon:trash-can"></app-icon>
                        <span class="ml-05">{{ __('Trash-verb') }}</span>
                    </button>
                {{ Form.end()|raw }}
            {% endif %}

        {% endif %}
        </div>
</a>
