{% set canSave = Perms.canSave('tags') %}
{% set language = config('Project.config.I18n.default')|json_encode %}
{% set languages = config('Project.config.I18n.languages')|default([])|json_encode %}
<div class="tags-container">
    <div class="tags">
        <div class="list-objects">
            {% for parent_id, tags in tagsTree %}
                {# list resources : table header #}
                <nav class="table-header has-border-black">
                    {% for prop in properties %}
                        {% set label = prop %}
                        {% if prop == 'enabled' %}{% set label = 'Status' %}{% endif %}
                        <div class="{{ Link.sortClass(prop) }}"><a href="{{ Link.sortUrl(prop) }}">{{ __(label)|humanize }}</a></div>
                    {% endfor %}
                    <div></div>
                </nav>
                {% for tag_id in tags %}
                    {% set resource = resources[tag_id] %}
                    <tag-form
                        :cansave="{{ canSave|json_encode }}"
                        :language="{{ language }}"
                        :languages="{{ languages }}"
                        :obj="{{ resource|json_encode }}"
                    >
                    </tag-form>
                {% endfor %}
            {% endfor %}
            {% if canSave %}
                <h2 class="mt-2">{{ __('Create a new tag') }}</h2>
                {% set resource = {} %}
                <tag-form
                    :cansave="{{ canSave|json_encode }}"
                    :editmode="true"
                    :language="{{ language }}"
	                :languages="{{ languages }}"
                    :obj="{{ resource|json_encode }}"
                    :redir="{{ Url.build(redirTo)|json_encode }}"
                >
                </tag-form>
            {% endif %}
        </div>
    </div>
</div>
