<nav class="table-header has-border-module-{{ currentModule.name }}">
    <div class="select-cell narrow" @click="toggleAll">
        <input type="checkbox" ref="checkAllCB">
    </div>

    <div></div> {# thumb column #}

    {% for prop in properties %}
        <div class="{{ Link.sortClass(prop) }}">
            {% if Schema.sortable(prop) %}
                <a href="{{ Link.sortUrl(prop) }}">{{ Layout.tr(prop) }}</a>
            {% else %}
                {{ Layout.tr(prop) }}
            {% endif %}
        </div>
    {% endfor %}

    {% if currentModule.hints.multiple_types %}
        <div>{{ __('type') }}</div>
    {% endif %}

    {% if refObject.attributes.status %}
        <div class="narrow {{ Link.sortClass('status') }}">
            {% if Schema.sortable('status') %}
                <a href="{{ Link.sortUrl('status') }}">{{ __('status') }}</a>
            {% else %}
                {{ __('status') }}
            {% endif %}
        </div>
    {% endif %}

    {% if refObject.meta.modified %}
        <div class="{{ Link.sortClass('modified') }}">
            {% if Schema.sortable('modified') %}
                <a href="{{ Link.sortUrl('modified') }}">{{ __('modified') }}</a>
            {% else %}
                {{ __('modified') }}
            {% endif %}
        </div>
    {% endif %}

    <div class="narrow {{ Link.sortClass('id') }}">
        {% if Schema.sortable('id') %}
            <a href="{{ Link.sortUrl('id') }}">{{ __('id') }}</a>
        {% else %}
            {{ __('id') }}
        {% endif %}
    </div>

    <div></div>
</nav>
