<div class="table-container">
	<div class="list-objects">
		{% if objects %}
			{{ element('Modules/index_table_header', { 'refObject': objects[0] }) }}
		{% endif %}

		{% for object in objects %}
			{{ element('Modules/index_table_row', { 'object': object }) }}
		{% else %}
			{{ __('No items found') }}
		{% endfor %}
	</div>
</div>

<div
	class="module-footer">
	{# bulk actions #}
	{% if objects %}
		{{ element('Modules/index_bulk', {}) }}
	{% endif %}

	{% if not treeView %}
		<filter-box-view inline-template :pagination="{{ meta.pagination|json_encode|escape('html_attr') }}" config-paginate-sizes="{{ config('Pagination.sizeAvailable')|json_encode|escape('html_attr') }}" page-size="{{ meta.pagination.page_size }}" @filter-update-page-size="onUpdatePageSize" @filter-update-current-page="onUpdateCurrentPage">
			<template v-if="pagination.count">
				{{ element('FilterBox/filter_box_page_toolbar') }}
			</template>
		</filter-box-view>
	{% endif %}
</div>
