{# thumb #}
{% set width = 50 %}

{# Use external provider thumbnail if available #}
{% if object.attributes.provider_thumbnail %}

        <img src={{ object.attributes.provider_thumbnail }} width={{ width }} />

{# Otherwise create/display thumb if type is an image #}
{% elseif object.type ==  'images' %}

    {% set thumb = Thumb.getUrl(object, { 'options': { 'w': width } }) %}

    {% if thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_AVAILABLE') %}
        <div class="missing-image has-text-size-largest icon-question" title="{{ __('Thumb not available') }}"></div>
    {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_READY') %}
        <div class="missing-image has-text-size-largest icon-hourglass-o" title="{{ __('Thumb not ready: coming soon') }}"></div>
    {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_ACCEPTABLE') %}
        <div class="missing-image has-text-size-largest icon-question" title="{{ __('Image not acceptable for thumb') }}"></div>
    {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NO_URL') %}
        <div class="missing-image has-text-size-largest icon-question" title="{{ __('Missing thumb url') }}"></div>
    {% else %}
        <img src={{ thumb }} />
    {% endif %}

{% elseif object.type == 'files' %}
    <span class="icon icon-doc"></span>
{% endif %}
