{% element ('Admin/sidebar') %}

{% do _view.assign('title', __('Administration') ~ ' ' ~ __(resourceType|humanize)) %}
{% do _view.assign('bodyViewClass',  'view-module view-admin') %}

<div class="module-header">
    <header>
        <h1>{{ __(title) }}</h1>
    </header>
</div>

{% element 'Modules/index_header' { 'meta': meta, 'hideFilter': 1, 'Schema': Schema, 'hidePagination': treeView} %}

<admin-index inline-template>

    <div class="module-index">
        <div class="list-objects">

            {# list resources : table header #}
            <nav class="table-header has-border-black">
                <div>{{ __('Id') }}</div>
                {% for key in properties %}
                    {% set label = key %}
                    <div class="{{ Link.sortClass(key) }}"><a href="{{ Link.sortUrl(key) }}">{{ __(label)|humanize }}</a></div>
                {% endfor %}
                {% for key in metaColumns %}
                    <div>{{ __(key) }}</div>
                {% endfor %}
                {% if not readonly or deleteonly %}
                    <div></div>
                {% endif %}
            </nav>
            {% if resources|count == 0 %}
                <p>{{ __('Resources not available') }}</p>
            {% endif %}

            {# form to create a new record #}
            {% if not readonly %}
                {{ Form.create(null, {
                    'id': 'form-create',
                    'url': {'_name': 'admin:save:' ~ resourceType},
                    'class': 'table-row',
                })|raw }}
                    <div>{{ __('NEW') }}</div>
                    {% for type, property in properties %}
                        <div class="{{ property }}-cell" untitled-label="{{ __('Untitled') }}">
                            {{ Admin.control(type, property, null)|raw }}
                        </div>
                    {% endfor %}
                    {% for key in metaColumns %}
                        <div class="narrow">-</div>
                    {% endfor %}
                    <div class="buttons-cell narrow">
                        {{ Form.button( __('Create'), {
                            'form': 'form-create',
                            'title': __('Create' ~ ' ' ~ resourceType),
                            'class': 'button button-text-white is-width-auto',
                        })|raw }}
                    </div>
                {{ Form.end()|raw }}
            {% endif %}

            {# list resources : rows #}
            {% for resource in resources %}

                {{ Form.create(null, {
                    'id': 'form-' ~ resource.id,
                    'url': {'_name': 'admin:save:' ~ resourceType},
                    'class': 'table-row',
                })|raw }}
                    <div class="{{ prop }}-cell" untitled-label="{{ __('Untitled') }}">
                        {{ resource.id|truncate(10) }}
                    </div>
                    {% for type,property in properties %}
                        {% set val = resource.attributes[property] %}
                        <div class="{{ property }}-cell" untitled-label="{{ __('Untitled') }}">
                            {{ Admin.control(type, property, val)|raw }}
                        </div>
                    {% endfor %}
                    {% for key in metaColumns %}
                        <div class="narrow">
                            {{ Time.format(resource.meta[key], 'd MMM YYYY') }}
                        </div>
                    {% endfor %}
                    {% if not readonly and not resource.meta.unchangeable %}
                        <div class="buttons-cell narrow">
                            {{ Form.button( __('Save'), {
                                'form': 'form-' ~ resource.id,
                                'title': __('Save') ~ ' ' ~ resource.attributes.name,
                                'class': 'button button-text-white is-width-auto',
                            })|raw }}

                            {{ Form.button( __('Remove'), {
                                'form': 'form-remove-' ~ resource.id,
                                'title': __('Remove') ~ ' ' ~ resource.attributes.name,
                                'class': 'button button-text-white is-width-auto',
                                '@click.prevent': 'remove',
                            })|raw }}
                        </div>
                    {% elseif deleteonly %}
                        <div class="buttons-cell narrow">
                            {{ Form.button( __('Remove'), {
                                'form': 'form-remove-' ~ resource.id,
                                'title': __('Remove') ~ ' ' ~ resource.attributes.name,
                                'class': 'button button-text-white is-width-auto',
                                '@click.prevent': 'remove',
                            })|raw }}
                        </div>
                    {% endif %}

                {{ Form.hidden('id', {'value': resource.id})|raw }}
                {{ Form.end()|raw }}

                {{ Form.create(null, {
                    'id': 'form-remove-' ~ resource.id,
                    'url': {'_name': 'admin:remove:' ~ resourceType, 'id': resource.id},
                })|raw }}
                {{ Form.end()|raw }}

            {% endfor %}

        </div>

    </div>
</admin-index>
