{% do _view.assign('title', __('Login')) %}
{% do _view.assign('bodyViewClass', 'view-login') %}

<div class="login">

    <div class="login-title">

        <div class="login-error">
            {{ Flash.render()|raw }}
        </div>

         <div class="project-title">
            <div class="module-box">
                {{ Html.link( (config('Project.name') ?: 'BEdita Content Manager'), '/' ) | raw }}
            </div>
        </div>
     </div>

    <div class="login-form">

        {{ Form.create(null, {
            'url': {'_name': 'login', '?': {'redirect': _view.request.getQuery('redirect')}},
        })|raw }}

        {% if projects %}
        <label>{{ __('Select a project') }}</label>
        {{ Form.control('project', {
            'type': 'select',
            'options': projects,
            'label': false,
            'style': 'margin-bottom: 1rem; width: 100%;',
        })|raw }}
        {% endif %}

        {{ Form.control('username', {
            'required':'required',
            'autocomplete': 'username',
            'autocorrect': 'off',
            'autocapitalize': 'off',
            'spellcheck': 'false',
            'placeholder': 'e.g. john@example.com',
            'label': __('Username'),
        })|raw }}

        <login-password></login-password>
        {% do Form.unlockField('password') %}

        {{ Form.control('timezone_offset', {
            'label': false,
            'value': '0',
            'style': 'display: none'
        })|raw }}

        {{ Form.submit(__('Sign in'))|raw }}

        <p class="help">{{ Html.link(__('Forgot your password?'), {'_name': 'password:reset'})|raw }}</p>


        {# Temp hidden to check session id #}
        {{ Form.hidden('_session_id', {'value': _view.getRequest().getSession() ? _view.getRequest().getSession().id() : null})|raw }}

        {{ Form.end()|raw }}

        {% set providers = config('OAuth2Providers')|default([])|keys %}
        {% for provider in providers %}
        {% if config('OAuth2Providers.' ~ provider  ~ '.setup.clientId') %}
        <br><br>
        <a class="button" href="{{ Url.build({'_name': 'login:oauth2', 'provider': provider}) }}">
            {{ __('Sign in with {0}', provider) }}
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <footer>
        <div class="sidebar-footer">
            <div class="sidebar-bedita-logo white">{# css logo #}</div>
            {{ element('Menu/colophon') }}
        </div>
    </footer>
</div>

