{% do _view.assign('title', __('Login')) %}
{% do _view.assign('bodyViewClass', 'view-login') %}

<div class="login-form">
    {{ Flash.render()|raw }}

    {{ Form.create(null, {
        'url': {'_name': 'login', 'redirect': _view.request.getQuery('redirect') },
    })|raw }}

    {{ Form.control('username', {
        'autocomplete': 'username',
        'autocorrect': 'off',
        'autocapitalize': 'off',
        'spellcheck': 'false',
        'placeholder': 'e.g. john@example.com',
        'label': false,
    })|raw }}
    <label>{{ __('Username') }}</label>
    {{ Form.control('password', {
        'autocomplete': 'current-password',
        'placeholder': '••••••',
        'label': false,
    })|raw }}
    <label>{{ __('Password') }}</label>

    <script>
        Date.prototype.stdTimezoneOffset = function() {
            var jan = new Date(this.getFullYear(), 0, 1);
            var jul = new Date(this.getFullYear(), 6, 1);
            return Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset());
        }

        Date.prototype.dst = function() {
            return this.getTimezoneOffset() < this.stdTimezoneOffset();
        }

        document.addEventListener("DOMContentLoaded", function() {
            var tz = (-60) * (new Date().getTimezoneOffset()) + ' ' + (new Date().dst() ? '1' : '0');
            document.getElementById('timezone-offset').value = tz;
        });
    </script>

    {{ Form.control('timezone_offset', {
        'label': false,
        'value': '0',
        'style': 'display: none'
    })|raw }}

    {{ Form.submit(__('Sign in'))|raw }}

    {{ Form.end()|raw }}

    <footer>
        © {{ 'now'|date('Y') }} <span>~</span>
        {{ Html.link(__('BEdita {0}', project.version), 'https://www.bedita.com/who-are-we', {'title': 'visit bedita.com', 'target': '_blank'})|raw }}
        <span>~</span>
        {% set authors = [Html.link('Chialab', 'https://www.chialab.it', {'target': '_blank'}), Html.link('ChannelWeb', 'https://www.channelweb.it', {'target': '_blank'})] %}
        {{ authors|shuffle|toList(__('&'))|raw }}
        <span>~</span>
        {{ Html.link(__('www.bedita.com'), 'https://www.bedita.com', {'title': __('BEdita Web site'), 'target': '_blank'})|raw }}
    </footer>
</div>
