{% do _view.assign('title', __('Trashcan')) %}

<trash-view inline-template>
<div class="modules-view">

    <header>
        <h1>{{ object.attributes.title|default(__('New entry in') ~ ' ' ~ objectType) }}</h1>
        <span class="has-background-module-{{ object.type }} tag has-font-weight-bold">{{ Layout.tr(object.type)|capitalize }}</span>
    </header>

    <div class="module-form">
        {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
            'url': {'_name': 'trash:list'},
            'id': 'form-main',
        })|raw }}

            <div class="main-view-column">
                {{ element('Form/core_properties') }}
                {{ element('Form/custom_left') }}

                {# calendar using `date_ranges` #}
                {{ element('Form/calendar') }}

                {{ element('Form/categories') }}

                {{ element('Form/media') }}

                {{ element('Form/map') }}

                {{ element('Form/other_properties') }}
            </div>

            <div class="side-view-column">
                {{ element('Form/publish_properties') }}

                {{ element('Form/advanced_properties') }}

                {{ element('Form/meta') }}
            </div>

        {{ Form.end()|raw }}

        {# Append "Delete" and "Restore" to commands in commands menu. #}
        {% do _view.append('module-buttons', Form.postButton(__('Restore'), {'_name': 'trash:restore'}, {'data': {'id': object.id}})) %}
        {% do _view.append('module-buttons', Form.postButton(__('Delete'), {'_name': 'trash:delete'}, {'data': {'id': object.id}})) %}
    </div>

</div>
</trash-view>
