<filter-type-view
    :types='{{ types.right|json_encode|raw }}'
    @updatequerytypes="onUpdateQueryTypes($event)"
    inline-template>

    <div class="filter-container types">
        <label>
            <input type="checkbox" :checked="!selectedTypes.length" v-on:click.prevent.stop="togglaAll">
            <span class="has-background-module-{{ currentModule.name }}">
                {{ __('All Types') }}
            </span>
        </label>
        {% for type in types.right %}
        <label>
            <input type="checkbox" value="{{ type }}" id="{{ type }}" v-model="selectedTypes">
            <span>
                <i class="bullet has-background-module-{{ type }}"></i>{{ __(type) }}
            </span>
        </label>
        {% endfor %}
    </div>

</filter-type-view>
