<filter-type-view
    :types='{{ types.right|json_encode|raw }}'
    @updatequerytypes="onUpdateQueryTypes($event)"
    inline-template>

    <div class="filter-container filter-type">
        <label v-on:click.prevent.stop="toggleAll">
            <input type="checkbox" v-model="selectedTypes.length === 0">
            <div class="has-background-module-{{ currentModule.name }}">
                <span>{{ __('All Types') }}</span>
            </div>
        </label>
        {% for type in types.right %}
            {% if modules[type] %}
                <label>
                    <input type="checkbox" value="{{ type }}" id="{{ type }}" v-model="selectedTypes">
                    <div>
                        <i class="bullet has-background-module-{{ type }}"></i>
                        <span>{{ Layout.tr(type) }}</span>
                    </div>
                </label>
            {% endif %}
        {% endfor %}
    </div>

</filter-type-view>
