{% set attributes = data.attributes %}

<div class="tab"><h2>{{ __('Main Properties') }}</h2></div>

<fieldset id="core_properties">

    {{ Form.label('attributes.title', __('Title'))|raw }}
    {{ Form.text('attributes.title')|raw }}
    {{ Form.label('attributes.description', __('Description'))|raw }}
    {{ Form.text('attributes.description')|raw }}
    {{ Form.label('attributes.uname', __('Slug'))|raw }}
    {{ Form.text('attributes.uname')|raw }}
    {{ Form.label('attributes.status', __('Status'))|raw }}
    {{ Form.radio('attributes.status', [
        {'value': 'on', 'text': __('On')},
        {'value': 'draft', 'text': __('Draft')},
        {'value': 'off', 'text': __('Off')},
    ])|raw }}
</fieldset>
