{% set attributes = data.attributes %}

<div class="tab"><h2>{{ __('Main Properties') }}</h2></div>

<fieldset id="common_properties">

    <label>title:</label>
    <br />
    <input type="text" name="title" value="{{ attributes.title }}" id="titleBEObject" style="width:100%" />
    <br />
    <label>description:</label>
    <br />
    <textarea style="width:100%; margin-bottom:2px; height:30px" class="mceSimple subtitle" name="description">{{ attributes.description }}</textarea>
    <label>unique name:</label>
    <br />
    <input type="text" id="nicknameBEObject" name="uniquename" style="font-style:italic; width:100%" value="{{ attributes.uname }}"/>


<!-- <div class="tab"><h2>Properties</h2></div> -->

    <label>status:</label>
    <br />
    {% for status in ['on', 'draft', 'off'] %}
    <label><input type="radio" name="status" value="{{ status }}" {% if status == attributes.status %}checked="checked"{% endif %} />{{ status }}</label>
    {% endfor %}

</fieldset>
