{% set level = level|default('info') %}
{% set message = msg|default('') %}

<div class="message {{level}}">

    {% if level == 'error' %}
    <h2>{{ __('Error') }}</h2>
    {% endif %}
    {% if level == 'warning' %}
    <h2>{{ __('Warning') }}</h2>
    {% endif %}
    {% if level == 'info' %}
    <h2>{{ __('Info') }}</h2>
    {% endif %}

    <p style="display:block; margin-top:10px; min-height: 30px; overflow: visible; word-wrap: break-word;">
        {{ message }}
    </p>

    <hr />

    {% if detail %}
    <a href="javascript:void(0)" onclick="$('.messageDetail').toggle()">{{ __('see detail') }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
    {% endif %}

    <a class="closemessage" href="javascript:void(0)">{{ __('close') }}</a>

</div>

{% if detail %}
<div class="messageDetail shadow" style="display:none">

    <p style="font-family:monospace;">{{ detail }}</p>

    <hr />

    <a class="closemessage" href="javascript:void(0)">{{ __('close') }}</a>

</div>
{% endif %}
