<div class="relations-add">
    <section v-show="isMedia">
        <header class="tab unselectable open"
            :class="!objects || loading ? 'is-loading-spinner' : ''"
            :disabled="saving"
            @click="showCreateObjectForm = !showCreateObjectForm">

            <h2><span v-show="relationName">{{ __('create new') }} <: relationName | humanize :></span> &nbsp;</h2>
            <a href="#" :disabled="saving" @click.prevent="closePanel()">{{ __('close') }}</a>
        </header>

        <div class="create-new-object" v-if="showCreateObjectForm">
            <form name="create-object" :disabled="saving" @submit.prevent="createObject">
                <div class="dropzone">
                    <div class="input file">
                        <input type="file" name="file" id="file" class="drop-file" @change="processFile" />
                    </div>
                </div>
                <div class="input text">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" :placeholder="titlePlaceholder" />
                </div>

                <button :disabled="this.file === null" type="submit">{{ __('create') }}</button>
            </form>
        </div>
    </section>

    <section class="shrinks">
        <header class="tab unselectable" v-bind:class="!objects || loading ? 'is-loading-spinner' : ''">
            <h2><span v-show="relationName">{{ __('add to') }}<: relationName | humanize :></span> &nbsp;</h2>
            <a href="#" v-show="!isMedia"  :disabled="saving" @click.prevent="closePanel()">{{ __('close') }}</a>
        </header>

        <div>
            <filter-box-view
                config-paginate-sizes={{ config('Pagination.sizeAvailable')|json_encode()|raw }}
                :pagination.sync="pagination"
                :show-filter-buttons="false"
                :relation-types="relationTypes"
                objects-label="{{ __('objects') }}"

                @filter-update-current-page="onUpdateCurrentPage"
                @filter-update-page-size="onUpdatePageSize"
                @filter-objects="onFilterObjects"
                inline-template>

                    {% element 'FilterBox/filter_box' %}

            </filter-box-view>
        </div>

        <div class="related-objects-list shrinks">
            <div class="columns">
                <div class="related-object column is-3" v-for="related in objects">
                    <article class="box has-text-gray-100 has-text-size-smaller"
                            v-bind:class="[selectedObjects.indexOf(related) != -1? 'selected' : '',
                                alreadyInView.indexOf(related.id) != -1? 'unselectable':'']"
                            @click="toggle(related, $event)">

                        <header>
                            <h1><: related.attributes.title || related.attributes.name :></h1>
                            <span class="has-text-size-smaller prop-id"><: related.id :></span>
                        </header>

                        <div v-if="related.meta.url" class="thumbnail">
                            <figure>
                                <img :src="related.meta.url" />
                            </figure>
                        </div>

                        <div>
                            <span class="tag" v-bind:class="'has-background-module-' + related.type"><: related.type :></span>
                        </div>

                        <footer>
                            <a :href="$helpers.buildViewUrl(related.id)" target="_blank">{{ __('open') }}</a>
                        </footer>
                    </article>
                </div>

                {# empty element: keep for flex layout #}
                <div class="column"></div>
            </div>
        </div>

        <footer>
            <button class="has-background-info has-text-white" :disabled="!selectedObjects.length"
                @click.prevent="addRelationsToObject({
                    relationName: relationName,
                    objects: selectedObjects,
                })">{{ __('Add objects to') }} <: relationName | humanize :></button>
            <span class="tag" v-show="selectedObjects.length" v-bind:class="selectedObjects.length? 'has-background-info' : ''"><: selectedObjects.length :></span>
        </footer>
    </section>
</div>
