{% do _view.assign('title', __('Translations')) %}
{% do _view.assign('bodyViewClass', 'translation-module') %}
{% set translatable = Schema.translatableFields(schema.properties|default([]), objectType) %}

<modules-view inline-template ref="moduleView">
    <div class="modules-view">

        <div class="module-form">

            {{ Form.create(null, {
                'url': {'_name': 'translations:save', 'object_type': objectType},
                'id': 'form-translate',
            })|raw }}

            <div class="main-view-column">
                <section class="fieldset">
                    <div class="tab-container">
                        <div class="lang-header is-flex align-center">
                            {% set languageLabel = "#{__('Language')}" %}
                            {% set options = Schema.controlOptions('lang', null, [])|default({})|merge({
                                'label': languageLabel,
                                'value': translation.attributes.lang|default(newLang),
                            }) %}
                            {% if options.options %}
                                {% set langOptions = options.options|filter((v, k) => v.value != object.attributes.lang) %}
                                {% set options = options|merge({
                                    'options': langOptions,
                                    'ref': 'translateTo',
                                }) %}
                            {% endif %}
                            {% if translation.attributes.lang %}
                                {% set options = options|merge({'readonly': true}) %}
                            {% endif %}
                            {{ Form.control('lang', options)|raw }}
                            {% if config('Translator.class') %}
                                {% set data = [] %}
                                {% for key in translatable %}
                                    {% set data = data|merge({
                                        (loop.index0): {
                                            'field': key,
                                            'content': object.attributes[key],
                                            'from': object.attributes.lang,
                                            'to': translation.attributes.lang
                                        }
                                    }) %}
                                {% endfor %}
                                <button class="mt-1" @click.prevent="translateAll({{ data|json_encode }}, $event)">
                                    {{ __('Auto-translate all fields') }}
                                </button>
                            {% endif %}

                            {{ Property.control('status', translation.attributes.status|default('draft'))|raw }}
                        </div>
                        {% for key in translatable %}
                            {% set options = Schema.controlOptions(key, translation.attributes.translated_fields[key], schema.properties[key]) %}
                            {% set options = options|merge({'ref': key}) %}
                            {{ Form.control('translated_fields.' ~ key, options)|raw }}

                            {# automatic translate button #}
                            {% if config('Translator.class') %}
                                {% set translationParams = {
                                    'field': key,
                                    'content': object.attributes[key],
                                    'from': object.attributes.lang,
                                    'to': translation.attributes.lang
                                } %}
                                <div class="field-actions">
                                    <button @click.prevent="translate({{ translationParams|json_encode }}, $event)">
                                        {{ __('Auto-translate') }} {{ key }}
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
                {{ element('Form/meta', { 'object' : translation }) }}
            </div>

            <div class="side-view-column original">
                <section class="fieldset">
                    <div class="tab-container">
                        <div class="lang-header is-flex align-bottom">
                            {% set languageLabel = "#{__('Original language')}" %}
                            {% set options = Schema.controlOptions('lang', null, [])|merge({
                                'label': languageLabel,
                                'value': object.attributes.lang,
                                'disabled' : true,
                            }) %}
                            {{ Form.control('lang', options)|raw }}
                            <a class="button has-background-module-{{ object.type }}" href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id }) }}">
                                {{ __('Edit') }}
                            </a>
                        </div>
                        {% for key in translatable %}
                            {{ Property.control(key, object.attributes[key], {'disabled': 'disabled'})|raw }}
                            {# spacer when auto translate is available #}
                            {% if config('Translator.class') %}
                                <div class="field-align-aid"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
                {{ element('Form/meta', { 'object' : object }) }}
            </div>

            {# Set `_jsonKeys` hidden input from config #}
            {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': config('_jsonKeys', [])|join(',')})|raw }}

            {# The ID of the resource translated #}
            {{ Form.hidden('object_id', {'value': object.id})|raw }}

            {# The translation ID #}
            {% if translation.id %}
                {{ Form.hidden('id', {'value': translation.id})|raw }}
            {% endif %}

            {{ Form.end()|raw }}

            {# Append "Save" to sidebar #}
            {% do _view.append('module-buttons', Form.button( __('Save'),
                {
                    'form': 'form-translate',
                    'class': 'button button-primary button-primary-hover-module-' ~ currentModule.name
                })
            ) %}

            {% if translation.id %}
                {# Append "Remove" to sidebar #}
                {% do _view.append('module-buttons', Form.postButton(__('Remove'),
                    {
                        '_name': 'translations:delete',
                        'object_type': objectType
                    },
                    {
                        'data': [{
                            'id': translation.id,
                            'object_id': object.id,
                            'lang': translation.attributes.lang
                        }],
                        'class': 'button button-outlined button-outlined-hover-module-' ~ currentModule.name
                    })
                ) %}
            {% endif %}

            {{ Form.end()|raw }}
        </div>

    </div>
</modules-view>
