{% do _view.assign('title', currentModule.name|humanize) %}

{# module variables #}
{% set baseUrl = '/' ~ currentModule.name ~ '?page=' ~ meta.pagination.page ~ '&page_size=' ~ meta.pagination.page_size ~ '&' %}

<div class="module">

    {% element 'Toolbar/toolbar_pagination' %}

    {% element 'Toolbar/toolbar_filters' %}

    <table>
        <thead>
            <tr>
                <th>
                    {% if 'title' in query.sort %}
                    <i class="sort {% if query.sort == 'title' %}up{% endif %}{% if query.sort == '-title' %}down{% endif %}"></i>
                    {% endif %}
                    <a href="{{ baseUrl }}sort={% if query.sort == 'title' %}-{% endif %}title">
                        {{ __('title') }}
                    </a>
                </th>
                <th>
                    {% if 'id' in query.sort %}
                    <i class="sort {% if query.sort == 'id' %}up{% endif %}{% if query.sort == '-id' %}down{% endif %}"></i>
                    {% endif %}
                    <a href="{{ baseUrl }}sort={% if query.sort == 'id' %}-{% endif %}id">
                        {{ __('id') }}
                    </a>
                </th>
                <th>{{ __('type') }}</th>
                <th>{{ __('status') }}</th>
                <th>
                    {% if 'modified' in query.sort %}
                    <i class="sort {% if query.sort == 'modified' %}up{% endif %}{% if query.sort == '-modified' %}down{% endif %}"></i>
                    {% endif %}
                    <a href="{{ baseUrl }}sort={% if query.sort == 'modified' %}-{% endif %}modified">
                        {{ __('modified') }}
                    </a>
                </th>
                <th>-</th>
            </tr>
        </thead>

        <tbody>
        {% for object in objects %}
            <tr class="obj {{ object.attributes.status }}">
                <td>{{ Html.link(object.attributes.title, {'_name': 'modules:view', 'object_type': objectType, 'id': object.id})|raw }}</td>
                <td>{{ object.id }}</td>
                <td>{{ object.type }}</td>
                <td>{{ object.attributes.status }}</td>
                <td>{{ Time.format(object.meta.modified) }}</td>
                <td>
                    {{ Form.postButton(__('Delete'), {'_name': 'modules:delete', 'object_type': objectType}, {'data': {'id': object.id}})|raw }}
                </td>
            </tr>
        {% else %}
            <tr><td colspan="100">{{ __('No items found') }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# Append "Trashcan" link in commands menu. #}
{% do _view.append('links', '<li>' ~ Html.link(__('Trashcan'), {'_name': 'trash:list', 'filter': {'type': objectType}}) ~ '</li>') %}
