{% element 'Form/_related_script' %}

<div class="view-modules">

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% else %}

        {% element 'Toolbar/toolbar_pagination_related' %}

        {# {% element 'Toolbar/toolbar_filters' %} #}

        <div class="list-objects">
            <nav class="table-header">
                <div>{{ __('title') }}</div>
                <div>{{ __('id') }}</div>
                <div>{{ __('type') }}</div>
                <div>{{ __('status') }}</div>
                <div>{{ __('modified')}}</div>
                <div></div>
            </nav>

            {% for object in objects %}
                <a
                    href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id}) }}"
                    title="{{ object.attributes.title|default('untitled') }}"
                    class="object-status-{{ object.attributes.status }}">
                        <div>{{ object.attributes.title }}</div>
                        <div>{{ object.id }}</div>
                        <div>{{ object.type }}</div>
                        <div>{{ object.attributes.status }}</div>
                        <div>{{ Time.format(object.meta.modified) }}</div>
                        <div>
                            <button class="remove-cart" data-relation-name="{{ relation }}" data-id="{{ object.id }}" data-object-type="{{ object.type }}"  data-title="{{ object.attributes.title|default('untitled') }}">{{ __('Remove') }}</button>
                        </div>
                </a>
            {% else %}
                {{ __('No items found') }}
            {% endfor %}
        </div>
    {% endif %}
</div>
