{% set here=Link.here() %}
{% set paging = meta.pagination %}

{% element 'Form/_related_script' %}

<div id="related-items_{{ relation }}" class="view-modules">

{% if error %}

    <div class="error">{{ error.message }}</div>

{% else %}

    {# Filter - search related items filter #}
    <div class="toolbar_filters">
        {{ Form.control('search-related_' ~ relation, {
            'id': 'search-related_' ~ relation,
            'label': __('Filter'),
            'class': 'search-related',
            'data-relation-name': relation,
            'value': Link.query('q')|default(''),
        })|raw }}
        {{ Form.unlockField('search-related_' ~ relation) }}
    </div>

    {# Toolbar pagination #}
    <div class="toolbar_pagination">

        {# Count of items per module #}
        <div class="results">
            {{ paging.count }} {{ currentModule.name }}
        </div>

        {# Pagination data #}
        <div class="pagination">
            <ul>
                <li>
                    {{ __('Page') }} {{ paging.page }} / {{ paging.page_count }}
                </li>
                <li class="related-page" data-page-size="{{ paging.page_size }}" data-page="1">
                    {{ __('First') }}
                </li>
                {% if links.prev %}
                <li class="related-page" data-page-size="{{ paging.page_size }}" data-page="{{ paging.page - 1 }}">
                    {{ __('Prev') }}
                </li>
                {% endif %}
                {% if links.next %}
                <li class="related-page" data-page-size="{{ paging.page_size }}" data-page="{{ paging.page + 1 }}">
                    {{ __('Next') }}
                </li>
                {% endif %}
                <li class="related-page" data-page-size="{{ paging.page_size }}" data-page="{{ paging.page_count }}">
                    {{ __('Last') }}
                </li>
            </ul>
        </div>

        {# Page size combo #}
        <div class="page-size">
            {{ __('Page Size') }}:
            {{ Form.select(relation ~ '-page-size', Array.combine(config('Pagination.sizeAvailable')) , {
                'data-page': paging.page|default(1),
                'value': paging.page_size|default(20),
            }) | raw }}
            {{ Form.unlockField(relation ~ '-page-size') }}
        </div>

    </div>

    {# Related items list #}
    <ul id="related-list_{{ relation }}">
        {% element 'objects_list_items' %}
    </ul>

{% endif %}
</div>
