{{ _view.assign('title', currentModule.name|humanize) }}

<div class="main">
    {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
        'url': {'_name': 'modules:save', 'object_type': objectType},
        'id': 'form--main',
    })|raw }}

    <h1>{{ object.attributes.title|default(__('New {0}', currentModule.singular)) }}</h1>

    {% element 'form_core_properties' %}

    {% element 'form_other_properties' %}

    {% element 'form_meta' %}

    {{ _view.append('commands', Form.submit(__('Save'), {'form': 'form--main'})) }}

    {{ Form.end()|raw }}
</div>

{# Append "Delete" and "Restore" to commands in commands menu. #}
{{ _view.append('commands', Form.postButton(__('Delete'), {'_name': 'modules:delete', 'object_type': objectType}, {'data': {'id': object.id}})) }}
