{% do _view.assign('title', 'User Profile') %}

<div class="userprofiles-view">

    {% if object.attributes.username %}
    <header>
        <h1>{{ object.attributes.username }}</h1>
    </header>
    {% endif %}

    <div class="profile-form">

        {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
            'url': {'_name': 'user_profile:save', 'object_type': 'users'},
            'id': 'form-main',
        })|raw }}

            <div class="form-column">
                <section class="fieldset order-0">
                    <div class="tab-container">
                        {{ Form.hidden('id', {'value': object.id})|raw }}
                    </div>
                </section>

                {% set jsonKeys = [] %}
                {% for group, attributes in properties if group != 'other' and attributes %}
                    <section class="fieldset order-{{ loop.index }}">
                        <header>
                            <h2>{{ __(group|humanize) }}</h2>
                        </header>
                        <div class="tab-container">
                            {% for key, value in attributes %}
                                {% set options = Schema.controlOptions(key, value, schema.properties[key]) %}
                                {% if options.class and options.class == 'json' %}
                                    {% set jsonKeys = jsonKeys|merge([key]) %}
                                {% endif %}

                                {% if key == 'email' or key == 'username' %}
                                    {% set options = options|merge({'readonly': 'true'}) %}
                                {% endif %}

                                {{ Form.control(key, options)|raw }}
                            {% endfor %}
                        </div>
                    </section>
                {% endfor %}

                {% if jsonKeys %}
                    {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': jsonKeys|join(',')})|raw }}
                {% endif %}
            </div>

        {{ Form.end()|raw }}

        {% do _view.append('commands', Form.submit(__('Save'), {'form': 'form-main'})) %}
    </div>

</div>
