{% do _view.assign('bodyViewClass', 'userprofiles-view') %}
{% do _view.assign('title', 'User Profile') %}

<div class="modules-view">

    {% if object.attributes.username %}
    <header>
        <h1>{{ object.attributes.username }}</h1>
    </header>
    {% endif %}

    <div class="module-form">

        {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
            'url': {'_name': 'user_profile:save', 'object_type': 'users'},
            'id': 'form-main',
        })|raw }}

            {{ Form.hidden('id', {'value': object.id})|raw }}
            <div class="main-view-column">

                {% set jsonKeys = [] %}
                {% for group, attributes in properties %}
                    {% if group != 'other' and group != 'password_change' and attributes %}
                        <section class="fieldset">
                            {% if group|trim  %}
                                <header>
                                    <h2 class="m-0">{{ __(group|humanize) }}</h2>
                                </header>
                            {% endif %}

                            <div class="tab-container">
                                {% for key, value in attributes %}
                                    {% set options = {} %}
                                    {% if key == 'email' or key == 'username' %}
                                        {% set options = options|merge({'readonly': 'true'}) %}
                                    {% endif %}
                                    {{ Property.control(key, value, options)|raw }}
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="side-view-column">
                {% for group, attributes in properties %}
                    {% if group == 'password_change' and attributes %}
                        <section class="fieldset">
                            <header class="mt-25">
                                <h3 class="is-uppercase">{{ __('Change password') }}</h3>
                            </header>

                            <div class="tab-container">
                                {% for key, value in attributes %}
                                    {{ Property.control(key, value)|raw }}
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                {% endfor %}
            </div>

            {% if jsonKeys %}
                {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': jsonKeys|join(',')})|raw }}
            {% endif %}

        {{ Form.end()|raw }}

        {# append "save" to sidebar #}
        {% do _view.append('module-buttons', Form.button( __('Save'),
            {
                'form': 'form-main',
                'class': 'button button-primary button-primary-hover-module-' ~ currentModule.name
            })
        ) %}
    </div>

</div>
