{% do _view.assign('title', __('Dashboard')) %}
{% do _view.assign('bodyViewClass', 'view-dashboard') %}

<dashboard q="{{ _view.getRequest().getSession().read('objects.filter.q') }}" inline-template>
    <div class="dashboard">
        <section class="dashboard-section">
            <div class="dashboard-items">
            {% for name, module in modules %}
                {% if not in_array(name, ['trash', 'users']) %}
                    {# Special cases - set defaults on objects, publications, folders #}
                    {% if name == 'objects' %}
                        {% set module = {'label': __('All objects')}|merge(module) %}
                    {% elseif name == 'publications' %}
                        {% set module = {'class': 'icon-globe-1'}|merge(module) %}
                    {% elseif name == 'folders' %}
                        {% set module = {'class': 'icon-folder'}|merge(module) %}
                    {% endif %}

                    {% set title = Layout.tr(module.label|default(name)) %}

                    {% set class = 'dashboard-item has-background-module-%s %s'|format(name, module.class|default('')) %}
                    {% if module.hints.multiple_types and not module.class %}
                        {% set class = class ~ ' icon-th-large-1' %}
                    {% endif %}

                    {% if module.route %}
                        {% set url = Url.build(module.route) %}
                    {% else %}
                        {% set url = Url.build({ '_name': 'modules:list', 'object_type': name, 'plugin': null }) %}
                    {% endif %}
                    <a href="{{ url }}" class="{{ class }}">
                        <span>{{ title }}</span>
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </section>

        <section class="dashboard-section">

            <header>
                <h2>{{ __('Preferences and Tools') }}</h2>
            </header>

            <div class="dashboard-items">

                {% if modules.trash %}
                    {{ Html.link(__('Trash can'),
                        { '_name': 'trash:list' },
                        { 'title': __('Trash'), 'class': 'dashboard-item has-background-black icon-trash-2' } )|raw }}
                {% endif %}

                {% if modules.users %}
                    {{ Html.link(__('System users'),
                        {'_name': 'modules:list', 'object_type': 'users'},
                        {'title': __('System users'), 'class': 'dashboard-item has-background-black icon-group' } )|raw }}
                {% endif %}

                {{ Html.link(__('User Profile'),
                    { '_name': 'user_profile:view' },
                    { 'title': __('User Profile'), 'class': 'dashboard-item has-background-black icon-user' } )|raw }}

                {% if config('Filters.import') %}
                    {{ Html.link(__('Import'),
                        { '_name': 'import:index' },
                        { 'title': __('Import'), 'class': 'dashboard-item has-background-black icon-download-alt' } )|raw }}
                {% endif %}

                {% if in_array('admin', user.roles) %}
                    {{ Html.link(__('Administration'),
                        { '_name': 'admin:list:appearance' },
                        { 'title': __('Administration'), 'class': 'dashboard-item has-background-black icon-wrench' } )|raw }}
                    {{ Html.link(__('Data modeling'),
                        { '_name': 'model:list:object_types' },
                        { 'title': __('Data modeling'), 'class': 'dashboard-item has-background-black icon-database' } )|raw }}
                {% endif %}
            </div>
        </section>

        <section class="dashboard-section">
            <header>
                <h2>{{ __('Search') }}</h2>
            </header>

            <nav role="search">
                <input type="text" v-model="searchString" v-on:keydown.stop="captureKeys">
                <button ref="searchSubmit" :disabled="!searchString || searchString.length < 3" v-on:click="searchObjects">{{ __('Search') }}</button>
            </nav>

        </section>

        <div class="dashboard-area">

            <section class="dashboard-section">
                <header>
                    <h2>{{ __('Your recent items') }}</h2>
                </header>

                <div class="list-objects">

                    {% for object in recentItems %}
                        <a href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id}) }}" class="table-row object-status-{{ object.attributes.status }}">
                            <div class="narrow">{{ object.attributes.title|default(__('untitled')) }}</div>
                            <div class="type-cell"><span class="tag has-background-module-{{ object.type }}">{{ __(object.type) }}</span></div>
                            <div class="narrow">{{ object.attributes.status }}</div>
                            {# <div class="narrow">{{ object.attributes.lang }}</div> #}
                            <div class="narrow">{{ Time.format(object.meta.modified, 'd MMM YYYY') }} &nbsp; {{ Time.format(object.meta.modified, 'HH:mm') }}</div>
                        </a>
                    {% else %}
                        {{ __('No items found') }}
                    {% endfor %}
                </div>
            </section>

        </div>

    </div>
</dashboard>
