{% do _view.assign('title', __('Dashboard')) %}
{% do _view.assign('bodyViewClass', 'view-dashboard') %}

<dashboard q="{{ _view.getRequest().getSession().read('objects.filter.q') }}" inline-template>
    <div class="dashboard">
        <section class="dashboard-section">
            <div class="dashboard-items">
            {% for name, module in modules %}
                {% if not in_array(name, ['trash', 'users']) %}
                    {% set module = name == 'objects' ? {'label': __('All objects')}|merge(module) : module %}
                    {% set class = 'dashboard-item has-background-module-%s %s'|format(name, module.class|default('')) %}
                    {% set url = module.route ? Url.build(module.route) : Url.build({ '_name': 'modules:list', 'object_type': name, 'plugin': null }) %}
                    <a href="{{ url }}" class="{{ class }}">
                        <span>{{ Layout.tr(module.label|default(name)) }}</span>
                        {% if module.hints.multiple_types and not module.class %}<app-icon icon="carbon:grid"></app-icon>{% endif %}
                        {% if name == 'publications' %}<app-icon icon="carbon:wikis"></app-icon>{% endif %}
                        {% if name == 'folders' %}<app-icon icon="carbon:tree-view"></app-icon>{% endif %}
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </section>

        <section class="dashboard-section">

            <header>
                <h2>{{ __('Preferences and Tools') }}</h2>
            </header>

            <div class="dashboard-items">

                {% if modules.trash %}
                    <a href="{{ Url.build({ '_name': 'trash:list' }) }}" title="{{ __('Trash') }}" class="dashboard-item has-background-black">
                        <span>{{ __('Trash can') }}</span>
                        <app-icon icon="carbon:trash-can"></app-icon>
                    </a>
                {% endif %}

                {% if modules.users %}
                    <a href="{{ Url.build({'_name': 'modules:list', 'object_type': 'users'}) }}" title="{{ __('System users') }}" class="dashboard-item has-background-black">
                        <span>{{ __('System users') }}</span>
                        <app-icon icon="carbon:user-admin"></app-icon>
                    </a>
                {% endif %}

                <a href="{{ Url.build({'_name': 'user_profile:view'}) }}" title="{{ __('User Profile') }}" class="dashboard-item has-background-black">
                    <span>{{ __('User Profile') }}</span>
                    <app-icon icon="carbon:user-profile"></app-icon>
                </a>

                {% if config('Filters.import') %}
                    <a href="{{ Url.build({'_name': 'import:index'}) }}" title="{{ __('Import') }}" class="dashboard-item has-background-black">
                        <span>{{ __('Import') }}</span>
                        <app-icon icon="carbon:download"></app-icon>
                    </a>
                {% endif %}

                {% if in_array('admin', user.roles) %}
                    <a href="{{ Url.build({'_name': 'admin:list:appearance'}) }}" title="{{ __('Administration') }}" class="dashboard-item has-background-black">
                        <span>{{ __('Administration') }}</span>
                        <app-icon icon="carbon:settings"></app-icon>
                    </a>
                    <a href="{{ Url.build({'_name': 'model:list:object_types'}) }}" title="{{ __('Data modeling') }}" class="dashboard-item has-background-black">
                        <span>{{ __('Data modeling') }}</span>
                        <app-icon icon="carbon:concept"></app-icon>
                    </a>
                {% endif %}
            </div>
        </section>

        <section class="dashboard-section">
            <header>
                <h2>{{ __('Search') }}</h2>
            </header>

            <nav role="search">
                <input type="text" v-model="searchString" v-on:keydown.stop="captureKeys">
                <button ref="searchSubmit" :disabled="!searchString || searchString.length < 3" v-on:click="searchObjects">
                    <app-icon icon="carbon:search"></app-icon>
                    {{ __('Search') }}
                </button>
            </nav>

        </section>

        <div class="dashboard-area">

            <section class="dashboard-section">
                <header>
                    <h2>{{ __('Your recent items') }}</h2>
                </header>

                <div class="list-objects">

                    {% for object in recentItems %}
                        <a href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id}) }}" class="table-row object-status-{{ object.attributes.status }}">
                            <div class="narrow">{{ object.attributes.title|truncate(100)|default(__('untitled')) }}</div>
                            <div class="type-cell"><span class="tag has-background-module-{{ object.type }}">{{ __(object.type) }}</span></div>
                            <div class="narrow">{{ object.attributes.status }}</div>
                            {# <div class="narrow">{{ object.attributes.lang }}</div> #}
                            <div class="narrow">{{ Time.format(object.meta.modified, 'd MMM YYYY') }} &nbsp; {{ Time.format(object.meta.modified, 'HH:mm') }}</div>
                        </a>
                    {% else %}
                        {{ __('No items found') }}
                    {% endfor %}
                </div>
            </section>

        </div>

    </div>
</dashboard>
