{% do _view.assign('title', 'Model ' ~ resourceType|humanize) %}
{% do _view.assign('bodyViewClass', 'view-module view-model') %}
{% set translatable = Schema.translatableFields(objectTypeSchema|default([])) %}

<modules-view inline-template ref="moduleView">
<div class="modules-view">

    {% if resource.id %}
    <header>
        <h1 untitled-label="{{ __('Untitled') }}">{{ resource.attributes.name }}</h1>
    </header>
    {% endif %}

    <div class="module-form">

        {{ Form.create({'defaults': resource.attributes, 'schema': {}}, {
            'url': {'_name': 'model:save:object_types'},
            'id': 'form-main',
            'check-changes': 'true',
            'class': 'object-form',
        })|raw }}

            {{ Form.hidden('id', {'value': (object) ? object.id : resource.id})|raw }}
            {{ Form.hidden('_actualAttributes', {'value': currentAttributes})|raw }}
            {# Handle `hidden` and `translation_rules` via hidden input for now #}
            {{ Form.hidden('hidden', {
                id: 'hidden',
                value: resource.attributes.hidden|default([])|json_encode,
            })|raw }}
            {% do Form.unlockField('hidden') %}
            {{ Form.hidden('translation_rules', {
                id: 'translationRules',
                value: resource.attributes.translation_rules|json_encode,
            })|raw }}
            {% do Form.unlockField('translation_rules') %}

            {# Handle newly created custom props via `addedProperties` hidden input for now #}
            {{ Form.hidden('addedProperties', {
                id: 'addedProperties',
                value: []|json_encode,
            })|raw }}
            {% do Form.unlockField('addedProperties') %}

                <property-view inline-template :tab-open="tabsOpen" :is-default-open=true tab-name="general">
                    <section class="fieldset">
                        <header @click.prevent="toggleVisibility()"
                            class="tab unselectable"
                            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
                            <h2>{{ __('General') }}</h2>
                        </header>
                        <div v-show="isOpen" class="tab-container">
                            {% for key, value in properties.core %}
                                {% if key == 'associations' %}
                                    {{ Form.control(key, {
                                        'id': key,
                                        'value': value,
                                        'type': 'select',
                                        'multiple': 'checkbox',
                                        'options': associationsOptions
                                    })|raw }}
                                {% else %}

                                    {% set options = Schema.controlOptions(key, value, schema.properties[key]) %}
                                    {% if resource.meta.core_type %}
                                        {% if key in ['name', 'singular', 'table', 'is_abstract', 'parent_name'] %}
                                            {% set options = options|merge({
                                                'readonly' : true,
                                            }) %}
                                        {% endif %}
                                    {% endif %}

                                    {{ Property.control(key, value, options)|raw }}

                                    {% if key == 'parent_name' %}
                                        <a href="{{ Url.build({'_name': 'model:view:object_types', 'id': value}) }}" class="link-to-parent">› {{ __('view parent') }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </property-view>

        {# Set `_jsonKeys` hidden input from config #}
        {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': config('_jsonKeys', [])|merge(['hidden','translation_rules'])|join(',')})|raw }}

        {{ Form.end()|raw }}

        {% do _view.append(
            'app-module-buttons',
            '<button form="form-main" class="button button-primary button-primary-hover-module-' ~ currentModule.name ~ ' is-width-auto"><app-icon icon="carbon:save"></app-icon><span class="ml-05">' ~ __('Save') ~ '</span></button>',
        ) %}
        {% if not resource.meta.core_type %}
            {{ Form.create(null, {'id': 'form-delete-object-type', 'url': Url.build({'_name': 'model:remove:object_types', 'id': resource.id,})})|raw }}
            {{ Form.end()|raw }}
            {# Append "Remove" to sidebar #}
            {% do _view.append(
                'app-module-buttons',
                '<button form="form-delete-object-type" class="button button-outlined button-outlined-hover-module-model is-width-auto"><app-icon icon="carbon:trash-can"></app-icon><span class="ml-05">' ~ __('Remove') ~ '</span></button>'
            ) %}
        {% endif %}
    </div>

    <property-view inline-template :tab-open="tabsOpen" :is-default-open=true tab-name="relations">
        <section class="fieldset">
            <header @click.prevent="toggleVisibility()"
                class="tab unselectable"
                :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
                <h2>{{ __('Relations') }}</h2>
            </header>
            <div v-show="isOpen" class="relations-container">
                {% if resource.meta.relations %}
                    <div class="relations-group">
                    {% for relation in resource.meta.relations %}
                        <a class="tag is-black" href="{{ Url.build({'_name': 'model:view:relations', 'id': relation}) }}">{{ relation }}</a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No Relations</p>
                {% endif %}
            </div>
        </section>
    </property-view>

    <property-view inline-template :tab-open="tabsOpen" :is-default-open=true tab-name="core-props">
        <section class="fieldset">
            <header @click.prevent="toggleVisibility()"
                class="tab unselectable"
                :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
                <h2>{{ __('Core properties') }}</h2>
            </header>
            <div v-show="isOpen">
                <object-properties
                    :init-properties="{{ objectTypeProperties.core|default([])|json_encode }}"
                    type="core"
                    :hidden="{{ resource.attributes.hidden|default([])|json_encode }}"
                    :translatable="{{ translatable|json_encode }}"
                    :translation-rules="{{ resource.attributes.translation_rules|json_encode }}"
                >
                </object-properties>
            </div>
        </section>
    </property-view>

    <property-view inline-template :tab-open="tabsOpen" :is-default-open=true tab-name="inherited-props">
        <section class="fieldset">
            <header @click.prevent="toggleVisibility()"
                class="tab unselectable"
                :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
                <h2>{{ __('Inherited properties') }}</h2>
            </header>
            <div v-show="isOpen">
                <object-properties
                    :init-properties="{{ objectTypeProperties.inherited|default([])|json_encode }}"
                    type="inherited"
                    :hidden="{{ resource.attributes.hidden|default([])|json_encode }}"
                    :translatable="{{ translatable|json_encode }}"
                    :translation-rules="{{ resource.attributes.translation_rules|json_encode }}"
                >
                </object-properties>
            </div>
        </section>
    </property-view>

    <property-view inline-template :tab-open="tabsOpen" :is-default-open=true tab-name="custom-props">
        <section class="fieldset">
            <header @click.prevent="toggleVisibility()"
                class="tab unselectable"
                :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
                <h2>{{ __('Custom properties') }}</h2>
            </header>
            <div v-show="isOpen">
                <object-properties
                    :init-properties="{{ objectTypeProperties.custom|default([])|json_encode }}"
                    type="custom"
                    :hidden="{{ resource.attributes.hidden|default([])|json_encode }}"
                    :translatable="{{ translatable|json_encode }}"
                    :translation-rules="{{ resource.attributes.translation_rules|json_encode }}"
                >
                    <template #default="{ onPropAdded }">
                        <object-property-add
                            type="custom"
                            :prop-types="{{ propertyTypesOptions.options|default([])|json_encode }}"
                            @prop-added="onPropAdded"
                        />
                    </template>
                </object-properties>
            </div>
        </section>
    </property-view>

    {{ element('Model/sidebar_links') }}

</div>
</modules-view>
