{% do _view.assign('title', __('Data Import')) %}

<div id="data-import">

    <h1>{{ __('Data Import') }}</h1>
    {{ Form.create(null, {
        'id': 'form-import',
        'type': 'file',
        'url': {'_name': 'import:file'},
    })|raw }}
    <section class="fieldset">

        <div class="file-type">
            <label>{{ __('File type') }}</label>
            {# <div class="import-type">
                {{ Form.radio('filter', filters)|raw }}
            </div> #}
        </div>

        <div class="import-options">
            <label>{{ __('Options') }}</label>
            <div id="options">
                {% for f in filters %}
                    <div id="{{ f.name }}">
                        {% for k,v in f.options %}
                        <div>{{ k }}:{{ v }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                </ul>
            </div>
        </div>

        {{ Form.control(__('File upload'), { 'type': 'file' }) | raw }} <br/>

        {# Append "Upload" to commands in commands menu. Must stay here, before the form end. #}
        {% do _view.append('commands', Form.submit(__('Upload'), {'form': 'form-import'})) %}

    </section>
    {{ Form.end()|raw }}


    {% if result %}
    <section>

        <div class="result">
            <h2>{{ __('Result') }}</h2>
        </div>

        <fieldset id="import-result">
            <div class="import-message">
                <h2>{{ result.info|default('') }}</h2>
                <p>{{ __('Number of created objects') }}: {{ result.created|default(0) }}</p>
                <p>{{ __('Number of updated objects') }}: {{ result.updated|default(0) }}</p>
                <p>{{ __('Number of errors') }}: {{ result.errors|default(0) }}</p>

                {% if result.warn %}
                <div class="import-message import-warn">
                    <h2>{{ __('Import warn') }}</h2>
                    <div>{{ result.warn|raw }}</div>
                </div>
                {% endif %}

                {% if result.error %}
                <div class="import-message import-error">
                    <h2>{{ __('Import error') }}</h2>
                    <div>{{ result.error|raw }}</div>
                </div>
                {% endif %}
            </div>
        </fieldset>

    </section>
    {% endif %}

</div>
