{% if not currentModule.hints.multiple_types %}
    {{ Form.create(null, {
        'id': 'form-export',
        'url': {'_name': 'export:export', 'object_type': objectType}
    })|raw }}
        <div class="fieldset">
            {% set formats = config('Export.formats', {
                'CSV': 'csv',
                'Open Document': 'ods',
                'MS Excel': 'xlsx'
            }) %}
            {% set defaultFormat = config('Export.default', 'xslx') %}

            <select name="format" id="exportformat">
            {% for label,format in formats %}
                <option value="{{ format }}" {% if format == defaultFormat %}selected="selected"{% endif %}>{{ label }}</option>
            {% endfor %}
            </select>

            {% do Form.unlockField('format') %}

            <input type="hidden" name="ids" v-model="selectedRows">
            {% do Form.unlockField('ids') %}
            {{ Form.hidden('objectType', {'value': objectType})|raw }}

            <button class="button button-outlined" @click.prevent="exportSelected" :disabled="!selectedRows.length">{{ __('Export') }}</button>

            {# Export all or filtered #}
            {% if _view.request.getQuery('filter') %}
                {{ Form.hidden('filter', {'value': _view.request.getQuery('filter')|json_encode})|raw }}
            {% endif %}
            {{ Form.hidden('q', {'value': _view.request.getQuery('q')})|raw }}

            {% set exportLabel = __('Export All') %}
            {% if _view.request.getQuery('filter') or _view.request.getQuery('q') %}
                {% set exportLabel = __('Export Filtered') %}
            {% endif %}

            <button class="button button-outlined" @click.prevent="exportAll">{{ exportLabel }}</button>
        </div>
    {{ Form.end()|raw }}
{% endif %}
