{% set relationName = 'roles' %}

{% set customElement = Layout.customElement(relationName) %}
{% if customElement %}
   {{ element(customElement) }}
{% else %}

<property-view inline-template :tab-open="tabsOpen" tab-name="roles">

    <section class="fieldset">

        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="[
                isOpen? 'open has-border-module-{{ currentModule.name }}' : '',
                isLoading? 'is-loading-spinner' : ''
            ]">
                <h2>{{ Layout.tr(relationName)|lower }}</h2>
                <span class="tag is-smallest is-black mx-05" v-show="!isLoading">
                    <: totalObjects :>
                </span>
        </header>

        <div v-show="isOpen" class="tab-container">

            <relation-view
                inline-template
                relation-name={{ relationName }}
                relation-label="{{ Layout.tr(relationName) }}"

                @loading="onToggleLoading"
                @count="onCount">

                <div>
                    {% set rolesGroups = config('RolesGroups') ? config('RolesGroups') : {}  %}
                    <roles-list-view
                        relation-name={{ relationName }}
                        relation-label="{{ Layout.tr(relationName) }}"
                        :related-objects="objects"
                        :groups="{{ rolesGroups|length == 0 ? '{}' : rolesGroups|json_encode }}"
                        :management-roles="{{ config('ManagementRoles')|default([])|json_encode }}"
                        :user-roles="{{ user.roles|default([])|json_encode }}"
                        @remove-relations="setRemovedRelated">
                    </roles-list-view>
                    {% do Form.unlockField('relations.' ~ relationName ~ '.addRelated') %}

                    <div class="remove-relations">
                        {# Relations serialized json form element #}
                        {{ Form.control(relationName ~ 'removeRelated', {
                            'type': 'hidden',
                            'name': 'relations[' ~ relationName ~ '][removeRelated]',
                            'v-model': 'removedRelationsData'
                        })|raw }}
                        {% do Form.unlockField('relations.' ~ relationName ~ '.removeRelated') %}
                    </div>
                </div>

            </relation-view>

        </div>

    </section>

</property-view>

{% endif %}
