{% if object.id %}
    <h1 untitled-label="{{ __('Untitled') }}">
        <b v-html="{{ object.attributes.title|json_encode }}"></b>
        {% for obj in included %}
            {% if obj.type == 'streams' %}
                <a class="button button-outlined mx-1" href="{{ obj.meta.url }}" target="_blank">
                    <app-icon icon="carbon:launch"></app-icon>
                    <span class="ml-05">{{ __('Open File') }}</span>
                </a>
            {% endif %}
        {% endfor %}
    </h1>
{% else %}
    <h1 class="has-text-gray-600">{{ __('New object in') }} {{ Layout.tr(object.type) }}</h1>
{% endif %}
