{% do _view.assign('title', __('Translations')) %}
{% do _view.assign('bodyViewClass', 'translation-module') %}
{% set translatable = Schema.translatableFields(schema|default([]), objectType) %}

<modules-view inline-template ref="moduleView">
    <div class="modules-view">
        {{ Form.create(null, {
            'url': {'_name': 'translations:save', 'object_type': objectType},
            'id': 'form-translate',
            'class': 'object-form'
        })|raw }}
            <section class="fieldset">

                <div class="row">
                    <div class="column">
                        <div class="lang-header is-flex align-center">
                            {% set languageLabel = "#{__('Language')}" %}
                            {% set options = Schema.controlOptions('lang', null, [])|default({})|merge({
                                'label': languageLabel,
                                'value': translation.attributes.lang|default(newLang),
                            }) %}
                            {% if options.options %}
                                {% set langOptions = options.options|filter((v, k) => v.value != object.attributes.lang) %}
                                {% set options = options|merge({
                                    'options': langOptions,
                                    'ref': 'translateTo',
                                }) %}
                            {% endif %}
                            {% if translation.attributes.lang %}
                                {% set options = options|merge({'readonly': true}) %}
                            {% endif %}
                            {{ Form.control('lang', options)|raw }}
                            {% if config('Translator.class') %}
                                {% set data = [] %}
                                {% for key in translatable %}
                                    {% set data = data|merge({
                                        (loop.index0): {
                                            'field': key,
                                            'content': object.attributes[key],
                                            'from': object.attributes.lang,
                                            'to': translation.attributes.lang
                                        }
                                    }) %}
                                {% endfor %}
                                <a class="button has-background-module-translations" @click.prevent="translateAll({{ data|json_encode }}, $event)">
                                    <Icon icon="carbon:translate"></Icon>
                                    <span class="ml-05 has-text-size-smallest">{{ __('Auto-translate all fields') }}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="column">
                        <div class="lang-header is-flex align-bottom">
                            {% set languageLabel = "#{__('Original language')}" %}
                            {% set options = Schema.controlOptions('lang', null, [])|merge({
                                'label': languageLabel,
                                'value': object.attributes.lang,
                                'disabled' : true,
                            }) %}
                            {{ Form.control('lang', options)|raw }}
                            <a class="button has-background-module-{{ object.type }}" href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id }) }}">
                                <Icon icon="carbon:launch"></Icon>
                                <span class="ml-05">{{ __('Edit') }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ Property.control('status', translation.attributes.status|default('draft'))|raw }}
                    </div>
                    <div class="column">
                        <label>{{ __('Status') }}</label>
                        {{ object.attributes.status|default('draft') }}
                    </div>
                </div>
                {% for key in translatable %}
                <div class="row tab-container" style="display: table">
                    <div class="column">
                        {{ Property.translationControl(key, translation.attributes.translated_fields[key], {'ref': key})|raw }}

                        {# automatic translate button #}
                        {% if config('Translator.class') %}
                            {% set translationParams = {
                                'field': key,
                                'content': object.attributes[key],
                                'from': object.attributes.lang,
                                'to': translation.attributes.lang
                            } %}
                            <button class="mt-05" :disabled="!isTranslatable({{ object.attributes[key]|json_encode }})" @click.prevent="translate({{ translationParams|json_encode }}, $event)">
                                <Icon icon="carbon:translate"></Icon>
                                <span class="ml-05 has-text-size-smallest">{{ __('Auto-translate') }} {{ key }}</span>
                            </button>
                        {% endif %}
                    </div>
                    <div class="column">
                        {{ Property.control(key, object.attributes[key], {'disabled': 'disabled', 'readonly': 'readonly'})|raw }}
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="column">
                        {{ element('Form/meta', { 'object' : translation }) }}
                    </div>
                    <div class="column">
                        {{ element('Form/meta', { 'object' : object }) }}
                    </div>
                </div>

            </section>

            {# Set `_jsonKeys` hidden input from config #}
            {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': config('_jsonKeys', [])|join(',')})|raw }}

            {# The ID of the resource translated #}
            {{ Form.hidden('object_id', {'value': object.id})|raw }}

            {# The translation ID #}
            {% if translation.id %}
                {{ Form.hidden('id', {'value': translation.id})|raw }}
            {% endif %}

            {# Append "Save" to sidebar #}
            {% do _view.append('app-module-buttons',
                '<button form="form-translate" class="button button-primary button-primary-hover-module-' ~ currentModule.name ~ ' is-width-auto" onclick="this.classList.add(\'is-loading-spinner\')"><Icon icon="carbon:save"></Icon><span class="ml-05">' ~ __('Save') ~ '</span></button>'
            ) %}

        {{ Form.end()|raw }}

        {% if translation.id %}
            {{ Form.create(null, {'id': 'form-delete-translation', 'url': Url.build({'_name': 'translations:delete', 'object_type': objectType})})|raw }}
                {{ Form.hidden('id', {'value': translation.id})|raw }}
                {{ Form.hidden('object_id', {'value': object.id})|raw }}
                {{ Form.hidden('lang', {'value': translation.attributes.lang})|raw }}
            {{ Form.end()|raw }}
            {# Append "Remove" to sidebar #}
            {% do _view.append(
                'app-module-buttons',
                '<button form="form-delete-translation" class="button button-outlined button-outlined-hover-module-' ~ currentModule.name ~ ' is-width-auto"><Icon icon="carbon:trash-can"></Icon><span class="ml-05">' ~ __('Remove') ~ '</span></button>'
            ) %}
        {% endif %}

    </div>
</modules-view>
