{% do _view.assign('title', __('Translations')) %}
{% do _view.assign('bodyViewClass', 'translation-module') %}
{% set translatable = Schema.translatableFields(schema|default([])) %}

<modules-view inline-template ref="moduleView" :user-roles="{{ user.roles|json_encode }}">
    <div class="modules-view">
        {{ Form.create(null, {
            'url': {'_name': 'translations:save', 'object_type': objectType},
            'id': 'form-translate',
            'class': 'object-form'
        })|raw }}
            <section class="fieldset">

                <div class="row">
                    <div class="column">
                        <div class="lang-header is-flex align-center">
                            <language-selector
                                exclude-lang="{{ object.attributes.lang }}"
                                language="{{ translation.attributes.lang ? translation.attributes.lang : newLang }}"
                                :languages="{{ config('Project.config.I18n.languages')|default([])|json_encode|escape('html_attr') }}"
                                language-label="{{ __('Language') }}"
                                :readonly={{ translation.attributes.lang ? 1 : 0 }}
                                reference="translateTo">
                            </language-selector>
                            {% if config('Translators') %}
                            <div>
                                <div class="input select">
                                    <label>{{ __('Translator Engine') }}</label>
                                    <select id="translatorEngine">
                                        {% for key,translator in config('Translators') %}
                                            <option value="{{ key }}">{{ translator.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                                {% set data = [] %}
                                {% for key in translatable %}
                                    {% set data = data|merge({
                                        (loop.index0): {
                                            'field': key,
                                            'content': object.attributes[key],
                                            'from': object.attributes.lang,
                                            'to': translation.attributes.lang
                                        }
                                    }) %}
                                {% endfor %}
                            <div>
                                <div class="input">
                                    <label>{{ __('Auto-translate all fields') }}</label>
                                    <a class="button has-background-module-translations" @click.prevent="translateAll({{ data|json_encode }}, $event)">
                                        <app-icon icon="carbon:translate"></app-icon>
                                        <span class="ml-05 has-text-size-smallest">{{ __('Auto-translate') }}</span>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="column">
                        <div class="lang-header is-flex align-bottom">
                            <language-selector
                                language="{{ object.attributes.lang ? object.attributes.lang : config('Project.config.I18n.default')|json_encode }}"
                                :languages="{{ config('Project.config.I18n.languages')|default([])|json_encode|escape('html_attr') }}"
                                language-label="{{ __('Original language') }}"
                                :readonly={{ object.attributes.lang ? 1 : 0 }}
                                reference="translateFrom">
                            </language-selector>
                            <a class="button has-background-module-{{ object.type }}" href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id }) }}">
                                <app-icon icon="carbon:launch"></app-icon>
                                <span class="ml-05">{{ __('Edit') }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ Property.control('status', translation.attributes.status|default('draft'))|raw }}
                    </div>
                    <div class="column">
                        <label>{{ __('Status') }}</label>
                        {{ object.attributes.status|default('draft') }}
                    </div>
                </div>
                {% for key in translatable %}
                <div class="row tab-container" style="display: table">
                    <div class="column">
                        {{ Property.translationControl(key, translation.attributes.translated_fields[key], {'ref': key})|raw }}

                        {# automatic translate button #}
                        {% if config('Translators') %}
                            {% set translationParams = {
                                'field': key,
                                'content': object.attributes[key],
                                'from': object.attributes.lang,
                                'to': translation.attributes.lang
                            } %}
                            <button class="mt-05" :disabled="!isTranslatable({{ object.attributes[key]|json_encode }})" @click.prevent="translate({{ translationParams|json_encode }}, $event)">
                                <app-icon icon="carbon:translate"></app-icon>
                                <span class="ml-05 has-text-size-smallest">{{ __('Auto-translate') }} {{ key }}</span>
                            </button>
                        {% endif %}
                    </div>
                    <div class="column">
                        {{ Property.control(key, object.attributes[key], {'disabled': 'disabled', 'readonly': 'readonly'})|raw }}
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="column">
                        {{ element('Form/meta', { 'object' : translation }) }}
                    </div>
                    <div class="column">
                        {{ element('Form/meta', { 'object' : object }) }}
                    </div>
                </div>

            </section>

            {# Set `_jsonKeys` hidden input from config #}
            {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': config('_jsonKeys', [])|join(',')})|raw }}

            {# The ID of the resource translated #}
            {{ Form.hidden('object_id', {'value': object.id})|raw }}

            {# The translation ID #}
            {% if translation.id %}
                {{ Form.hidden('id', {'value': translation.id})|raw }}
            {% endif %}

            {# Append "Save" to sidebar #}
            {% do _view.append('app-module-buttons',
                '<button form="form-translate" class="button button-primary button-primary-hover-module-' ~ currentModule.name ~ ' is-width-auto" onclick="this.classList.add(\'is-loading-spinner\')"><app-icon icon="carbon:save"></app-icon><span class="ml-05">' ~ __('Save') ~ '</span></button>'
            ) %}

        {{ Form.end()|raw }}

        {% if translation.id %}
            {{ Form.create(null, {'id': 'form-delete-translation', 'url': Url.build({'_name': 'translations:delete', 'object_type': objectType})})|raw }}
                {{ Form.hidden('id', {'value': translation.id})|raw }}
                {{ Form.hidden('object_id', {'value': object.id})|raw }}
                {{ Form.hidden('lang', {'value': translation.attributes.lang})|raw }}
            {{ Form.end()|raw }}
            {# Append "Remove" to sidebar #}
            {% do _view.append(
                'app-module-buttons',
                '<button form="form-delete-translation" class="button button-outlined button-outlined-hover-module-' ~ currentModule.name ~ ' is-width-auto"><app-icon icon="carbon:trash-can"></app-icon><span class="ml-05">' ~ __('Remove') ~ '</span></button>'
            ) %}
        {% endif %}

    </div>
</modules-view>
