{% set level = level|default('info') %}

<flash-message inline-template {% if level == 'error' %} :is-blocking="true" {% endif %}>
<div id="flashMessagesContainer" ref="flashMessagesContainer" :class="isVisible? 'on' : ''">

    {% if level == 'error' and _view.name != 'Login' %}
        <div class="background-mask" v-show="isVisible" v-on:click.self="hide"></div>
    {% endif %}

    <div class="message {{ level }} {{ params.class|default('') }}">
        <button class="close-button" @click="hide"></button>

        <h2>
            {% if level == 'error' %}
                <i class="icon-attention-circled"></i> {{ message }}
            {% elseif level == 'info' %}
                <i class="icon-info-1"></i> {{ __('Success') }}
            {% elseif level == 'success' %}
                <i class="icon-ok-circled-1"></i> {{ __('Success') }}
            {% elseif level == 'warning' %}
                <i class="icon-dot-circled"></i> {{ __('Warning') }}
            {% else %}
                <i class="icon-info-1"></i> {{ message }}
            {% endif %}
        </h2>

        {% if _view.name != 'Login' and level == 'error' %}
            {% if params and config('debug') %}
                <a v-on:click="isDumpVisible = true" v-show="!isDumpVisible">{{ __('code') }}: {{ params.code }} <i class="icon-down-dir"></i></a>
                <div class="dump" v-show="isDumpVisible">
                    <code>
                    {% for key, value in params %}
                        {% if value is not iterable %}
                            {{ key }}: {{ value|nl2br|raw }}<br>
                        {% else %}
                            {{ key }}:<br>
                            {{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}<br>
                        {% endif %}
                    {% endfor %}
                    </code>
                </div>
            {% else %}
                <p>{{ __('code') }}: {{ params.code }}</p>
            {% endif %}
        {% endif %}
    </div>

</div>
</flash-message>
