{% set level = level|default('info') %}

<div class="message on {{ level }} {{ params.class|default('') }}">

    <h2>
        {% if level == 'error' %}
            {{ __('Error') }}
        {% elseif level == 'info' %}
            {{ __('Info') }}
        {% elseif level == 'success' %}
            {{ __('Success') }}
        {% elseif level == 'warning' %}
            {{ __('Warning') }}
        {% else %}
            {{ __('Message') }}
        {% endif %}
    </h2>

    <p>
        {% if params.escape|default(true) != false %}
            {{ message }}
        {% else %}
            {{ message|raw }}
        {% endif %}
    </p>

    {% if params %}
        <a href="javascript:void(0)" onclick="this.nextElementSibling.removeAttribute('hidden');this.parentNode.classList.add('details');this.setAttribute('hidden', true);">
            {{ __('Show details') }}
        </a>
        <pre><code>{{ params|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>
    {% endif %}

    <a href="javascript:void(0)" class="btn-close" onclick="this.parentNode.classList.remove('on');">
        {{ __('Close') }}
    </a>
</div>
