{% set level = level|default('info') %}

<flash-message :timeout=2 inline-template>
<div class="message {{ level }} {{ params.class|default('') }}" :class="visibilityClass">
    <h2>
        {% if level == 'error' %}
            {{ __('Error') }}
        {% elseif level == 'info' %}
            {{ __('Info') }}
        {% elseif level == 'success' %}
            {{ __('Success') }}
        {% elseif level == 'warning' %}
            {{ __('Warning') }}
        {% else %}
            {{ __('Message') }}
        {% endif %}
    </h2>

    <p>
        {% if params.escape|default(true) != false %}
            {{ message }}
        {% else %}
            {{ message|raw }}
        {% endif %}
    </p>

    {% if _view.name != 'Login' %}

        {% if params %}
            <a href="javascript:void(0)" onclick="this.nextElementSibling.removeAttribute('hidden');this.parentNode.classList.add('details');this.setAttribute('hidden', true);">
                {{ __('Show details') }}
            </a>
            <pre><code>{{ params|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>
        {% endif %}

        <a class="btn-close" @click="closeMessage()">
            {{ __('Close') }}
        </a>

    {% endif %}
</div>
</flash-message>
