{% set level = level|default('info') %}

<flash-message inline-template {% if level == 'error' %} :is-blocking="true" {% endif %}>
<div id="flashMessagesContainer" ref="flashMessagesContainer" :class="isVisible? 'on' : ''">

    {% if level == 'error' and _view.name != 'Login' %}
        <div class="background-mask" v-show="isVisible" v-on:click.self="hide"></div>
    {% endif %}

    <div class="message {{ level }}{{ (' ' ~ params.class|default(''))|trim }}">
        {% if _view.name != 'Login' %}
            <i class="icon-cancel-1 has-text-size-larger" @click="hide"></i>
        {% endif %}

        <h2>
            {% if _view.name != 'Login' %}
                {% if level == 'error' %}
                    <i class="icon-attention-circled"></i>
                {% elseif level == 'info' %}
                    <i class="icon-info-1"></i>
                {% elseif level == 'success' %}
                    <i class="icon-ok-circled-1"></i>
                {% elseif level == 'warning' %}
                    <i class="icon-dot-circled"></i>
                {% else %}
                    <i class="icon-info-1"></i>
                {% endif %}
            {% endif %}
            {{ message }}
        </h2>

        {% if _view.name != 'Login' and level == 'error' %}
            {% if params and in_array('admin', user.roles) %}
                <a @click="isDumpVisible = true" v-show="!isDumpVisible">{{ __('code') }}: {{ params.status }} {{ params.code }}<i class="icon-down-dir"></i></a>
                <div class="dump" v-show="isDumpVisible">
                    <code>
                    {% for key, value in params %}
                        {% if value %}
                            {% if value is not iterable %}
                                {{ key }}: {{ value|nl2br|raw }}<br>
                            {% else %}
                                {{ key }}:<br>
                                <pre>{{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                                <br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </code>
                </div>
            {% elseif params.status or params.code %}
                <p>{{ __('code') }}: {{ params.status }} {{ params.code }}</p>
            {% endif %}
        {% endif %}
    </div>

</div>
</flash-message>
