{% set here=Link.here({'exclude': 'q'}) %}

<div class="toolbar-filters">
    {# FilterBoxView #}
    <filter-box-view
        :pagination={{ meta.pagination|json_encode|raw }}
        :init-filter="urlFilterQuery"

        config-paginate-sizes={{ config('Pagination.sizeAvailable')|json_encode()|raw }}
        placeholder="{{ __('Search in BEdita') }}"
        apply-filter-label={{ __('Apply') }}
        reset-filter-label={{ __('Reset') }}
        page-sizes-label={{ __('Size') }}
        objects-label={{ __(currentModule.name) }}
        page-size={{ meta.pagination.page_size }}

        @filter-objects-submit="onFilterObjects"
        @filter-reset="resetFilters"
        @filter-update-current-page="onUpdateCurrentPage"
        @filter-update-page-size="onUpdatePageSize">
    </filter-box-view>
</div>
