{% set paging = meta.pagination %}

{% element 'Toolbar/_toolbar_pagination_related_script' %}

<div class="toolbar_pagination">

    <div class="results">
        {{ paging.count }} {{ currentModule.name }}
    </div>

    <div class="pagination">
        <ul>
            <li>{{ __('Page') }} {{ paging.page }} / {{ paging.page_count }}</li>
            <li><a class="relatedPage" href="#" data-href="{{ Link.fromAPI(links.first) }}">{{ __('First') }} </a></li>
            {% if links.prev %}
            <li><a class="relatedPage" data-page="{{ paging.page - 1 }}">{{ __('Prev') }} </a></li>
            {% endif %}
            {% if links.next %}
            <li><a class="relatedPage" data-page="{{ paging.page + 1 }}">{{ __('Next') }} </a></li>
            {% endif %}
            <li><a class="relatedPage" data-page="{{ paging.page_count }}">{{ __('Last') }} </a></li>
        </ul>
    </div>

    <div class="pageSize">
        {{ __('Page Size') }}:
        <select name="{{ relation }}PageSize">
        {% for size in config('Pagination.sizeAvailable') %}
            <option value="{{ size }}" {% if paging.page_size == size %}selected="selected"{% endif %}>{{ size }}</option>
        {% endfor %}
        </select>
    </div>

</div>
