{# module variables #}
{% set baseUrl = '/' ~ currentModule.name %} {# path #}
{# page variables #}
{% set page = meta.pagination.page %} {# current #}
{% set pageCount = meta.pagination.page_count %} {# last #}
{% set pageSize = meta.pagination.page_size %} {# size #}
{# display pagination settings #}
{% set showAlwaysFirstAndLast = false %}
{% set extremePagesLimit = 2 %} {# the number of first and last pages to be displayed #}
{% set nearbyPagesLimit = 2 %}{# the number of pages that are displayed around the active page #}

<script type="text/javascript">
$(document).ready(function(){
    $('select[name=pageSize]').change(function(event){
        let url = "{{ baseUrl }}?page={{page}}&page_size=" + event.target.value;
        window.location.replace(url);
    });
});
</script>

<div class="toolbar_pagination">

    {% if currentModule.hints.object_type|default(false) %}
    <div class="creation">
        {{ Html.link(__('Create new {0}', currentModule.singular), {'_name': 'modules:create', 'object_type': objectType})|raw }}
    </div>
    {% endif %}

    <div class="pagesInfo">
        {{ __('Page') }} {{ page }} {{ __('of') }} {{ pageCount }}
        ({{ meta.pagination.count ~ ' ' ~ objectType}})
    </div>

    <div class="pageSize">
        <label>{{ __('Elements per page') }}</label>:
        <select name="pageSize">
        {% for page in [10, 20, 50, 100] %}
            <option value="{{ page }}" {% if pageSize == page %}selected="selected"{% endif %}>{{ page }}</option>
        {% endfor %}
        </select>
    </div>

    {% if pageCount > 1 %}
    <div class="pagination">
        <div class="pagination pagination-centered">
            <ul>
            {% if page > 1 %}
                <li><a href="{{ baseUrl }}?page={{ page-1 }}&amp;page_size={{ pageSize }}">&larr;</a></li>
                {% for i in range(1, extremePagesLimit) if ( i < page - nearbyPagesLimit ) %}
                <li><a href="{{ baseUrl }}?page={{ i }}&amp;page_size={{ pageSize }}">{{ i }}</a></li>
                {% endfor %}
                {% if extremePagesLimit + 1 < page - nearbyPagesLimit %}
                <li class="disabled"><i>...</i></li>
                {% endif %}
                {% for i in range(page-nearbyPagesLimit, page-1) if ( i > 0 ) %}
                <li><a href="{{ baseUrl }}?page={{ i }}&amp;page_size={{ pageSize }}">{{ i }}</a></li>
                {% endfor %}
            {% elseif showAlwaysFirstAndLast %}
                <li><a href="#">{{ __('Previous') }}</a></li>
            {% endif %}
                <li class="active"><b>{{ page }}</b></li>
            {% if page < pageCount %}
                {% for i in range(page+1, page + nearbyPagesLimit) if ( i <= pageCount ) %}
                <li><a href="{{ baseUrl }}?page={{ i }}&amp;page_size={{ pageSize }}">{{ i }}</a></li>
                {% endfor %}
                {% if  (pageCount - extremePagesLimit) > (page + nearbyPagesLimit) %}
                <li class="disabled"><i>...</i></li>
                {% endif %}
                {% for i in range(pageCount - extremePagesLimit+1, pageCount) if ( i > page + nearbyPagesLimit ) %}
                <li><a href="{{ baseUrl }}?page={{ i }}&amp;page_size={{ pageSize }}">{{ i }}</a></li>
                {% endfor %}
                <li><a href="{{ baseUrl }}?page={{ page+1 }}&amp;page_size={{ pageSize }}">&rarr;</a></li>
            {% elseif showAlwaysFirstAndLast %}
                <li><a href="{{ baseUrl }}?page={{ page+1 }}&amp;page_size={{ pageSize }}">{{ __('Next') }}</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}

</div>
