{# page variables #}
{% set paging = meta.pagination %}

<script type="text/javascript">
$(document).ready(function(){
    $('select[name=pageSize]').change(function(event){
        window.location.replace(event.target.value);
    });
});
</script>

<div class="toolbar_pagination">

    {% if currentModule.hints.object_type|default(false) %}
    <div class="creation">
        {{ Html.link(__('Create new'), {'_name': 'modules:create', 'object_type': objectType})|raw }}
    </div>
    {% endif %}

    <div class="results">
        {{ paging.count }} {{ currentModule.name }}
    </div>

    {% if (paging.page_count > 1) %}
    <div class="pagination">
        <ul>
            <li>{{ __('Page') }} {{ paging.page }} / {{ paging.page_count }}</li>
            <li><a href="{{ Link.fromAPI(links.first) }}">{{ __('First') }} </a></li>
            {% if links.prev %}
            <li><a href="{{ Link.fromAPI(links.prev) }}">{{ __('Prev') }} </a></li>
            {% endif %}
            {% if links.next %}
            <li><a href="{{ Link.fromAPI(links.next) }}">{{ __('Next') }} </a></li>
            {% endif %}
            <li><a href="{{ Link.fromAPI(links.last) }}">{{ __('Last') }} </a></li>
        </ul>
    </div>
    {% endif %}

    <div class="pageSize">
        {{ __('Page Size') }}:
        <select name="pageSize">
        {% for page in config('Pagination.Sizes') %}
            <option value="{{ Link.pageSize(page) }}" {% if meta.pagination.page_size == page %}selected="selected"{% endif %}>{{ page }}</option>
        {% endfor %}
        </select>
    </div>

</div>
