{% do _view.assign('title', 'Model ' ~ resourceType|humanize) %}
{% do _view.assign('bodyViewClass', 'view-model') %}

{% set ids = Array.extract(resources, '{*}.id') %}

{% set resourceType = _view.request.params.resource_type %}

<modules-index inline-template ids='{{ ids|json_encode }}'>
    <div class="model-index">
        <div class="list-resources">

            {# list resources : table header #}
            {% if resources %}
            <nav class="table-header">
                <div @click="toggleAll">
                    <input type="checkbox" :checked="allChecked">
                </div>

                <div>{{ Link.sort('id')}}</div>

                {% for prop in properties %}
                    <div>{{ Link.sort(prop) }}</div>
                {% endfor %}
                <div></div>

            </nav>
            {% endif %}

            {# list resources : rows #}
            {% for resource in resources %}
                <a
                    href="{{ Url.build({'_name': 'model:view', 'resource_type': resource.type, 'id': resource.id}) }}"
                    title="{{ resource.attributes.name }}"
                    class="resource-status-on">

                        <div class="{{ prop }}-cell" @click="selectRow">
                            {{ Form.unlockField('oneItem') }}
                            <input type="checkbox" name="oneItem" value="{{ resource.id }}" v-model="selectedRows">
                        </div>

                        <div>{{ resource.id }}</div>

                        {% for prop in properties %}
                            {% set propVal = resource.attributes[prop] %}
                            {% if propVal is iterable %}
                                {% set propVal = propVal|json_encode(constant('JSON_PRETTY_PRINT')) %}
                            {% elseif  propVal is same as(true) %}
                                {% set propVal = 'Y' %}
                            {% elseif  propVal is same as(false) %}
                                {% set propVal = 'N' %}
                            {% endif %}

                            <div class="{{ prop }}-cell" untitled="{{ __('Untitled') }}">{{ propVal }}</div>
                        {% endfor %}

                        {# <div class="buttons">
                        {% if in_array('DELETE', currentModule.hints.allow) %}
                            {{ Form.postButton(__('Trash'), {'_name': 'modules:delete', 'object_type': object.type}, {'class': '', 'data': {'id': object.id}})|raw }}
                        {% endif %}
                        </div> #}
                </a>
            {% else %}
                {{ __('No items found') }}
            {% endfor %}

        </div>
        {# end list-objects #}

        {# commands links to append in left side bar (commands menu) #}
        {% do _view.append('commands-links', Html.link(__('Object types'), {'_name': 'model:list', 'resource_type': 'object_types'})|raw) %}
        {% do _view.append('commands-links', Html.link(__('Relations'), {'_name': 'model:list', 'resource_type': 'relations'})|raw) %}
        {% do _view.append('commands-links', Html.link(__('Property types'), {'_name': 'model:list', 'resource_type': 'property_types'})|raw) %}

    </div> {# end module-content #}
</modules-index>
