
<label>{{ name }}:</label>
<br />
<input type="text" id="{{ name }}BEObject" name="{{ name }}"  style="width:100%"
    value="{% if value is iterable %}{{ value|json_encode() }}{% else %}{{ value }}{% endif %}"/>

