{{ _view.assign('title', __('BEdita 4 - Dashboard')) }}

<body class="home">
{% element 'left_menu' %}
<div class="dashboardcontainer">
    <div class="dashboard dashboard-modules">
        <ul class="modules">
        {% for mod in modules %}
            <li class="{{ mod.name }}">
                <a href="{{ baseUrl }}{{ mod.name }}" title="{{ mod.name }}">{{ mod.name }}</a>
            </li>
        {% endfor %}
    </div>
</div>

</body>
