{% do _view.assign('title', __(currentModule.name|humanize)) %}
{% set indexViewType = Layout.moduleIndexViewType() %}
{% if indexViewType != 'calendar' %}
    {{ element('Modules/index_header', {
        'meta': meta,
        'filter': filter,
        'Schema': Schema,
        'hidePagination': indexViewType == 'tree'}
    ) }}
{% endif %}

{% set ids = Array.extract(objects, '{*}.id') %}
<modules-index inline-template ids='{{ ids|json_encode }}' objects={{ Schema.minimalObjectsList(objects)|json_encode }}>
    <div class="module-index">
        {{ element('Modules/' ~ indexViewType) }}
        {{ element(Element.sidebar()) }}
    </div>
</modules-index>
