<section class="px-1">
    <header>
        <h1>{{ __('Error ') }} {{ error.code }}</h1>
    </header>

    <div>
        <p class="my-1">
            {{ message }}
        </p>

        {% if config('debug') %}

            {% if error %}
            <hr>
            <p class="my-1">
                <strong>Error in: </strong>
                {{ error.getFile }}, line {{ error.getLine }}
            </p>
            {% endif %}

        {% endif %}
    </div>

    <div class="my-1">
        <a href="/" class="button button-outlined">
            <app-icon icon="carbon:undo"></app-icon>
            <span class="ml-05">{{ __('Return to Dashboard') }}</span>
        </a>
    </div>

    <div></div>

    <div class="my-1">
        <a href="/logout" class="button button-outlined">
            <app-icon icon="carbon:logout"></app-icon>
            <span class="ml-05">{{ __('Log out') }}</span>
        </a>
    </div>

</section>
