{% if object and object.relationships.translations %}

    <property-view inline-template :tab-open="tabsOpen" :tab-open-at-start="false" ref={{ resourceName }}>
        <section class="fieldset" :class="isOpen? '' : 'closed'">

            <header @click.prevent="toggleVisibility();" class="tab unselectable" v-bind:class="isLoading? 'is-loading-spinner' : ''">
                <h2>
                    {{ __(resourceName|humanize)|lower }}
                </h2>
                <span class="has-text-size-smallest"><: totalObjects :></span>
            </header>

            <div v-show="isOpen" class="tab-container">

                <relation-view inline-template
                    relation-name={{ resourceName }}
                    config-paginate-sizes={{ config('Pagination.sizeAvailable')|json_encode()|raw }}
                    ref="relation"

                    @loading="onToggleLoading"
                    @count="onCount">

                    <div class="relation-view">
                        <div class="related-list-container">

                            {{ Html.link(__('New translation'), {
                                '_name': 'translations:add',
                                'object_type': object.type,
                                'id': object.id
                            }, {
                                'target': '_blank',
                                'class' : 'icon-plus button mb-1',
                            })|raw }}

                            {# related objects #}
                            <div class="related-objects-list columns" v-bind:class="loading? 'isLoading' : ''">
                                <div class="related-object column is-2 is-one-third-fullhd"
                                    v-for="(related, index) in objects"
                                    :key="related.id"
                                    :class="containsId(removedRelated, related.id)? 'removed' : ''">

                                    {% element 'Form/related_item' { 'translation': true } %}

                                </div>
                            </div>

                        </div>

                        {# hidden field - relations serialized json #}
                        {{ Form.control(resourceName ~ 'removeRelated', {
                            'type': 'hidden',
                            'name': 'relations[' ~ resourceName ~ '][removeRelated]',
                            'v-model': 'removedRelationsData'
                        })|raw }}
                        {{ Form.unlockField('relations.' ~ resourceName ~ '.removeRelated')}}

                    </div>
                </relation-view>
            </div>

        </section>
    </property-view>

{% endif %}
