<div class="commands-menu">
    <div class="project">
        {{ Html.link(__(''), {'_name': 'dashboard'}, {'title': __('Dashboard')})|raw }}
    </div>

    <div class="commands-module squared">
        {% if currentModule %}
            {{ Html.link(currentModule.name|humanize, {'_name': 'modules:list', 'object_type': currentModule.name}, {'class': "has-background-module-#{currentModule.name}"})|raw }}
        {% else %}
            {{ Html.link(_view.request.params.controller|humanize, _view.request.params, {'class': 'commands-menu__module'})|raw }}
        {% endif %}

        {% if _view.request.getQuery('filter.type') != 'objects' %}
            {% set elementClass = "has-background-module-" ~ _view.request.getQuery('filter.type') %}
        {% endif %}
        <div class="{{ elementClass }}"></div>
    </div>

    <div class="commands-buttons">
        {{ _view.fetch('commands')|raw }}
    </div>

    <div class="commands-footer">
        {{ _view.fetch('commands-footer')|raw }}
    </div>
</div>
<div></div>
