<ul role="menu">

    {# Core object modules #}
    {% for name, module in modules if name != 'trash' %}
        <li class="has-background-module-{{ name }} {{ name == currentModule.name ? 'current' : '' }}">
            {{ Html.link(
                name|humanize|slice(0, 2),
                {'_name': 'modules:list', 'object_type': name, 'plugin': null},
                {'tooltip': name|humanize})|raw }}
        </li>
    {% endfor %}

    {# Plugin modules #}
    {% for k, plugin in config('PluginModules') %}
        <li class="{{ plugin.class.menu }}">
            {{ Html.link(plugin.title|humanize|slice(0, 2),
                plugin.route,
                {'tooltip': plugin.title|humanize})|raw }}
        </li>
    {% endfor %}

    {% if currentModule.name != "trash" %}
        {% if currentModule.hints.multiple_types %}
            {% set elementClass = "space-around-half has-background-module-" ~ currentModule.name %}
        {% else %}
            {% set elementClass = "has-text-module-" ~ currentModule.name %}
        {% endif %}
        <li class="has-background-transparent {{ elementClass }} icon-trash-2 center-icon">
        {{ Html.link(__(''),
            {'_name': 'trash:list', 'filter': {'type': objectType}},
            {'tooltip': __('View trashed ') ~ currentModule.name|humanize}
        )|raw }}
    </li>
    {% endif %}

    <li class="has-background-transparent separator">&nbsp;</li>
    <li class="has-background-black icon-wrench center-icon">&nbsp;</li>
    <li class="has-background-black icon-user center-icon">
        {{ Html.link(__(''), {'_name': 'user_profile:view'}, {'title': __('User Profile')})|raw }}
    </li>

    {# Localization link(s) #}
    {% for code, name in I18n.getLanguages() if code != I18n.getLang() %}
    <li>
        {{ Html.link(code, {'_name': 'modules:lang', 'lang': code}, {'title': __(name)})|raw }}
    </li>
    {% endfor %}

    {# logout #}
    <li class="has-background-black has-text-danger icon-logout center-icon">
        {{ Html.link(__(''), {'_name': 'logout'}, {'title': 'log out'})|raw }}
    </li>
</ul>
