<main-menu inline-template>
<ul role="menu">

    {# Core object modules #}
    {% for name, module in modules if name != 'trash' %}
        <li class="has-background-module-{{ name }} {{ name == currentModule.name ? 'current' : '' }}">
            {{ Html.link(
                __(name|humanize)|slice(0, 2),
                { '_name': 'modules:list', 'object_type': name, 'plugin': null },
                { 'tooltip': __(name|humanize), 'class': 'square' })|raw }}
        </li>
    {% endfor %}

    {# Plugin modules #}
    {% for k, plugin in config('PluginModules') %}
        <li class="{{ plugin.class.menu }}">
            {{ Html.link(__(plugin.title|humanize)|slice(0, 2),
                plugin.route,
                {'tooltip': __(plugin.title|humanize), 'class': 'square'})|raw }}
        </li>
    {% endfor %}

    {# trash #}
    {% if currentModule.name != "trash" %}
        {% if currentModule.hints.multiple_types %}
            {% set elementClass = "space-around-half has-background-module-" ~ currentModule.name %}
        {% else %}
            {% set elementClass = "has-text-module-" ~ currentModule.name %}
        {% endif %}
        <li class="has-background-transparent {{ elementClass }} icon-trash-2 center-icon has-tooltip-align-right">
        {{ Html.link(__(''),
            {'_name': 'trash:list', 'filter': {'type': objectType}},
            {'tooltip': __('View trashed ') ~ currentModule.name|humanize, 'class': 'square'}
        )|raw }}
    </li>
    {% endif %}

    <li class="has-background-transparent spacer">&nbsp;</li>

    {# look up by id #}
    <li class="has-background-black has-tooltip-align-right" :class="isLookUpByIdPopupVisibile? 'popup-on' : ''">
        {{ Html.link(__('ID'), '', {
            'tooltip': __('Look up by id or unique name'),
            'class': 'square',
            'v-on:click.prevent': 'isLookUpByIdPopupVisibile = !isLookUpByIdPopupVisibile',
        })|raw }}
        <div class="popup">
            <input type="text" v-model="id" v-on:keyup="captureEnter">
            <button :disabled="!id" v-on:click="go">Go</button>
        </div>
    </li>
</ul>
</main-menu>
