<main-menu inline-template>
<ul role="menu" :class="popUpAction? 'popup-on' : ''">

    {# Core object modules #}
    {% for name, module in modules if name != 'trash' %}
        <li class="has-background-module-{{ name }} {{ name == currentModule.name ? 'current' : '' }}">
            {{ Html.link(
                __(name|humanize)|slice(0, 2),
                { '_name': 'modules:list', 'object_type': name, 'plugin': null },
                { 'tooltip': __(name|humanize), 'class': 'square' })|raw }}
        </li>
    {% endfor %}

    {# Plugin modules #}
    {% for k, plugin in config('PluginModules', []) %}
        <li class="{{ plugin.class.menu }}">
            {{ Html.link(__(plugin.title|humanize)|slice(0, 2),
                plugin.route,
                {'tooltip': __(plugin.title|humanize), 'class': 'square'})|raw }}
        </li>
    {% endfor %}

    {# trash #}
    {% if currentModule.name != "trash" %}
        {% if currentModule.hints.multiple_types %}
            {% set elementClass = "space-around-half has-background-module-" ~ currentModule.name %}
        {% else %}
            {% set elementClass = "has-text-module-" ~ currentModule.name %}
        {% endif %}
        <li class="has-background-transparent {{ elementClass }} icon-trash-2 center-icon has-tooltip-align-right">
        {{ Html.link(__(''),
            {'_name': 'trash:list', 'filter': {'type': objectType}},
            {'tooltip': __('View trashed ') ~ currentModule.name|humanize, 'class': 'square'}
        )|raw }}
    </li>
    {% endif %}

    <li class="has-background-transparent spacer">&nbsp;</li>

    {# search #}
    <li class="has-background-black icon-search center-icon has-tooltip-align-right">
        {{ Html.link(__(''), '', {
            'tooltip': __('Search'),
            'class': 'square',
            'v-on:click.prevent': "togglePopup('search')",
        })|raw }}
    </li>

    {# look up by id #}
    <li class="has-background-black icon-tag center-icon has-tooltip-align-right">
        {{ Html.link(__(''), '', {
            'tooltip': __('Direct access by id or unique name'),
            'class': 'square',
            'v-on:click.prevent': "togglePopup('go')",
        })|raw }}
    </li>

    <div class="popup">
        <input type="text" ref="searchInput" v-model="searchString" v-on:keydown.stop="captureKeys">
        <button :disabled="!searchString" v-on:click="go"><: popUpAction :></button>
    </div>
</ul>
</main-menu>
