<ul role="menu">
    {# <li>
        {{ Html.link(__(''), {'_name': 'dashboard'}, {'title': __('Dashboard')})|raw }}
    </li> #}

    {% for module in modules %}
    {% if module.name != "trash" %}
        <li class="has-background-module-{{ module.name }} {{ module.name == currentModule.name ? 'current' : '' }}">
            {{ Html.link(
                module.name|humanize|slice(0, 2),
                {'controller': 'Modules', 'action': 'index', 'object_type': module.name, 'plugin': null},
                {'tooltip': module.name|humanize})|raw }}
        </li>
    {% endif %}
    {% endfor %}

    {% if currentModule.name != "trash" %}
    <li class="has-background-transparent has-text-module-{{ currentModule.name }} icon-trash-2 center-icon">
        {{ Html.link(__(''),
            {'_name': 'trash:list', 'filter': {'type': objectType}},
            {'tooltip': __('View trashed ') ~ currentModule.name|humanize}
        )|raw }}
    </li>
    {% endif %}

    <li class="has-background-transparent separator">&nbsp;</li>
    <li class="has-background-black icon-wrench center-icon">&nbsp;</li>
    <li class="has-background-black icon-user center-icon">&nbsp;</li>
    <li class="has-background-black has-text-danger icon-logout center-icon">
        {{ Html.link(__(''), {'_name': 'logout'}, {'title': 'log out'})|raw }}
    </li>
</ul>
