<main-menu inline-template>
    <div class="menu-bar">

        <nav role="menu">
            {# Core object modules #}
            {% for name, module in modules if name != 'trash' %}
                {% set label = __(module.label|default(name)|humanize) %}
                {% set shortLabel = module.shortLabel|default(label[0:3]) %}
                {% if label|length > 8 %}
                    {% set label = label[0:3] %}
                {% endif %}

                <a href="{{ Url.build({ '_name': 'modules:list', 'object_type': name, 'plugin': null }) }}"
                    title="{{ __('Open module') }} {{ __(name|humanize) }}"
                    class="menu-item {{ name == currentModule.name ? 'current' : '' }}">
                    <span class="menu-item-color-bar has-background-module-{{ name }}" aria-hidden="true"></span>
                    <span class="menu-item-label">{{ label }}</span>
                    <span class="menu-item-short-label">{{ shortLabel }}</span>
                </a>
            {% endfor %}

            {# Plugin modules #}
            {% for k, plugin in config('PluginModules') %}
                {% set label = __(plugin.title|humanize) %}
                {% if label|length > 7 %}
                    {% set label = label[0:3] %}
                {% endif %}

                <a href="{{ Url.build(plugin.route) }}"
                    title="{{ __('Open module') }} {{ __(name|humanize) }}"
                    class="menu-item {{ name == currentModule.name ? 'current' : '' }}">
                    <span class="menu-item-color-bar has-background-module-{{ name }}" aria-hidden="true"></span>
                    <span class="menu-item-label">{{ label }}</span>
                </a>
            {% endfor %}
        </nav>
        <nav role="utility">

            <button class="icon icon-trash icon-only-icon" title="{{ __('Trash') }}" onclick="window.location='{{ Url.build('trash?filter[type][0]=' ~ currentModule.name) }}';"><span class="is-sr-only">{{ __('Trash') }}</span></button>

            <button class="icon icon-search icon-only-icon" title="{{ __('Search') }}" v-on:click.prevent="togglePopup('search')"><span class="is-sr-only">{{ __('Search') }}</span></button>

            <button class="icon icon-cube icon-only-icon" title="{{ __('Direct access by id or unique name') }}" v-on:click.prevent="togglePopup('id')"><span class="is-sr-only">{{ __('Direct access by id or unique name') }}</span></button>

            <div class="popup" v-show="this.popUpAction">
                <input type="text" ref="searchInput" v-model="searchString" v-on:keydown.stop="captureKeys" :placeholder="popUpAction">
                <button :disabled="!searchString" v-on:click="go"><: popUpAction :></button>
            </div>
        </nav>

    </div>
</main-menu>
