<div class="sidebar">

    <div class="sidebar-bedita-logo">{# css logo #}</div>

    <div class="sidebar-project-title">{{ Html.link( (project.name ?: 'BEdita 4'), '/' ) | raw }}</div>

    <div class="sidebar-body">
        <div class="has-text-gray-500">
            <p>{% if user.attributes.title %}
                {{ user.attributes.title }}
            {% else %}
                {{ user.attributes.name }} {{ user.attributes.surname }}
            {% endif %}</p>
            <p>{{ __('Username') }}: {{ user.attributes.username }}</p>
        </div>

        <div>
            {% for code, name in I18n.getLanguages() if code != I18n.getLang() %}
                <p>{{ Html.link(name, I18n.changeUrlLang(code, config('I18n.switchLangUrl')))|raw }}</p>
            {% endfor %}
        </div>

        <div>
            <p><a href="{{ Url.build({'_name': 'logout'})|raw }}" class="icon-logout">{{ __('Log out') }}</a></p>
        </div>
    </div>

    <div class="sidebar-footer">
        {% element 'Menu/colophon' %}
    </div>
</div>
