<div class="side-menu">

    {{ Html.link((project.name ?: 'BEdita 4'), '/', {'class': "project-box"})|raw }}

    <div class="side-menu-body">
        <div class="side-menu-user">
            <span>{% if user.attributes.title %}
                {{ user.attributes.title }}
            {% else %}
                {{ user.attributes.name }} {{ user.attributes.surname }}
            {% endif %}</span>
            <span>{{ __('Username') }}: {{ user.attributes.username }}</span>
        </div>

        <div class="side-menu-links">
            {% for code, name in I18n.getLanguages() if code != I18n.getLang() %}
                <span>{{ Html.link(name, I18n.changeUrlLang(code, config('I18n.switchLangUrl')))|raw }}</span>
            {% endfor %}
            <span><a href="{{ Url.build({'_name': 'logout'})|raw }}">{{ __('Log out') }}</a></span>
        </div>
    </div>

    {% element 'Menu/colophon' %}
</div>
