<div class="sidebar">
    {% if Layout.isDashboard() %}
        <div class="sidebar-bedita-logo">{# css logo #}</div>
    {% endif %}

    <div class="sidebar-project-title">{{ Html.link( (project.name ?: 'BEdita 4'), '/' ) | raw }}</div>

    {% if not Layout.isLogin() and not Layout.isDashboard() %}
        <div class="sidebar-commands">
            {% element 'Menu/commands' %}
        </div>
    {% endif %}

    <div class="sidebar-body">
        <div>
            <a href="{{ Url.build({ '_name': 'user_profile:view' }) }}">{% if user.attributes.title %}
                {{ user.attributes.title }}
            {% else %}
                {{ user.attributes.name }} {{ user.attributes.surname }}
            {% endif %}</a>
        </div>

        <div>
            {% for code, name in I18n.getLanguages() if code != I18n.getLang() %}
                <p><a href="{{ I18n.changeUrlLang(code, config('I18n.switchLangUrl')) }}" class="icon-language">{{ name }}</a>
            {% endfor %}
        </div>

        <div>
            <p><a href="{{ Url.build({'_name': 'logout'}) }}" class="icon-logout">{{ __('Log out') }}</a></p>
        </div>
    </div>

    <div class="sidebar-footer">
        {% element 'Menu/colophon' %}
    </div>
</div>
