{{ _view.assign('title', __('Dashboard')) }}
{% do _view.assign('bodyViewClass', 'view-dashboard') %}

<div class="dashboard">
    <section>
        <ul class="dashboard-items">
        {% for name, module in modules %}
            {% if name != 'trash' %}
                <li class="has-background-module-{{ name }} {% if module.hints.multiple_types %} icon-th-large-1 {% endif %}">
                    {{ Html.link(__(name|humanize), {'_name': 'modules:list', 'object_type': name}, {'title': __(name|humanize)})|raw }}
                </li>
            {% endif %}
        {% endfor %}
        {% for k, plugin in config('PluginModules') %}
            <li class="{{ plugin.class.dashboard }}">
                {{ Html.link(__(plugin.title|humanize), plugin.route, {'title': __(plugin.title|humanize)})|raw }}
            </li>
        {% endfor %}
        </ul>
    </section>

    <section>
        <ul class="dashboard-items dashboard-utility">
            <li class="has-background-module-trash icon-trash-2">
                {{ Html.link(__('Trash can'), {'_name': 'trash:list'}, {'title': __('Trash')})|raw }}
            </li>
            {% if config('Filters.import') %}
            <li class="has-background-black icon-download-alt">
                {{ Html.link(__('Import'), {'_name': 'import:index'})|raw }}
            </li>
            {% endif %}
            {% if in_array('admin', user.roles) %}
            <li class="has-background-black icon-database">
                {{ Html.link(__('Model'), {'_name': 'model:list', 'resource_type': 'object_types'})|raw }}
            </li>
            {% endif %}
        </ul>
    </section>

    {% if user %}
    <section>
        <header class="has-text-gray-550">
            <h2>{{ __('Preferences') }}</h2>
        </header>
        <ul class="dashboard-items dashboard-utility">
            <li class="has-background-black icon-wrench">
                <a>{{ __('Settings') }}</a>
            </li>
            <li class="has-background-black icon-user">
                <a>{{ __('User Profile') }}</a>
                {{ Html.link(__(''), {'_name': 'user_profile:view'}, {'title': __('User Profile')})|raw }}
            </li>
            <li class="has-background-black has-text-danger icon-logout">
                {{ Html.link(__('Log out'), {'_name': 'logout'})|raw }}
            </li>
        </ul>
    </section>
    {% endif %}
</div>
