{{ _view.assign('title', __('Dashboard')) }}
{% do _view.assign('bodyViewClass', 'view-dashboard') %}

<dashboard q="{{ _view.getRequest().getSession().read('objects.filter.q') }}" inline-template>
    <div class="dashboard">
        <section class="dashboard-section">
            <div class="dashboard-items">
            {% for name, module in modules if not in_array(name, ['trash', 'objects', 'users', 'folders', 'publications']) %}
                {% set title = __(module.label|default(name)|humanize) %}
                {% set class = 'dashboard-item has-background-module-%s'|format(name) %}
                {% if module.hints.multiple_types %}
                    {% set class = class ~ ' icon-th-large-1' %}
                {% endif %}

                {% if module.route %}
                    {% set url = Url.build(module.route) %}
                {% else %}
                    {% set url = Url.build({ '_name': 'modules:list', 'object_type': name, 'plugin': null }) %}
                {% endif %}
                <a href="{{ url }}" class="{{ class }}">
                    <span>{{ title }}</span>
                </a>
            {% endfor %}
            </div>

            <div class="dashboard-items dashboard-utility">
                {% if modules.publications %}
                    {{ Html.link(__('Publications'),
                        { '_name': 'modules:list', 'object_type': 'publications' },
                        { 'title': __('Publications'), 'class': 'dashboard-item has-background-module-publications icon-globe-1', } )|raw }}
                {% endif %}

                {% if modules.folders %}
                    {{ Html.link(__('Folders'),
                        { '_name': 'modules:list', 'object_type': 'folders' },
                        { 'title': __('Folders'), 'class': 'dashboard-item has-background-module-folders icon-folder', } )|raw }}
                {% endif %}

                {{ Html.link(__('All objects'),
                    { '_name': 'modules:list', 'object_type': 'objects' },
                    { 'title': __('All objects'), 'class': 'dashboard-item has-background-module-objects icon-th-large-1', } )|raw }}

                {# <a href="#" class="dashboard-item has-background-black icon-list-1" disabled>{{ __('All categories') }}</a> #}

                {# <a href="#" class="dashboard-item has-background-black icon-tag" disabled>{{ __('All tags') }}</a> #}
            </div>
        </section>

        <section class="dashboard-section">
            <header>
                <h2>{{ __('Search') }}</h2>
            </header>

            <nav role="search">
                <input type="text" v-model="searchString" v-on:keydown.stop="captureKeys">
                <button ref="searchSubmit" :disabled="!searchString || searchString.length < 3" v-on:click="searchObjects">{{ __('Search') }}</button>
            </nav>
        </section>

        <section class="dashboard-section">
            <div class="dashboard-items dashboard-utility">
                {% if modules.trash %}
                    {{ Html.link(__('Trash can'),
                        { '_name': 'trash:list' },
                        { 'title': __('Trash'), 'class': 'dashboard-item has-background-black icon-trash-2' } )|raw }}
                {% endif %}

                {% if modules.users %}
                    {{ Html.link(__('System users'),
                        {'_name': 'modules:list', 'object_type': 'users'},
                        {'title': __('System users'), 'class': 'dashboard-item has-background-black icon-group' } )|raw }}
                {% endif %}
            </div>
        </section>

        <section class="dashboard-section">
            <header>
                <h2>{{ __('Preferences and Tools') }}</h2>
            </header>

            <div class="dashboard-items dashboard-utility">
                {% if config('Filters.import') %}
                    {{ Html.link(__('Import'),
                        { '_name': 'import:index' },
                        { 'title': __('Import'), 'class': 'dashboard-item has-background-black icon-download-alt' } )|raw }}
                {% endif %}

                {% if in_array('admin', user.roles) %}
                    {{ Html.link(__('Data modeling'),
                        { '_name': 'model:list:object_types' },
                        { 'title': __('Data modeling'), 'class': 'dashboard-item has-background-black icon-database' } )|raw }}
                {% endif %}

                {{ Html.link(__('User Profile'),
                    { '_name': 'user_profile:view' },
                    { 'title': __('User Profile'), 'class': 'dashboard-item has-background-black icon-user' } )|raw }}

                {# <a href="#" class="dashboard-item has-background-black icon-cog" disabled>{{ __('Settings') }}</a> #}
            </div>
        </section>

        <section class="dashboard-section">
            <header>
                <h2>{{ __('Your recent items') }}</h2>
            </header>

            <div class="list-objects">
                <nav class="table-header has-border-module-{{ currentModule.name }}">
                    <div>{{ __('title') }}</div>
                    <div>{{ __('type') }}</div>
                    <div>{{ __('status') }}</div>
                    <div>{{ __('language') }}</div>
                    <div>{{ __('modified') }}</div>
                </nav>
                {% for object in recentItems %}
                    <a href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id}) }}" class="table-row object-status-{{ object.attributes.status }}">
                        <div class="narrow">{{ object.attributes.title|default(__('untitled')) }}</div>
                        <div class="type-cell"><span class="tag has-background-module-{{ object.type }}">{{ __(object.type) }}</span></div>
                        <div class="narrow">{{ object.attributes.status }}</div>
                        <div class="narrow">{{ object.attributes.lang }}</div>
                        <div class="narrow">{{ Time.format(object.meta.modified, 'd MMM YYYY') }} &nbsp; {{ Time.format(object.meta.modified, 'HH:mm') }}</div>
                    </a>
                {% else %}
                    {{ __('No items found') }}
                {% endfor %}
            </div>
        </section>
    </div>
</dashboard>
