{% set apiCheck = System.checkBeditaApiVersion() %}
{% set apiClass = apiCheck == 1 ? 'ok' : 'error' %}
{% set authors = [Html.link('Chialab', 'https://www.chialab.it', {'target': '_blank'}), Html.link('ChannelWeb', 'https://www.channelweb.it', {'target': '_blank'})] %}
{% set warn = __('API version required: {0}', config('BEditaAPI.versions')|join(' | ')) %}

<div class="menu-colophon">
    <span>
        <app-icon icon="carbon:checkmark"></app-icon>
        {{ Html.link('Manager', 'https://github.com/bedita/manager', {'target': '_blank'})|raw }} {{ config('Manager.version') }}
    </span>
    {% if project.api.name %}
    <span class="{{ apiClass }}">
        <app-icon icon="carbon:checkmark"></app-icon>
        {{ project.api.name }} API
        {% if project.api.version %}{{ project.api.version }}{% endif %}
    </span>
    {% endif %}
    {% if project.beditaApi.version %}
    <span class="{{ apiClass }}" title="{{ warn }}">
        {% if apiCheck == 1 %}<app-icon icon="carbon:checkmark"></app-icon>{% endif %}
        {% if apiCheck != 1 %}<app-icon icon="carbon:error"></app-icon>{% endif %}
        {{ Html.link('BEdita API', 'https://github.com/bedita/bedita', {'target': '_blank'})|raw }} {{ project.beditaApi.version }}
    </span>
    {% endif %}
    <span>©{{ 'now'|date('Y') }} {{ authors|shuffle|toList(__('&'))|raw }}</span>
    <span>LGPL {{ Html.link('www.bedita.com', 'https://www.bedita.com', {'title': __('BEdita Web site'), 'target': '_blank'})|raw }}</span>
</div>

{{ project.api|json_encode|raw }}
