<div class="menu-colophon">
    <span>BEdita<br>API {{ project.version }} - Manager {{ config('Manager.version') }}</span>

    <span>©{{ 'now'|date('Y') }}
    {% set authors = [Html.link('Chialab', 'https://www.chialab.it', {'target': '_blank'}), Html.link('ChannelWeb', 'https://www.channelweb.it', {'target': '_blank'})] %}
    {{ authors|shuffle|toList(__('&'))|raw }}</span>

    <span>LGPL {{ Html.link('www.bedita.com', 'https://www.bedita.com', {'title': __('BEdita Web site'), 'target': '_blank'})|raw }}</span>
</div>
