<main-menu inline-template>
    <div class="menu-bar">

        <nav role="menu">
            {# Core modules #}
            {% for name, module in modules %}
                {% if name != 'trash' %}
                    {% set label = Layout.tr(module.label|default(name)) %}
                    {% set shortLabel = module.shortLabel|default(label[0:5]) %}
                    {% if label|length > 5 %}
                        {% set label = shortLabel %}
                    {% endif %}

                    {% if module.route %}
                        {% set url = Url.build(module.route) %}
                    {% else %}
                        {% set url = Url.build({ '_name': 'modules:list', 'object_type': name, 'plugin': null }) %}
                    {% endif %}
                    <a href="{{ url }}" title="{{ __('Open module') }} {{ Layout.tr(name) }}"
                        class="menu-item {{ name == currentModule.name ? 'current' : '' }}">
                        <span class="menu-item-color-bar has-background-module-{{ name }}" aria-hidden="true"></span>
                        <span class="menu-item-label">{{ label }}</span>
                        <span class="menu-item-short-label">{{ shortLabel }}</span>
                    </a>
                {% endif %}
            {% endfor %}
        </nav>

        <nav role="group" class="pt-05">
            {{ Layout.trashLink(currentModule.name|default(''))|raw }}

            <button role="search" class="icon icon-search icon-only-icon ml-05" title="{{ __('Search') }}"
                v-on:click.prevent="togglePopup('search')"><span class="is-sr-only">{{ __('Search') }}</span></button>

            <button class="icon icon-cube icon-only-icon ml-05" title="{{ __('Direct access by id or unique name') }}"
                v-on:click.prevent="togglePopup('id')"><span class="is-sr-only">{{ __('Direct access by id or unique name') }}</span></button>

            <div class="popup" v-show="this.popUpAction">
                <input type="text" ref="searchInput" v-model="searchString" v-on:keydown.stop="captureKeys" :placeholder="popUpAction">
                <button :disabled="!searchString" v-on:click="go"><: popUpAction :></button>
            </div>
        </nav>

    </div>
</main-menu>
