{# Calendar: use date_ranges if set in object attributes#}

{% if object.attributes.date_ranges is defined %}

<property-view inline-template :tab-open="tabsOpen">
<section class="fieldset order-{{ cssOrder }}" id="date_ranges" :class="isOpen? '' : 'closed'">

    <header @click.prevent="toggleVisibility()" class="tab unselectable">
        <h2>{{ __('Calendar') }}</h2>
    </header>

   <div v-show="isOpen" class="tab-container">
        <date-ranges-view inline-template data-items={{ object.attributes.date_ranges|json_encode }}>
            <div>
                <div class="date-ranges-list">
                    <div v-for="(dateRange, index) in dateRanges" class="date-ranges-item">
                        <div>
                            <span>{{ __('From') }}</span>
                            <div>
                                <input type="text"
                                    :name="'date_ranges[' + index + '][start_date]'"
                                    v-model="dateRange.start_date"
                                    v-datepicker="true" date="true" time="true" />
                            </div>
                        </div>
                        <div>
                            <span>{{ __('To') }}</span>
                            <div>
                                <input type="text"
                                    :name="'date_ranges[' + index + '][end_date]'"
                                    v-model="dateRange.end_date"
                                    v-datepicker="true" date="true" time="true" />
                            </div>
                        </div>
                        <div>
                            <span>&nbsp;</span>
                            <div>
                                <button @click.prevent="remove(index, $event)" :disabled="dateRanges.length < 2">{{ __('Remove') }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button @click.prevent="add">{{ __('Add') }}</button>
            </div>
        </date-ranges-view>
        {{ Form.unlockField('date_ranges')}}
    </div>
</section>
</property-view>

{% endif %}
