{# Calendar: use date_ranges if set in object attributes#}

{% if object.attributes.date_ranges is defined %}

<property-view inline-template :tab-open="tabsOpen">
<section class="fieldset order-{{ cssOrder }}" id="date_ranges" :class="isOpen? '' : 'closed'">

    <header @click.prevent="toggleVisibility()" class="tab unselectable">
        <h2>{{ __('Calendar') }}</h2>
    </header>

   <div v-show="isOpen" class="tab-container">
        <date-ranges-view inline-template data-items={{ object.attributes.date_ranges|json_encode }}>
            <table>
            <thead>
            <tr>
                <th><label>{{ __('Start date') }}</label></th>
                <th><label>{{ __('End date') }}</label></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(dateRange, index) in dateRanges">
                <td>
                    <input v-model=dateRange.start_date type="text" name="dateRanges[][start_date]" v-datepicker="true" date="true" time="true" />
                </td>
                <td>
                    <input v-model=dateRange.end_date type="text" name="dateRanges[][end_date]" v-datepicker="true" date="true" time="true" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button v-on:click="add">{{ __('Add') }}</button>
                </td>
            </tr>
            </tbody>
            </table>
        </date-ranges-view>
    </div>
</section>
</property-view>

{% endif %}
