{% if included %}
<div class="tab"><h2>{{ __('Streams') }}</h2></div>

{# attributes to filter: hide from fieldset properties #}
{% set imageattributes = { 0: 'url' } %}

{# readonly mode for form elements #}
{% set readonly = { 'readonly': 'readonly' } %}

{# cycle over included elements, show only streams #}
{% for o in included %}
    {% if o.type == 'streams' %}
    {% set stream = o %}

    {# the stream #}
    <div class="stream">
        {% set attributes = Array.removeKeys(stream.attributes|merge(stream.meta), imageattributes) %}

        {# thumb #}
        <div class="thumb">
            {% set thumb = Thumb.url(object.id) %}
            {% if thumb == constant('App\\View\\Helper\\ThumbHelper::NOT_AVAILABLE') %}
                <p>{{ __('Thumb not available') }}</p>
		<a href={{ stream.meta.url }}>
                    <img src={{ Url.build('/img/iconMissingImage.gif') }} />
                </a>
            {% elseif thumb == constant('App\\View\\Helper\\ThumbHelper::NOT_READY') %}
                <p>{{ __('Thumb not ready: coming soon') }}</p>
            {% elseif thumb == constant('App\\View\\Helper\\ThumbHelper::NOT_ACCEPTABLE') %}
                <p>{{ __('Image not acceptable for thumb') }}</p>
            {% elseif thumb == constant('App\\View\\Helper\\ThumbHelper::NO_URL') %}
                <p>{{ __('Missing thumb url') }}</p>
		<a href={{ stream.meta.url }}>
                    <img src={{ Url.build('/img/iconMissingImage.gif') }} />
                </a>
            {% else %}
                <a href={{ stream.meta.url }}>
                    <img src={{ thumb }} />
                </a>
            {% endif %}
        </div>

        {# fields #}
        <fieldset id="included_properties">
            {% for akey, avalue in attributes %}
                {% set options = Schema.controlOptions(akey, avalue, schema.properties[akey])|merge(readonly) %}
                {{ Form.control(akey, options)|raw }}
            {% endfor %}
        </fieldset>
    </div>
    {% endif %}
{% endfor %}
{% endif %}
