
<div class="media">

    {{ Media.view(object, included, {'options': {'w': 600}, 'mediaUrl': true})|raw }}

</div>

{# Display included streams#}
{% if included %}

<div class="tab"><h2>{{ __('Streams') }}</h2></div>

{# cycle over included elements, show only streams #}
{% for o in included %}
    {% if o.type == 'streams' %}
    {% set stream = o %}

    {# the stream #}
    <div class="stream">

        {# Stream properties #}
        {# Display properties list without edit inputs, they're not changeable #}
        {% set attributes = stream.attributes|merge(stream.meta) %}
        <fieldset id="included_properties">
            <table class="bordered">
                <tbody>
                    {% for akey, val in attributes %}
                    <tr>
                        <th>{{ akey }}:</th>
                        <td>
                            {% if akey == 'url' %}
                                <a href={{ val }} target="_blank">{{ val }}</a>
                            {% else %}
                                {% if val is iterable %}{{ val|json_encode() }}{% else %}{{ val }}{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
    {% endif %}
{% endfor %}
{% endif %}
