{# Display embedded video if available #}
{% if object.attributes.provider_extra.html %}
    {{ object.attributes.provider_extra.html|raw }}
{% endif %}

{# Display included streams#}
{% if included %}

<div class="tab"><h2>{{ __('Streams') }}</h2></div>

{# cycle over included elements, show only streams #}
{% for o in included %}
    {% if o.type == 'streams' %}
    {% set stream = o %}

    {# the stream #}
    <div class="stream">

        {# thumb #}
        {% if object.type == 'images' %}
        <div class="thumb">
            {% set thumb = Thumb.url(object.id, { 'options': { 'w': 600 } } ) %}
            {% if thumb == constant('App\\View\\Helper\\ThumbHelper::NOT_AVAILABLE') %}
                <p>{{ __('Thumb not available') }}</p>
                <a href={{ stream.meta.url }}>
                    <img src={{ Url.build('/img/iconMissingImage.gif') }} />
                </a>
            {% elseif thumb == constant('App\\View\\Helper\\ThumbHelper::NOT_READY') %}
                <p>{{ __('Thumb not ready: coming soon') }}</p>
            {% elseif thumb == constant('App\\View\\Helper\\ThumbHelper::NOT_ACCEPTABLE') %}
                <p>{{ __('Image not acceptable for thumb') }}</p>
            {% elseif thumb == constant('App\\View\\Helper\\ThumbHelper::NO_URL') %}
                <p>{{ __('Missing thumb url') }}</p>
                <a href={{ stream.meta.url }}>
                    <img src={{ Url.build('/img/iconMissingImage.gif') }} />
                </a>
            {% else %}
                <a href={{ stream.meta.url }}>
                    <img src={{ thumb }} />
                </a>
            {% endif %}
        </div>
        {% endif %}

        {# Stream properties #}
        {# Display properties list without edit inputs, they're not changeable #}
        {% set attributes = stream.attributes|merge(stream.meta) %}
        <fieldset id="included_properties">
            <table class="bordered">
                <tbody>
                    {% for akey, val in attributes %}
                    <tr>
                        <th>{{ akey }}:</th>
                        <td>
                            {% if akey == 'url' %}
                                <a href={{ val }} target="_blank">{{ val }}</a>
                            {% else %}
                                {% if val is iterable %}{{ val|json_encode() }}{% else %}{{ val }}{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
    {% endif %}
{% endfor %}
{% endif %}
