{% if streams or object.attributes.provider_extra.html %}
<property-view inline-template :tab-open="tabsOpen" :is-default-open=true :tab-open-at-start=true>
    <section class="fieldset">
        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ __('Media') }}</h2>
        </header>
        <div v-show="isOpen" class="tab-container">
            {# Display embedded video if available #}
            {% if object.attributes.provider_extra.html %}
                <div class="embedded-container"
                    style="padding-bottom: {{ 100 * object.attributes.provider_extra.height / object.attributes.provider_extra.width }}%;">
                    {{ object.attributes.provider_extra.html|raw }}
                </div>
            {% else %}

                {# Show first stream #}
                {% set stream = streams|first %}

                {# the stream #}
                <div class="stream">
                    {# thumb #}
                    {% if object.type == 'images' %}
                        {# TODO process below #}
                        {% set thumb = Thumb.getUrl(object, { 'options': { 'w': 960, 'fit': 'max' } } ) %}
                        {% if thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_ACCEPTABLE') %}
                            <p>{{ __('Cannot produce a thumbnail for this file') }}</p>
                        {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_AVAILABLE') %}
                            <p>{{ __('The thumbnail is not available') }}</p>
                            <p>
                                <a href={{ stream.meta.url }} title="{{ __('View original') }}" target="_blank">
                                    {{ __('View original') }}
                                </a>
                            </p>
                        {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_READY') %}
                            <p>{{ __('Thumbnail is not ready') }}</p>
                        {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NO_URL') %}
                            <p>
                                <a href={{ stream.meta.url }} title="{{ __('View original') }}" target="_blank">
                                    {{ __('View original') }}
                                </a>
                            </p>
                        {% else %}
                            <figure class="thumb">
                                <a href={{ stream.meta.url }} title="{{ __('Open image') }}" target="_blank">
                                    <img src={{ thumb }} />
                                </a>
                            </figure>
                        {% endif %}
                    {% elseif object.type == 'videos' %}
                        <video controls width="100%">
                            <source src="{{ stream.meta.url }}" type="{{ stream.attributes.mime_type }}">
                            {{ __('Sorry, your browser does not support embedded {0} element', '<code>video</code>')|raw }}.
                        </video>
                    {% elseif object.type == 'audio' %}
                        <audio controls src="{{ stream.meta.url }}">
                            {{ __('Sorry, your browser does not support embedded {0} element', '<code>audio</code>')|raw }}.
                        </audio>
                    {% endif %}
                </div>

                {# Stream properties #}
                {# Display properties list without edit inputs, they're not changeable #}
                {% set attributes = stream.attributes|merge(stream.meta) %}

                <div class="mt-1 grid-span-full is-flex align-center">

                    {% if attributes.url %}
                    <a href="{{ attributes.url }}" target="_blank"
                            class="mr-1 button button-outlined button-outlined-hover-module-{{ currentModule.name }}">
                            {{ __('View file') }}
                    </a>
                    {% endif %}

                    <a href="{{ Url.build({'_name': 'stream:download', 'id': stream.id}) }}"
                            class="mr-1 button button-outlined button-outlined-hover-module-{{ currentModule.name }}">
                            {{ __('Download file') }}
                    </a>

                    <div class="mr-1 has-text-size-large">{{ __('Change File') }}:</div>
                    <div>
                        {{ Form.control('file', { 'type': 'file', 'label': false}) | raw }}
                        {{ Form.hidden('MAX_FILE_SIZE', { 'value': System.getMaxFileSize() })|raw }}
                        {{ Form.control('model-type', { 'type': 'hidden', 'value': object.type}) | raw }}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
</property-view>

    {% if attributes %}
    <property-view inline-template :tab-open="tabsOpen" :is-default-open=false :tab-open-at-start=false>
        <section class="fieldset">
            <header @click.prevent="toggleVisibility()"
                class="tab unselectable"
                :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
                <h2>{{ __('Advanced Data') }}</h2>
            </header>
            <div v-show="isOpen" class="tab-container">
                <div class="grid-span-full mt-1">
                    <table class="inside-bordered">
                        <tbody>
                            {% for k, val in attributes %}
                                {% if val and k != 'file_metadata' %}
                                    <tr>
                                        <th class="nowrap">{{ k|humanize }} :</th>
                                        <td>
                                            {% if k == 'url' %}
                                                <a href={{ val }} target="_blank">{{ val }}</a>
                                            {% elseif in_array(k, ['created', 'modified']) %}
                                                {{ Schema.format(val, {'type': 'string', 'format': 'date-time'}) }}
                                            {% elseif k == 'file_size' %}
                                                {{ Schema.format(val, {'type': 'byte'}) }}
                                            {% elseif k == 'duration' %}
                                                {{ val|date('H:i:s', '+00:00 GMT') }}
                                            {% elseif k == 'private_url' %}
                                                {{ Schema.format(val, {'type': 'boolean'}) }}
                                            {% else %}
                                                {{ val }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if attributes.file_metadata %}
                        <div class="grid-span-full mt-1">
                            <h3>{{ __('Metadata') }}</h3>
                            <div>
                                <textarea style="min-height: 10rem; resize: none;" readonly>{{ attributes.file_metadata|json_encode(constant('JSON_PRETTY_PRINT')) }}</textarea>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </property-view>
    {% endif %}
{% endif %}
