{% if streams or object.attributes.provider_extra.html %}
<property-view inline-template :tab-open="tabsOpen" :is-default-open=true :tab-open-at-start=true>

    <section class="fieldset">
        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ __('Media') }}</h2>
        </header>

        <div v-show="isOpen" class="tab-container">

            {# Display embedded video if available #}
            {% if object.attributes.provider_extra.html %}
                <div class="embedded-container"
                    style="padding-bottom: {{ 100 * object.attributes.provider_extra.height / object.attributes.provider_extra.width }}%;">
                    {{ object.attributes.provider_extra.html|raw }}
                </div>
            {% else %}

                {# Show first stream #}
                {% set stream = streams|first %}

                {# the stream #}
                <div class="stream">
                    {# thumb #}
                    {% if object.type == 'images' %}
                        {# TODO process below #}
                        {% set thumb = Thumb.url(object.id, { 'options': { 'w': 960, 'fit': 'max' } } ) %}
                        {% if thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_AVAILABLE') %}
                            <p>{{ __('The thumbnail is not available') }}</p>
                            <p>
                                <a href={{ stream.meta.url }} title="{{ __('View original') }}" target="_blank">
                                    {{ __('View original') }}
                                </a>
                            </p>
                        {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_READY') %}
                            <p>{{ __('Thumbnail is not ready') }}</p>
                        {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NOT_ACCEPTABLE') %}
                            <p>{{ __('Cannot produce a thumbnail for this file') }}</p>
                        {% elseif thumb == constant('BEdita\\WebTools\\View\\Helper\\ThumbHelper::NO_URL') %}
                            <p>
                                <a href={{ stream.meta.url }} title="{{ __('View original') }}" target="_blank">
                                    {{ __('View original') }}
                                </a>
                            </p>
                        {% else %}
                            <figure class="thumb">
                                <a href={{ stream.meta.url }} title="{{ __('Open image') }}" target="_blank">
                                    <img src={{ thumb }} />
                                </a>
                            </figure>
                        {% endif %}
                    {% endif %}
                </div>

                <div>
                    {# Stream properties #}
                    {# Display properties list without edit inputs, they're not changeable #}
                    {% set attributes = stream.attributes|merge(stream.meta) %}
                    <table>
                        <tbody>
                            {% for akey, val in attributes %}
                            {% if val %}
                                <tr>
                                    <th class="nowrap">{{ akey }} :</th>
                                    <td>
                                        {% if akey == 'url' %}
                                            <a href={{ val }} target="_blank">{{ val }}</a>
                                        {% else %}
                                            {% if val is iterable %}{{ val|json_encode() }}{% else %}{{ val }}{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="grid-span-full mt-1">
                    <h3>{{ __('Change File') }}</h3>
                    <div>
                        {{ Form.control('file', { 'type': 'file', 'label': false }) | raw }}
                        {{ Form.control('model-type', { 'type': 'hidden', 'value': object.type}) | raw }}
                    </div>
                </div>
            {% endif %}

        </div>
    </section>

</property-view>
{% endif %}
