{% set meta = (object) ? object.meta : resource.meta %}

{% if meta %}
<property-view inline-template :tab-open="tabsOpen">
<section class="fieldset order-{{ order|default('0') }}" id="meta" :class="isOpen? '' : 'closed'">

    <header @click.prevent="toggleVisibility()" class="tab unselectable">
        <h2>{{ __('Metadata') }}</h2>
    </header>

    <div v-show="isOpen" class="tab-container">
        <table>
            <tbody>
                <tr>
                    <th>{{ __('id') }}:</th>
                    <td>{{ (object) ? object.id : resource.id }}</td>
                </tr>
                {% for key, val in meta %}
                <tr>
                    <th>{{ key }}:</th>
                    <td>{% if val is iterable %}{{ val|json_encode() }}{% else %}{{ val }}{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>
</property-view>
{% endif %}
