{% set meta = (object) ? object.meta : resource.meta %}

{% if meta %}
<property-view inline-template :tab-open="tabsOpen" tab-name="meta" :object="object">
    <section class="fieldset">

        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ __('Metadata') }}</h2>
        </header>

        <div v-show="isOpen && !isLoading" class="tab-container">
            <table>
                <tbody>
                    <tr>
                        <th>{{ __('id') }}:</th>
                        <td>{{ (object) ? object.id : resource.id }}</td>
                    </tr>
                    {% for key, val in meta %}
                        <tr>
                            <th>{{ key }}:</th>
                            <td name="{{ key }}">{{ Schema.format(val, schema.properties[key]) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
</property-view>
{% endif %}
