{# Remaining properties groups: 'other' and custom groups not in 'core', '_keep', 'publish', 'advanced' #}
{% set otherProperties = Array.removeKeys(properties, ['core', '_keep', 'publish', 'advanced']) %}
{% for group, props in otherProperties %}

{% if props %}

<property-view inline-template :tab-open="tabsOpen">

    <section class="fieldset" id="{{ group|underscore }}_properties">

        <header @click.prevent="toggleVisibility()"
             class="tab unselectable"
             :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ __(group|humanize) }}</h2>
        </header>

        <div v-show="isOpen" class="tab-container">
            {% for key, value in props %}

                {% set options = Schema.controlOptions(key, value, schema.properties[key]) %}

                {{ Form.control(key, options)|raw }}

                {% if options.class == 'json' %}
                    {{ write_config('_jsonKeys', config('_jsonKeys', [])|merge([key])) }}
                {% endif %}

            {% endfor %}
        </div>

    </section>

</property-view>

{% endif %}

{% endfor %}
