<script type="text/javascript">
$(document).ready(function(){
    $('textarea.json').change(function(event){
        if (event && event.target && event.target.value) {
            try {
                let jsonString = JSON.stringify(JSON.parse(event.target.value), null, "    ");
                $(event.target).val(jsonString);
            } catch(e) {
                console.error(e);
            }
        }
    });
    $('textarea.json').each(function(){
        if (this.value) {
            try {
                let key = 'json-' + this.getAttribute('id');
                let val = $('#'+key).val();
                $(this).val(JSON.stringify(JSON.parse(val), null, "    "));
            } catch(e) {
                console.error(e);
            }
        }
    });
});
</script>

<div class="tab"><h2>{{ __('Other Properties') }}</h2></div>

<fieldset id="object_properties">

{% for key, value in object.attributes %}
    {% if not in_array(key, ['title', 'description', 'uname', 'status']) %}
        {% set property = schema.properties[key] %}
        {% set type = Schema.getTypeFromSchema(property) %}
        {% if type == 'json' %}
            {{ Form.control(key, {'type': 'textarea', 'class': 'json'})|raw }}
            <textarea id="json-{{ key }}" class="hidden">{{ value|json_encode }}</textarea>
        {% else %}
        {{ Form.control(key, {'type': Schema.getControlTypeFromSchema(property)})|raw }}
        {% endif %}
    {% endif %}
{% endfor %}

</fieldset>
