<relationships-view
    inline-template
    relation-name={{ relationName }}

    {# set viewVisibility of relationships-view with relation-view's showRelationshipsPanel value #}
    :view-visibility="showRelationshipsPanel"
    {# bind event visibility-setter of relationships-view to setRelationshipPanelVisibility method of relations-view#}
    @visibility-setter="setRelationshipPanelVisibility"

    :added-relations="addedRelations"
    @append-relations="appendRelations"

    :hide-relations="hideRelations">
    <div class="relationships-view">
        <div class="modal-view"
            v-show="isVisible"
            v-hotkey="keyEvents" style="display: none">

            <div class="modal-box">
                <div class="modal-header">
                    <button class="close"
                        @click.prevent="hideRelationshipModal()">&times;</button>
                </div>
                <div class="filter-bar">
                    <input ref="inputFilter" type="text" placeholder="filter..." class="search-relationable"/>
                </div>
                <div class="modal-content">
                    <div class="add-related-list" v-bind:class="loading? 'is-loading-spinner' : ''">
                        <div class="add-related-list-header">
                            <span></span>
                            <span class="title">{{ __('title') }}</span>
                            <span class="id">{{ __('id') }}</span>
                            <span class="uname">{{ __('uname') }}</span>
                            <span class="status">{{ __('status') }}</span>
                        </div>

                        <staggered-list stagger="15">
                            <div class="add-related-object"
                                v-for="(related, index) in objects"
                                :data-index="index"
                                :key="related.id"
                                v-show="!containsId(hideRelations, related.id)">
                                <span>
                                    <input type="checkbox"
                                        :value="related"
                                        v-model="pendingRelations"/>
                                </span>
                                <span class="title"><: related.attributes.title || related.attributes.name :></span>
                                <span class="id"><: related.id :></span>
                                <span class="uname"><: related.attributes.uname :></span>
                                <span class="status"><: related.attributes.status :></span>
                            </div>
                        </staggered-list>

                        <div v-if="!loading && !hasElementsToShow()"  class="emptyResults">
                            <span>{{ __('no result')}}</span>
                        </div>

                        <div v-if="!loading && hasElementsToShow()" class="list-actions">
                            <button @click.prevent="appendRelations()">{{ __('Add') }}</button>
                        </div>

                        <div class="save-relations">
                            {# Relations serialized json form element #}
                            {{ Form.control(relationName ~ 'addRelated', {
                                'type': 'hidden',
                                'name': 'relations[' ~ relationName ~ '][addRelated]',
                                'v-model': 'relationsData'
                            })|raw }}
                            {{ Form.unlockField('relations.' ~ relationName ~ '.addRelated')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</relationship-view>
