{% if relations %}
<section class="relations">

    {% for relationName, relationLabel in relations %}
        {% set uploadableTypes = uploadable | filter((item) => item in relationsSchema[relationName].right) | join(', ') %}
        {% set uploadableNum = uploadableTypes|length %}

        {% set preCount = object.relationships[relationName].meta.count|default(-1) %}
        <property-view inline-template :tab-open="tabsOpen" tab-name="relation_{{ relationName }}"
            ref={{ relationName }} :pre-count={{ preCount }} uploadable-num={{ uploadableNum }}>
            <section class="fieldset">

                <header @click.prevent="toggleVisibility()"
                    class="tab unselectable"
                    :class="[
                        isOpen? 'open has-border-module-{{ currentModule.name }}' : '',
                        isLoading? 'is-loading-spinner' : ''
                    ]">
                        <h2>{{ Layout.tr(relationLabel) }}</h2>
                        <div class="buttons" v-show="isOpen">
                            <button @click.prevent @click.stop="switchBlockView()" :data-active="!dataList" class="switch-view icon-th-large"></button>
                            <button @click.prevent @click.stop="switchListView()" :data-active="dataList" class="switch-view icon-th-list"></button>
                        </div>
                        <span class="tag is-smallest is-black mx-05" v-show="!isLoading"
                            :class="!totalObjects? 'empty' : ''"><: totalObjects :>
                        </span>
                </header>
                <div v-show="isOpen" class="tab-container">
                    {{ element('Form/relation', {
                        'relationName': relationName,
                        'relationLabel': Layout.tr(relationLabel),
                        'relationSchema': relationsSchema[relationName],
                        'dataList': dataList,
                        'readonly': relationsSchema[relationName].readonly,
                        'preCount': preCount,
                        'uploadableNum': uploadableNum,
                    }) }}
                </div>

            </section>
        </property-view>

    {% endfor %}

</section>
{% endif %}
