<relation-view inline-template
    relation-name={{ relationName }}
    config-paginate-sizes={{ config('Pagination.sizeAvailable')|json_encode()|raw }}

    ref="relation"
    :load-on-start="true" @loading="onToggleLoading" @count="onCount">

    <div class="relation-view">
        <div class="related-list">
            <nav v-if="pagination.count > Math.min.apply(null, paginateSizes)" class="pagination has-text-size-smallest">
                <div>
                    <span><: pagination.page_items :> {{ __('objects') }}</span>
                </div>
                <div>
                    <span>Page size:</span>
                </div>
                <div>
                    <select class="page-size-selector has-background-gray-700 has-border-gray-700 has-text-gray-200 has-text-size-smallest has-font-weight-light" v-model="step">
                        <option v-for="size in paginateSizes"><: size :></option>
                    </select>

                    <button
                        v-for="i in pagination.page_count" :key="i"
                        v-if="pagination.page_count > 1"
                        v-bind:class="pagination.page == i? '' : 'is-dark'"
                        v-bind:style="pagination.page == i? 'pointer-events: none' : ''"
                        class="has-text-size-smallest" @click.prevent="toPage(i)"><: i :></button>

                    {# <button class="is-dark has-text-size-smallest" @click.prevent="prevPage()"><:pagination.page :></button>
                    <button class="is-dark has-text-size-smallest" @click.prevent="prevPage()"><:pagination.page :></button>
                    <button class="is-dark has-text-size-smallest" @click.prevent="nextPage()">{{ __('next') }} ›</button>
                    <button class="is-dark has-text-size-smallest" @click.prevent="lastPage()">{{ __('last') }} »</button> #}
                </div>
            </nav>

            {# related objects #}
            <div class="related-objects-list columns" v-bind:class="loading? 'isLoading' : ''">
                <div class="related-object column is-one-eight-bigscreen is-one-fifth-desktop is-one-quarter-1024 is-one-third-768"
                    v-for="(related, index) in objects"
                    :key="related.id"
                    v-bind:class="containsId(removedRelated, related.id)? 'removed' : ''">
                    <article class="box has-background-black has-text-gray-100 has-text-size-smaller"
                            v-bind:class="related.type">

                        <header>
                            <h1><: related.attributes.title || related.attributes.name :></h1>
                            <span class="has-text-size-smaller prop-id"><: related.id :></span>
                        </header>

                        <div class="thumbnail" v-if="related.type == 'images'">
                            <figure>
                                <img src="https://source.unsplash.com/random" />
                            </figure>
                        </div>

                        <div>
                            <span class="tag" v-bind:class="'has-background-module-' + related.type"><: related.type :></span>
                            <div class="tag-group">
                                <span class="tag has-background-gray-500 has-text-gray-800">status</span>
                                <span class="tag"><: related.attributes.status :></span>
                            </div>
                        </div>

                        <div>
                            <p class="has-text-size-smallest"
                                v-for="(paramValue, paramName) in related.meta.relation.params"><: paramName :>: <: paramValue :></p>
                            <p class="has-text-size-smallest" v-if="!related.meta.relation.params">&nbsp;</p>
                        </div>

                        <footer>
                            <a class="icon-edit icon-only-icon has-text-size-larger" :href="buildViewUrl(related.type, related.id)" target="_blank"></a>
                        </footer>

                    </article>

                    <footer>
                        <a class="button is-dark is-small" @click.prevent="relationToggle(related)"
                            v-html="containsId(removedRelated, related.id)? '{{__('undo remove') }}' : '{{ __('remove') }}'">rimuovi</a>
                    </footer>
                </div>

                {# empty element: keep for flex layout #}
                <div class="column"></div>
            </div>


            {# staged objects to be added #}
            <p class="column is-1 has-text-size-smallest" v-if="addedRelations.length">New relations (save to keep)</p>
            <div class="related-objects-list columns" v-if="addedRelations.length">
                <div class="related-object column"
                    v-for="related in addedRelations"
                    :key="related.id"
                    v-bind:class="containsId(removedRelated, related.id) ? 'removed' : '' ">
                    <article class="box has-background-gray-700 has-text-gray-100 has-text-size-smaller"
                            v-bind:class="related.type">

                        <header>
                            <h1><: related.attributes.title || related.attributes.name :></h1>
                            <span class="has-text-size-smaller prop-id"><: related.id :></span>
                        </header>

                        <div class="thumbnail">
                            <figure>
                                <img />
                            </figure>
                        </div>

                        <div>
                            <span class="tag" v-bind:class="'has-background-module-' + related.type"><: related.type :></span>
                            <span class="tag"><: related.attributes.status :></span>
                        </div>

                        <footer>
                            <a @click.prevent="removeAddedRelations(related.id)">click to remove</a>
                        </footer>
                    </article>
                </div>

                {# empty element: keep for flex layout #}
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>



            {# hidden field - relations serialized json #}
            {{ Form.control(relationName ~ 'removeRelated', {
                'type': 'hidden',
                'name': 'relations[' ~ relationName ~ '][removeRelated]',
                'v-model': 'relationsData'
            })|raw }}
            {{ Form.unlockField('relations.' ~ relationName ~ '.removeRelated')}}

            {# Relations serialized json form element #}
            {{ Form.control(relationName ~ 'addRelated', {
                'type': 'hidden',
                'name': 'relations[' ~ relationName ~ '][addRelated]',
                'v-model': 'newRelationsData'
            })|raw }}
            {{ Form.unlockField('relations.' ~ relationName ~ '.addRelated')}}
        </div>


        <div class="list-actions">
            <button
                v-bind:class="$root.panelIsOpen? 'icon-coffee' : 'icon-hdd'"
                v-html="$root.panelIsOpen? 'cancel' : '{{ __('add objects') }}'"
                @click.prevent="requestPanel()"></button>
            <button @click.prevent="loadRelatedObjects()">{{ __('reload') }}</button>
        </div>

    </div>
</relation-view>
