{% set relationName = 'roles' %}

{% set customElement = Layout.customElement(relationName) %}
{% if customElement %}
   {{ element(customElement) }}
{% else %}

<property-view inline-template :tab-open="tabsOpen" tab-name="roles">

    <section class="fieldset">

        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="[
                isOpen? 'open has-border-module-{{ currentModule.name }}' : '',
                isLoading? 'is-loading-spinner' : ''
            ]">
                <h2>{{ Layout.tr(relationName)|lower }}</h2>
                <span class="tag is-smallest is-black mx-05" v-show="!isLoading">
                    <: totalObjects :>
                </span>
        </header>

        <div v-show="isOpen" class="tab-container">

            <relation-view
                inline-template
                relation-name={{ relationName }}
                relation-label="{{ Layout.tr(relationName) }}"

                @loading="onToggleLoading"
                @count="onCount">

                <div>
                    <roles-list-view
                        inline-template
                        relation-name={{ relationName }}
                        relation-label="{{ Layout.tr(relationName) }}"
                        :related-objects="objects"
                        @remove-relations="setRemovedRelated">

                        <div class="roles-list-view">
                            <div v-for="res in objects">
                                <input type="checkbox" :value="res" v-model="checkedRelations"/>
                                <span class="mx-05"><: res.attributes.name :></span>
                            </div>

                            <div class="save-relations">
                                {# Relations serialized json form element #}
                                {{ Form.control(relationName ~ 'addRelated', {
                                    'type': 'hidden',
                                    'name': 'relations[' ~ relationName ~ '][addRelated]',
                                    'v-model': 'relationsData'
                                })|raw }}
                                {% do Form.unlockField('relations.' ~ relationName ~ '.addRelated') %}
                            </div>
                        </div>

                    </roles-list-view>

                    <div class="remove-relations">
                        {# Relations serialized json form element #}
                        {{ Form.control(relationName ~ 'removeRelated', {
                            'type': 'hidden',
                            'name': 'relations[' ~ relationName ~ '][removeRelated]',
                            'v-model': 'removedRelationsData'
                        })|raw }}
                        {% do Form.unlockField('relations.' ~ relationName ~ '.removeRelated') %}
                    </div>
                </div>

            </relation-view>

        </div>

    </section>

</property-view>

{% endif %}
