{% set relationName = 'parents' %}

<property-view inline-template :tab-open="tabsOpen" tab-name="trees">
    <section class="fieldset">

        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ __('Position') }}</h2>
        </header>

        <div v-if="isOpen" class="tab-container">
            {% if objectType == 'folders' %}
                {% set relationName = 'parent' %}
                {% set options = { 'multiple': 'false' }%}
            {% else %}
                {% set relationName = 'parents' %}
                {% set options = { 'multiple': 'true' }%}
            {% endif %}

            <tree-view
                relation-name={{ relationName }}
                relation-label="{{ Layout.tr(relationName) }}"
                :object='{{ { id: object.id, type: object.type }|json_encode }}'
                :multiple-choice={{ options.multiple }}>
            </tree-view>
            {% do Form.unlockField('relations.' ~ relationName ~ '.replaceRelated') %}
            {{ Form.hidden('_changedParents', {'value': '0', 'id': 'changedParents'})|raw }}
            {% do Form.unlockField('_changedParents') %}
            {% do Form.unlockField('_changedCanonical') %}
        </div>
    </section>
</property-view>
