{#
    load-on-start, loading events timing
    800ms  - all folders (tree-view)
    1000ms - relations with folders
#}

{% set relationName = 'parents' %}
<property-view inline-template :tab-open="tabsOpen">
    <section class="fieldset order-{{ cssOrder }}" id="trees" :class="isOpen? '' : 'closed'">

    <header @click.prevent="toggleVisibility();" class="tab unselectable" v-bind:class="isLoading? 'is-loading-spinner' : ''">
        <h2>{{ __('Folders') }}</h2>
    </header>

    <div v-show="isOpen" class="tab-container">

        {# TODO put it in config #}
        {% if objectType == 'folders' %}
            {% set trees = {'parent': 'parent'} %}
            {% set options = {'multiple': 'false' }%}
        {% else %}
            {% set trees = {'parents': 'parents'} %}
            {% set options = {'multiple': 'true' }%}
        {% endif %}

        {% for relationName, val in trees %}
            <relation-view
                inline-template
                relation-name={{ relationName }}
                :multiple-choice={{ options.multiple }}
                :load-on-start="1200"
                @loading="onToggleLoading">

                    <div class="tree-{{ relationName }} unselectable">

                        <tree-view
                            inline-template
                            relation-name={{ relationName }}
                            :related-objects="objects"
                            :load-on-start="800"
                            :multiple-choice="multipleChoice"
                            @remove-relations="setRemovedRelated">
                            <div class="tree-view">
                                <div class="tree-entry-list" v-show="Object.keys(objects).length">
                                    <tree-list
                                        :item="jsonTree"
                                        :related-objects="relatedObjects"
                                        :multiple-choice="multipleChoice"
                                        object-id="{{ object.id }}"

                                        @add-relation="addRelation"
                                        @remove-relation="removeRelation"
                                        @remove-all-relations="removeAllRelations">
                                    </tree-list>

                                    <div v-if="multipleChoice" class="save-relations">
                                        {# Relations serialized json form element #}
                                        {{ Form.control(relationName ~ 'addRelated', {
                                            'type': 'hidden',
                                            'name': 'relations[' ~ relationName ~ '][addRelated]',
                                            'v-model': 'relationsData'
                                        })|raw }}
                                        {{ Form.unlockField('relations.' ~ relationName ~ '.addRelated')}}
                                    </div>

                                    <div v-else class="patch-relations">
                                        {# Relations serialized json form element #}
                                        {{ Form.control(relationName ~ 'replaceRelated', {
                                            'type': 'hidden',
                                            'name': 'relations[' ~ relationName ~ '][replaceRelated]',
                                            'v-model': 'relationsData'
                                        })|raw }}
                                        {{ Form.unlockField('relations.' ~ relationName ~ '.replaceRelated')}}
                                    </div>
                                </div>

                            </div>
                        </tree-view>

                        <div v-if="multipleChoice" class="remove-relations">
                            {# Relations serialized json form element #}
                            {{ Form.control(relationName ~ 'removeRelated', {
                                'type': 'hidden',
                                'name': 'relations[' ~ relationName ~ '][removeRelated]',
                                'v-model': 'relationsData'
                            })|raw }}
                            {{ Form.unlockField('relations.' ~ relationName ~ '.removeRelated')}}
                        </div>

                    </div>
            </relation-view>
        {% endfor %}

    </div>
</section>
</property-view>
