<section class="fieldset order-1">
    <h1>{{ __('Upload') }}</h1>

    {{ Form.create(null, {
        'id': 'form-upload',
        'type': 'file',
        'url': {'_name': 'modules:upload', 'object_type': object.type},
    })|raw }}
        {{ Form.control('model-type', { 'type': 'hidden', 'value': object.type}) | raw }}
        {{ Form.control('file', { 'type': 'file' }) | raw }}
        {{ Form.submit(__('Upload')) | raw }}
    {{ Form.end()|raw }}
</section>
