<section class="fieldset">
    <div class="create-media-box">

        {% set activeTab = 0 %}
        {% if object.type == 'videos' %}
            {% set ieLabel = ' i.e. https://www.youtube.com/watch?v=JXkN3nJyWEA' %}
            {% set activeTab = 1 %}
        {% elseif object.type == 'images' %}
            {% set ieLabel = ' i.e. https://flickr' %}
        {% endif %}

        <horizontal-tab-view
            :labels="['{{ __('Upload local file') }}', '{{ __('Embed online content') }}']"
            :default-active={{ activeTab }}
            inline-template>
            <div v-cloak>

                <div class="h-tabs">
                    <ul>
                        <li v-for="(label, i) in labels"
                            :class="i == activeIndex? 'is-active' : ''"
                            v-on:click="activeIndex = i"
                            ><a v-html="label"></a></li>
                    </ul>
                </div>

                <div class="h-tabs-contents">
                    <div class="h-tab" v-show="activeIndex == 0">
                        {{ Form.hidden('MAX_FILE_SIZE', {'value': System.getMaxFileSize()})|raw }}
                        {{ element('Form/form_file_upload') }}
                        {{ Form.control('model-type', { 'type': 'hidden', 'value': object.type}) | raw }}
                    </div>

                    <div class="h-tab" v-show="activeIndex == 1">
                        {{ Form.text('remote_url', {
                            'type': 'text',
                            'autocomplete': 'off',
                            'autocorrect': 'off',
                            'autocapitalize': 'off',
                            'spellcheck': 'false',
                            'class':'is-width-full',
                            'placeholder': __('Remote URL') ~ ieLabel }) | raw }}
                    </div>

                    {{ Form.control('upload_behavior', {
                        'type': 'hidden',
                        'v-bind:value': 'activeIndex == 0? `file` : `embed`'
                    }) | raw }}
                    {% do Form.unlockField('upload_behavior') %}

                </div>

            </div>
        </horizontal-tab-view>

    </div>
</section>
{# https://www.youtube.com/watch?v=AuEv942wOZs #}
