<div class="mb-1">
    <h1>{{ __('Password reset') }}</h1>
    <p>{{ __('Submit your email address and follow the instructions sent by email.') }}</p>
</div>

{{ Form.create(null, {
    'url': {'_name': 'password:reset'},
})|raw }}

<div class="mb-1">
    <label for="email">{{ __('Email') }}</label>
    <div>
        {{ Form.text('email', {
            'id': 'email',
            'autocomplete': 'email',
            'autocorrect': 'off',
            'autocapitalize': 'off',
            'spellcheck': 'false',
            'placeholder': 'e.g. john@example.com',
            'class': 'input',
        })|raw }}
    </div>
</div>

{{ Form.button(__('Request password reset'), {'type': 'submit'})|raw }}

{{ Form.end()|raw }}
