<div class="content">
    <h1>{{ __('Password reset') }}</h1>
    <p>{{ __('Submit your email address and follow the instructions sent by email.') }}</p>
</div>

{{ Form.create(null, {
    'url': {'_name': 'password:reset'},
})|raw }}

<div class="field">
    <label class="label">{{ __('Email') }}</label>
    <div class="control has-icons-left">
        {{ Form.text('email', {
            'autocomplete': 'email',
            'autocorrect': 'off',
            'autocapitalize': 'off',
            'spellcheck': 'false',
            'placeholder': 'e.g. john@example.com',
            'class': 'input',
        })|raw }}

        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
    </div>
</div>

<div class="field">
    <div class="control">
        {{ Form.button(__('Request password reset'), {
            'type': 'submit',
            'class': 'button is-info',
        })|raw }}
    </div>
</div>

{{ Form.end()|raw }}
