{% set selectBaseClasses = "has-background-gray-700 has-border-gray-700 has-font-weight-light has-text-gray-200 has-text-size-smallest" %}

<div class="relations-add">

    {# FastCreate #}
    {{ element(config('UI.fast_create_form._element')|default('Form/fast_create')) }}

    <section class="fieldset shrinks">
        <header class="mx-1 tab tab-static unselectable" v-bind:class="!objects || loading ? 'is-loading-spinner' : ''">
            <h2>
                <span v-show="relationName">
                    <strong>{{ __('add') }}</strong>
                    &nbsp;
                    {{ __('elements to') }}
                    &nbsp;
                    "<strong><: relationLabel :></strong>"
                </span>
            </h2>
            <div class="buttons">
                <button @click.prevent @click.stop="dataList=false" :data-active="!dataList" class="switch-view">
                    <app-icon icon="carbon:grid"></app-icon>
                </button>
                <button @click.prevent @click.stop="dataList=true" :data-active="dataList" class="switch-view">
                    <app-icon icon="carbon:list-bulleted"></app-icon>
                </button>
            </div>
        </header>

        <div class="px-1 my-1">
            {% set fbt = filtersByType ? filtersByType : [] %}
            {% set list = Schema.filterListByType(fbt, schemasByType) %}
            <filter-box-view
                config-paginate-sizes={{ config('Pagination.sizeAvailable')|json_encode|escape('html_attr') }}
                :pagination.sync="pagination"
                :relation-types="relationTypes"
                {% if list %}
                :filters-by-type="{{ list|json_encode|escape('html_attr') }}"
                {% endif %}
                objects-label="{{ __('objects') }}"

                @filter-update-current-page="onUpdateCurrentPage"
                @filter-update-page-size="onUpdatePageSize"
                @filter-objects="onFilterObjects"
                @filter-reset="onFilterObjects"

                inline-template
            >
                {{ element('FilterBox/filter_box', { 'showFilterSearchByType': true }) }}
            </filter-box-view>
        </div>

        <div class="px-1 mb-1 shrinks" v-if="!loading && objects.length > 0">
            <div>
                <input type="checkbox" id="pick-all" :checked="!!selectAll" @change="toggleAll($event)"/>
                <label class="ml-05 cursor-pointer" for="pick-all">{{ __('Pick all') }}</label>
            </div>
        </div>

        <div class="px-1 shrinks">
            <div class="columns" :data-list="dataList">
                <div class="ml-05 mb-1" v-if="loading">{{ __('Loading ...') }}</div>
                <div class="ml-05 mb-1" v-if="!loading && objects.length === 0">{{ __('No items found') }}</div>
                <template v-else>
                    <div class="related-item-column column is-3 is-one-quarter-fullhd" v-for="related in objects" v-if="relationName !== 'children' || related.type !== 'folders'">
                        {{ element('Form/related_item', { 'add': true }) }}
                    </div>
                </template>
            </div>
        </div>

        <footer class="p-1">
            <button class="has-background-info has-text-white"
                :disabled="!selectedObjects.length"
                @click.prevent="addRelationsToObject({
                    relationName: relationName,
                    objects: selectedObjects,
                })"
            >
                <app-icon icon="carbon:add"></app-icon>
                <span class="ml-05">{{ __('Add') }}</span>
                <span v-if="selectedObjects.length" class="mx-025 has-font-weight-bold"><: selectedObjects.length :></span>
                {{ __('objects to') }} <: relationName | humanize :>
            </button>

            <button class="mx-1" href="#" :disabled="saving" @click.prevent="closePanel()">
                <app-icon icon="carbon:close"></app-icon>
                <span class="ml-05">{{ __('Close') }}</span>
            </button>
        </footer>
    </section>
</div>
