{% do _view.assign('title', currentModule.name|humanize) %}

<div class="view-modules">

    {% element 'Toolbar/toolbar_pagination' %}

    {% element 'Toolbar/toolbar_filters' %}

    <div class="list-objects">
        <nav class="table-header">
            <div>{{ Link.sort('title')}}</div>
            <div>{{ Link.sort('id')}}</div>
            <div>{{ __('type') }}</div>
            <div>{{ __('status') }}</div>
            <div>{{ Link.sort('modified')}}</div>
            <div></div>
        </nav>

        {% for object in objects %}
            <a
                href="{{ Url.build({'_name': 'modules:view', 'object_type': object.type, 'id': object.id}) }}"
                title="{{ object.attributes.title }}"
                class="object-status-{{ object.attributes.status }}">
                    <div>{{ object.attributes.title }}</div>
                    <div>{{ object.id }}</div>
                    <div>{{ object.type }}</div>
                    <div>{{ object.attributes.status }}</div>
                    <div>{{ Time.format(object.meta.modified) }}</div>
                    <div>
                    {% if in_array('PATCH', currentModule.hints.allow) %}
                        {{ Form.postButton(__('Restore'), {'_name': 'trash:restore'}, {'data': {'id': object.id}})|raw }}
                    {% endif %}
                    {% if in_array('DELETE', currentModule.hints.allow) %}
                        {{ Form.postButton(__('Delete'), {'_name': 'trash:delete'}, {'data': {'id': object.id}})|raw }}
                    {% endif %}
                    </div>
            </a>
        {% else %}
            {{ __('No items found') }}
        {% endfor %}
    </table>
</div>
