<!DOCTYPE html>
<!--

██████╗ ███████╗██████╗ ██╗████████╗ █████╗     ██╗  ██╗
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗    ██║  ██║
██████╔╝█████╗  ██║  ██║██║   ██║   ███████║    ███████║
██╔══██╗██╔══╝  ██║  ██║██║   ██║   ██╔══██║    ╚════██║
██████╔╝███████╗██████╔╝██║   ██║   ██║  ██║         ██║
╚═════╝ ╚══════╝╚═════╝ ╚═╝   ╚═╝   ╚═╝  ╚═╝         ╚═╝

BEdita 4 ~ @ 2018 from ChannelWeb & Chialab with love
-->

<html>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ Html.meta('favicon.ico', '/favicon.ico', {'type': 'icon'})|raw }}

    {# fonts #}
    {{ Html.css(['be-icons-font'])|raw }}
    {{ Html.css(['be-icons-codes'])|raw }}

    {{ Html.css(['vendors'])|raw }}
    {{ Html.css(['style'])|raw }}

    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    {% element 'custom_colors' %}

    {# Temporarily fetching libraries' build from cdn #}
    <script src="https://cdn.ckeditor.com/4.9.0/full-all/ckeditor.js"></script>

    <title>{{ "#{_view.fetch('title')} | #{project.name ?: 'BEdita 4'}" }}</title>

    {% element 'json_meta_config' %}
</head>

<body class="{% if currentModule %}view-module module-{{ currentModule.name }}{% endif %} {{ _view.fetch('bodyViewClass') }}"
    {% if config('AlertMessage.text') %}alert-message="{{ config('AlertMessage.text') }}"{% endif %}>
    <main
        v-cloak
        class="layout"
        @click="pageClick($event)">

        {% if Layout.primarySidebar() %}
            <aside class="layout-sidebar-primary">
                {% element 'Menu/side-menu' %}
            </aside>
        {% endif %}

        {% if Layout.secondarySidebar() %}
            <aside class="layout-sidebar-secondary">
                {% element 'Menu/commands' %}
            </aside>
        {% endif %}

        {% if Layout.layoutHeader() %}
            <header class="layout-header">
                {% element 'Menu/menu' %}
            </header>
        {% endif %}

        {% if Layout.layoutContent() %}
            <div class="layout-content">
                {% element 'Modules/header' %}
                {{ _view.fetch('content')|raw }}
            </div>
        {% endif %}

        {% if Layout.layoutFooter() %}
            <div class="layout-footer">
                {{ project.name }}<br>
                {% element 'Menu/colophon' %}
            </div>
        {% endif %}

        {# component add relations with its own container #}
        {# {% element 'Form/relation_add' {'relationName': relationName} %} #}
        {% element 'panel' %}

        {# flash messages #}
        {% if Layout.messages() %}
            {{ Flash.render()|raw }}
        </section>
    {% endif %}
    </main>

    {% if Layout.messages() %}
    {% endif %}

    {# set timezone-offset value before login #}
    {% if _view.name == 'Login' %}
    <script>
        Date.prototype.stdTimezoneOffset = function() {
            var jan = new Date(this.getFullYear(), 0, 1);
            var jul = new Date(this.getFullYear(), 6, 1);
            return Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset());
        }

        Date.prototype.dst = function() {
            return this.getTimezoneOffset() < this.stdTimezoneOffset();
        }

        document.addEventListener("DOMContentLoaded", function() {
            var inputTZElement = document.getElementById('timezone-offset');
            if (inputTZElement) {
                var tz = (-60) * (new Date().getTimezoneOffset()) + ' ' + (new Date().dst() ? '1' : '0');
                inputTZElement.value = tz;
            }
        });
    </script>
    {% endif %}

    {{ Html.script('manifest.bundle')|raw }}
    {{ Html.script('vendors.bundle')|raw }}

    {{ Link.pluginsJsBundle()|raw }}

    {{ Html.script('app.bundle')|raw }}

</body>
</html>

