<!DOCTYPE html>
<!--

██████╗ ███████╗██████╗ ██╗████████╗ █████╗     ██╗  ██╗
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗    ██║  ██║
██████╔╝█████╗  ██║  ██║██║   ██║   ███████║    ███████║
██╔══██╗██╔══╝  ██║  ██║██║   ██║   ██╔══██║    ╚════██║
██████╔╝███████╗██████╔╝██║   ██║   ██║  ██║         ██║
╚═════╝ ╚══════╝╚═════╝ ╚═╝   ╚═╝   ╚═╝  ╚═╝         ╚═╝

BEdita 4 ~ @ 2018 from ChannelWeb & Chialab with love
-->

<html>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ Html.meta('favicon.ico', '/favicon.ico', {'type': 'icon'})|raw }}

    {# fonts #}
    {{ Html.css(['be-icons-font'])|raw }}
    {{ Html.css(['be-icons-codes'])|raw }}

    {{ Html.css(['vendors'])|raw }}
    {{ Html.css(['style'])|raw }}

    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    {% element 'modules_colors' %}

    {# Temporarily fetching libraries' build from cdn #}
    <script src="https://cdn.ckeditor.com/4.9.0/full-all/ckeditor.js"></script>

    <title>{{ "#{_view.fetch('title')} | #{project.name ?: 'BEdita 4'}" }}</title>

    {% element 'json_meta_config' %}
</head>

<body class="{% if currentModule %}view-module module-{{ currentModule.name }}{% endif %} {{ _view.fetch('bodyViewClass') }}">

    <main class="layout" v-show="vueLoaded">
        {% if _view.name == 'Dashboard' and _view.name != 'login' %}
            <aside class="layout-sidebar-primary">
                {% element 'Menu/project' %}
            </aside>
        {% endif %}

        {% if currentModule %}
            <aside class="layout-sidebar-secondary">
                {% element 'Menu/commands' %}
            </aside>
        {% endif %}

        {% if _view.name != 'Dashboard' and _view.name != 'Login' %}
            <header class="layout-header">
                {% element 'Menu/menu' %}
            </header>
        {% endif %}

        <div class="layout-content">
            {% element 'Modules/header' %}
            {{ _view.fetch('content')|raw }}
        </div>

        {% if currentModule %}
            <div class="layout-footer">
                {{ project.name }}<br>
                {% element 'Menu/colophon' %}
            </div>
        {% endif %}
    </main>

    {% if _view.name != 'login' %}
        {% element 'Messages/messages' %}
    {% endif %}

    {{ Html.script('manifest.bundle')|raw }}
    {{ Html.script('vendors.bundle')|raw }}
    {{ Html.script('app.bundle')|raw }}

</body>
</html>

