<!DOCTYPE html>
<!--

██████╗ ███████╗██████╗ ██╗████████╗ █████╗     ██╗  ██╗
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗    ██║  ██║
██████╔╝█████╗  ██║  ██║██║   ██║   ███████║    ███████║
██╔══██╗██╔══╝  ██║  ██║██║   ██║   ██╔══██║    ╚════██║
██████╔╝███████╗██████╔╝██║   ██║   ██║  ██║         ██║
╚═════╝ ╚══════╝╚═════╝ ╚═╝   ╚═╝   ╚═╝  ╚═╝         ╚═╝

BEdita 4 ~ @ 2018 from ChannelWeb & Chialab with love
-->

<html>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ Html.meta('favicon.ico', '/favicon.ico', {'type': 'icon'})|raw }}

    {{ Html.css(['style'])|raw }}
    {#
    {{ Html.css(['be-icons-font'])|raw }}
    {{ Html.css(['be-icons-codes'])|raw }}
    #}
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    {% element 'modules_colors' %}

    {{ Html.script('libs/jquery/jquery-3.3.1.min')|raw }}
    {{ Html.script('libs/jquery/plugins/jquery.autosize.min')|raw }}
    {{ Html.script('libs/jquery/plugins/jquery.float_thead.min')|raw }}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <title>{{ "#{_view.fetch('title')} | #{project.name ?: 'BEdita 4'}" }}</title>

    {% element 'json_meta_config' %}
</head>

<body class="{% if currentModule %}view-module module-{{ currentModule.name }}{% endif %} {{ _view.fetch('bodyViewClass') }}">

    <main class="layout" v-bind:class="{ 'fadein': vueLoaded }">

        {% if _view.template != 'login' %}
            <aside class="layout-sidebar-primary">
                {% element 'Messages/messages' %}
                {% element 'project' %}
            </aside>
        {% endif %}

        {% if currentModule %}
            <aside class="layout-sidebar-secondary">
                {% element 'Menu/commands' %}
            </aside>

             <header class="layout-header">
                {% element 'layout_header' %}
            </header>
        {% endif %}

        <div class="layout-content">
            {{ _view.fetch('content')|raw }}
        </div>
    </main>

    {{ Html.script('config/config')|raw }}

    {{ Html.script('beditaUI')|raw }}
    {{ Html.script('libs/select2/select2.min')|raw }}

    {# Modules Page #}
    {{ Html.script('app/modules/view')|raw }}
    {{ Html.script('app/modules/index')|raw }}

    {# Trash Page #}
    {{ Html.script('app/trash/view')|raw }}
    {{ Html.script('app/trash/index')|raw }}
    {{ Html.script('app/app')|raw }}

</body>
</html>
