<!DOCTYPE html>
<!--

██████╗ ███████╗██████╗ ██╗████████╗ █████╗     ██╗  ██╗
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗    ██║  ██║
██████╔╝█████╗  ██║  ██║██║   ██║   ███████║    ███████║
██╔══██╗██╔══╝  ██║  ██║██║   ██║   ██╔══██║    ╚════██║
██████╔╝███████╗██████╔╝██║   ██║   ██║  ██║         ██║
╚═════╝ ╚══════╝╚═════╝ ╚═╝   ╚═╝   ╚═╝  ╚═╝         ╚═╝

BEdita 4 ~ @ 2018 from ChannelWeb & Chialab with love
-->

<html lang="{{ config('I18n.lang', 'en')}}">
<head>
    {{ Html.charset()|raw }}
    {{ element('meta') }}
    <title>{{ "#{_view.fetch('title')} | #{project.name ?: 'BEdita 4'}" }}</title>

    {# fonts #}
    {{ Html.css(['be-icons-font'])|raw }}
    {{ Html.css(['be-icons-codes'])|raw }}

    {# vendors.css it's only generated when vendors css are imported statically, uncomment if you do so #}
    {# {{ Html.css(['app.b59441'])|raw }} #}
    {{ Link.cssBundle([ 'app', 'vendors' ])|raw }}

    {{ element('custom_colors') }}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;1,200;1,400&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=IBM+Plex+Serif:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap" rel="stylesheet">

    {{ element('json_meta_config') }}
</head>

{% set bodyClass = _view.fetch('bodyViewClass') %}
{% if currentModule %}
    {% set bodyClass = bodyClass ~ ' view-module module-' ~ currentModule.name %}
{% endif %}

{% set alertMsg = '' %}
{% if config('Recovery') %}
    {% set alertMsg = __('Recovery Mode - Access restricted to admin users') %}
{% elseif config('AlertMessage.text') %}
    {% set alertMsg = config('AlertMessage.text') %}
{% endif %}

<body class="{{ bodyClass }}"
    {% if alertMsg %}alert-message="{{ alertMsg }}"{% endif %}>

    <main
        v-cloak
        class="layout">

        {% if not Layout.isLogin() and user %}
        <aside class="layout-sidebar">
            {{ element('Menu/sidebar') }}
        </aside>
        {% endif %}

        {% if not Layout.isLogin() and not Layout.isDashboard() and user %}
            <header class="layout-header">
                {{ element('Menu/menu') }}
            </header>
        {% endif %}

        <div class="layout-content">
            {{ _view.fetch('content')|raw }}
        </div>

        {% if not Layout.isLogin() and user %}
        <div class="layout-footer">
            {{ element('Menu/colophon') }}
        </div>
        {% endif %}

        {% if not Layout.isLogin() and not Layout.isDashboard() and user %}
            {{ element('Panel/panel') }}
        {% endif %}

        {# flash messages #}
        {% if Layout.messages() %}
            {{ Flash.render()|raw }}
        {% endif %}
    </main>

    {# {{ Html.script('manifest.bundle')|raw }} #}

    {# vendors.bundle it's only generated when vendors are imported statically, uncomment if you do so #}
    {# {{ Html.script('vendors.bundle')|raw }} #}

    {% if _view.name != 'Login' %}
        {{ Link.pluginsBundle()|raw }}
    {% else %}
        {# timezone-offset used in controller and TWIG #}
        {{ Html.script('libs/timezone')|raw }}
    {% endif %}

    {{ Link.jsBundle([ 'manifest', 'vendors', 'app' ])|raw }}

    {# {{ Html.script('app.bundle')|raw }} #}
</body>
</html>
