<!DOCTYPE html>
<!--

██████╗ ███████╗██████╗ ██╗████████╗ █████╗     ██╗  ██╗
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗    ██║  ██║
██████╔╝█████╗  ██║  ██║██║   ██║   ███████║    ███████║
██╔══██╗██╔══╝  ██║  ██║██║   ██║   ██╔══██║    ╚════██║
██████╔╝███████╗██████╔╝██║   ██║   ██║  ██║         ██║
╚═════╝ ╚══════╝╚═════╝ ╚═╝   ╚═╝   ╚═╝  ╚═╝         ╚═╝

BEdita 4 ~ @ 2018 from ChannelWeb & Chialab with love
-->

<html>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ Html.meta('favicon.ico', '/favicon.ico', {'type': 'icon'})|raw }}

    {# fonts #}
    {{ Html.css(['be-icons-font'])|raw }}
    {{ Html.css(['be-icons-codes'])|raw }}

    {{ Html.css(['vendors'])|raw }}
    {{ Html.css(['style'])|raw }}

    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    {% element 'modules_colors' %}

    {# Temporarily fetching libraries' build from cdn #}
    <script src="https://cdn.ckeditor.com/4.9.0/full-all/ckeditor.js"></script>

    {# used in humanize script in app.js, to be removed and change the method #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xregexp/3.2.0/xregexp-all.min.js"></script>

    <title>{{ "#{_view.fetch('title')} | #{project.name ?: 'BEdita 4'}" }}</title>

    {% element 'json_meta_config' %}
</head>

<body class="{% if currentModule %}view-module module-{{ currentModule.name }}{% endif %} {{ _view.fetch('bodyViewClass') }}">

    <main @click="pageClick($event)" class="layout" v-show="vueLoaded" v-bind:class="panelIsOpen? 'panel-is-open' : ''">

        {% if Site.primarySidebar() %}
            <aside class="layout-sidebar-primary">
                {% element 'Menu/project' %}
            </aside>
        {% endif %}

        {% if Site.secondarySidebar() %}
            <aside class="layout-sidebar-secondary">
                {% element 'Menu/commands' %}
            </aside>
        {% endif %}

        {% if Site.layoutHeader() %}
            <header class="layout-header">
                {% element 'Menu/menu' %}
            </header>
        {% endif %}

        {% if Site.layoutContent() %}
            <div class="layout-content">
                {% element 'Modules/header' %}
                {{ _view.fetch('content')|raw }}
            </div>
        {% endif %}

        {% if Site.layoutFooter() %}
            <div class="layout-footer">
                {{ project.name }}<br>
                {% element 'Menu/colophon' %}
            </div>
        {% endif %}

        {# component add relations with its own container #}
        {# {% element 'Form/relation_add' {'relationName': relationName} %} #}
        {% element 'panel' %}
    </main>

    {% if Site.messages() %}
        {% element 'Messages/messages' %}
    {% endif %}

    {{ Html.script('manifest.bundle')|raw }}
    {{ Html.script('vendors.bundle')|raw }}

    {{ Link.pluginsJsBundle()|raw }}

    {{ Html.script('app.bundle')|raw }}

</body>
</html>

