<!DOCTYPE html>
<html>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ Html.meta('favicon.ico', '/favicon.ico', {'type': 'icon'})|raw }}

    {{ Html.css(['style'])|raw }}
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    {% element 'modules_colors' %}

    {{ Html.script('libs/jquery/jquery-3.3.1.min')|raw }}
    {{ Html.script('libs/jquery/plugins/jquery.autosize.min')|raw }}
    {{ Html.script('libs/jquery/plugins/jquery.float_thead.min')|raw }}

    <title>{{ "#{__('Error')} | #{project.name ?: 'BEdita 4'}" }}</title>

</head>

<body>

<main>
    <aside class="grid-main-sidebar-1">
        {% element 'Messages/messages' %}
        {% element 'Menu/left' %}
    </aside>

    {% if currentModule %}
        <aside class="grid-main-sidebar-2">
            {% element 'Menu/commands' %}
        </aside>

        <header class="grid-main-header">
            {% element 'Menu/modules' %}
        </header>
    {% endif %}

    <div class="grid-main-content">
        {{ _view.fetch('content')|raw }}
    </div>
</main>

{{ Html.script('beditaUI')|raw }}
{{ Html.script('libs/select2/select2.min')|raw }}

</body>
</html>
