<!DOCTYPE html>
<html>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ Html.meta('favicon.ico', '/favicon.ico', {'type': 'icon'})|raw }}

    {{ Html.css(['style'])|raw }}

    {{ Html.css(['be-icons-font'])|raw }}
    {{ Html.css(['be-icons-codes'])|raw }}
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    {% element 'modules_colors' %}

    <title>{{ "#{__('Error')} | #{project.name ?: 'BEdita 4'}" }}</title>

</head>

<body>

    <main class="grid">
        <aside class="main-sidebar">
            {% element 'Messages/messages' %}
            {% element 'Menu/left' %}
        </aside>

        {% if currentModule %}
            <aside class="secondary-sidebar">
                {% element 'Menu/commands' %}
            </aside>

            <header class="content-header">
                {% element 'Menu/modules' %}
            </header>
        {% endif %}

        <div class="main-content">
            {{ _view.fetch('content')|raw }}
        </div>
    </main>

</body>
</html>
