{% do _view.assign('title', __('Trashcan')) %}

<trash-view inline-template>
<div class="modules-view">

    <header>
        <h1>{{ object.attributes.title|default(__('New entry in') ~ ' ' ~ objectType) }}</h1>
        <span class="has-background-module-{{ object.type }} tag has-font-weight-bold">{{ Layout.tr(object.type)|capitalize }}</span>
    </header>

    <div class="module-form">
        {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
            'url': {'_name': 'trash:list'},
            'id': 'form-main',
        })|raw }}

            <div class="main-view-column">
                {{ element('Form/core_properties') }}
                {{ element('Form/custom_left') }}

                {# calendar using `date_ranges` #}
                {{ element('Form/calendar') }}

                {{ element('Form/categories') }}

                {{ element('Form/media') }}

                {{ element('Form/map') }}

                {{ element('Form/other_properties') }}
            </div>

            <div class="side-view-column">
                {{ element('Form/publish_properties') }}

                {{ element('Form/advanced_properties') }}

                {{ element('Form/meta') }}
            </div>

        {{ Form.end()|raw }}

        {# Append "Delete" and "Restore" to commands in commands menu. #}
        {{ Form.create(null, {'id': 'form-restore-object', 'url': Url.build({'_name': 'trash:restore'})})|raw }}
            {{ Form.hidden('id', {'value': object.id})|raw }}
        {{ Form.end()|raw }}
        {{ Form.create(null, {'id': 'form-delete-object', 'url': Url.build({'_name': 'trash:delete'})})|raw }}
            {{ Form.hidden('id', {'value': object.id})|raw }}
        {{ Form.end()|raw }}
        {% do _view.append(
            'app-module-buttons',
            '<button form="form-restore-object" class="button button-primary button-primary-hover-module-' ~ currentModule.name ~ ' is-width-auto" onclick="this.classList.add(\'is-loading-spinner\')"><Icon icon="carbon:redo"></Icon><span class="ml-05">' ~ __('Restore') ~ '</span></button>'
            ~ '<button form="form-delete-object" class="button button-primary button-primary-hover-module-' ~ currentModule.name ~ ' is-width-auto" onclick="this.classList.add(\'is-loading-spinner\')"><Icon icon="carbon:trash-can"></Icon><span class="ml-05">' ~ __('Delete') ~ '</span></button>'
        ) %}
    </div>

</div>
</trash-view>
