{% do _view.assign('title', 'Model ' ~ resourceType|humanize) %}
{% do _view.assign('bodyViewClass', 'view-module view-model') %}

<modules-view inline-template ref="moduleView">
<div class="modules-view">

    {% if resource.id %}
    <header>
        <h1 untitled-label="{{ __('Untitled') }}">{{ resource.attributes.name }}</h1>
    </header>
    {% endif %}

    <div class="module-form">

        {{ Form.create({'defaults': resource.attributes, 'schema': {}}, {
            'url': {'_name': 'model:save:relations'},
            'id': 'form-main',
            'check-changes': 'true',
        })|raw }}

            {{ Form.hidden('id', {'value': resource.id})|raw }}

            <div class="main-view-column">
                {{ element('Form/core_properties') }}
                {# hide relation types on new relations for now #}
                {% if resource.id %}
                    {{ element('Model/relation_types') }}
                {% endif %}
            </div>

            <div class="side-view-column">
                {{ element('Form/meta') }}
            </div>

        {# Set `_jsonKeys` hidden input from config #}
        {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': config('_jsonKeys', [])|join(',')})|raw }}

        {{ Form.end()|raw }}

        {% do _view.append('module-buttons', Form.submit(__('Save'), {'form': 'form-main', 'class': 'button button-primary'})) %}
        {% do _view.append('module-buttons', Form.postButton(__('Remove'), {'_name': 'model:remove:relations', 'id': resource.id})) %}
    </div>

    {{ element('Model/sidebar_links') }}

</div>
</modules-view>
