{% set boxClass = 'box pb-05 has-background-black has-text-white' %}
{% set tagClass = 'tag' %}

{% if type == 'custom' %}
    {% set boxClass = 'box pb-05 has-background-info has-text-white' %}
    {% set tagClass = 'tag is-dark' %}
{% elseif type == 'inherited' %}
    {% set boxClass = 'box pb-05 has-background-gray-800 has-text-white' %}
    {% set tagClass = 'tag has-background-module-' ~ prop.attributes.object_type_name %}
{% endif %}


<div class="{{ boxClass }}">
    <div class="columns">
        <div class="column">
            <span class="{{ tagClass }}">{{ prop.attributes.name }}</span>
            <p>Label: {{ prop.attributes.label | default('-') }}</p>
            <p>Type: {{ prop.attributes.property_type_name }}</p>

            {% if type == 'inherited' %}
                <p>Inherited from: {{ prop.attributes.object_type_name }}</p>
            {% endif %}

            {% if prop.attributes.description %}
                <p>&nbsp;</p>
                <p>{{ prop.attributes.description|capitalize }}</p>
            {% endif %}
        </div>

        {% if not (prop.attributes.name in noButtonsFor) %}
            <div class="column is-narrow">
                <div class="buttons-container">
                    {% if type == 'custom' %}
                        <button class="button is-expanded">Delete</button>
                    {% endif %}
                    <button class="button is-expanded">Hide</button>
                </div>
            </div>
        {% endif %}
    </div>
</div>
