<div class="input">
    <label for="">{{__('Left types') }}</label>
    {% for left in left_object_types|sort %}
        <span class="tag has-background-module-{{ left }}">{{ left }}</span>
    {% endfor %}
</div>

<div class="input">
    <label for="">{{__('Right types') }}</label>
    {% for right in right_object_types|sort %}
        <span class="tag has-background-module-{{ right }}">{{ right }}</span>
    {% endfor %}
</div>
