<!DOCTYPE html>
<!--

██████╗░███████╗██████╗░██╗████████╗░█████╗░  ███╗░░░███╗░█████╗░███╗░░██╗░█████╗░░██████╗░███████╗██████╗░
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗  ████╗░████║██╔══██╗████╗░██║██╔══██╗██╔════╝░██╔════╝██╔══██╗
██████╦╝█████╗░░██║░░██║██║░░░██║░░░███████║  ██╔████╔██║███████║██╔██╗██║███████║██║░░██╗░█████╗░░██████╔╝
██╔══██╗██╔══╝░░██║░░██║██║░░░██║░░░██╔══██║  ██║╚██╔╝██║██╔══██║██║╚████║██╔══██║██║░░╚██╗██╔══╝░░██╔══██╗
██████╦╝███████╗██████╔╝██║░░░██║░░░██║░░██║  ██║░╚═╝░██║██║░░██║██║░╚███║██║░░██║╚██████╔╝███████╗██║░░██║
╚═════╝░╚══════╝╚═════╝░╚═╝░░░╚═╝░░░╚═╝░░╚═╝  ╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝╚═╝░░╚═╝░╚═════╝░╚══════╝╚═╝░░╚═╝

BEdita Manager
-->

<html lang="{{ config('I18n.lang', 'en')}}">
<head>
    {{ Html.charset()|raw }}

    {{ Html.meta('viewport', 'width=device-width, initial-scale=1.0')|raw }}
    {{ Html.meta('description', 'BEdita Manager, official BEdita API admin tool')|raw }}
    {{ Html.meta('generator', 'BEdita Manager v' ~ config('Manager.version'))|raw }}

    <title>{{ Layout.title()|default(_view.fetch('title')) }} | {{ "#{project.name ?: 'BEdita Manager'}" }}</title>

    {{ Html.meta('icon', "favicon.png", { type:'image/png' } )|raw }}
    {# fonts #}
    {{ Html.css(['be-icons-font'])|raw }}
    {{ Html.css(['be-icons-codes'])|raw }}

    {{ Link.cssBundle([ 'app', 'vendors' ])|raw }}

    {{ element('custom_colors') }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {{ element('json_meta_config') }}
</head>

{% set bodyClass = _view.fetch('bodyViewClass') %}
{% if currentModule %}
    {% set bodyClass = bodyClass ~ ' view-module module-' ~ currentModule.name %}
{% endif %}

{% set alertMsg = System.alertMsg() %}

<body class="{{ bodyClass }}"
    {% if alertMsg %}alert-message="{{ alertMsg }}"{% endif %}>

    <main
        v-cloak
        class="layout">

        {% if not Layout.isLogin() and user %}
        <aside class="layout-sidebar">
            {{ element('Menu/sidebar') }}
        </aside>
        {% endif %}

        {% if not Layout.isLogin() and not Layout.isDashboard() and user %}
            <header class="layout-header">
                {{ element('Menu/menu') }}
            </header>
        {% endif %}

        <div class="layout-content">
            {{ _view.fetch('content')|raw }}
        </div>

        {% if not Layout.isLogin() and user %}
        <div class="layout-footer">
            {{ element('Menu/colophon') }}
        </div>
        {% endif %}

        {% if not Layout.isLogin() and not Layout.isDashboard() and user %}
            {{ element('Panel/panel') }}
        {% endif %}

        {# flash messages #}
        {% if Layout.messages() %}
            {{ Flash.render()|raw }}
        {% endif %}
    </main>

    {% if _view.name != 'Login' %}
        {{ Link.pluginsBundle()|raw }}
    {% else %}
        {# timezone-offset used in controller and TWIG #}
        {{ Html.script('libs/timezone')|raw }}
    {% endif %}

    {{ Link.jsBundle([ 'manifest', 'vendors', 'app' ])|raw }}
</body>
</html>
