<section class="error-page-container">
    <header>
        <h1>{{ __('Error ') }} {{ error.code }}</h1>
    </header>

    <div>
        <p class="error-message">
            {{ message }}
        </p>

        {% if config('debug') %}

            {% if error %}
            <hr>
            <p class="error-message">
                <strong>Error in: </strong>
                {{ error.getFile }}, line {{ error.getLine }}
            </p>
            {% endif %}

        {% endif %}
    </div>

    <div>
        <p class="error-message">
            <a href="/" class="button button-outlined">{{ __('Return to Dashboard') }}</a>
        </p>
    </div>

    <div></div>

    <div>
        <p class="error-message">
            <a href="/logout" class="button button-outlined">{{ __('Log out') }}</a>
        </p>
    </div>

</section>
